section#footer
  .container-fluid.navbar-inverse.modul-bt-one
    .container.modul-space-twentysix
      .row
        .col-xs-12.col-sm-12.col-md-4
          .footer-one
            img.footer-logo(src='img/theme/logo-text.png', alt='Logo')
            p
              | 生活中，有些保护者adipiscing局的恐惧。直到喝乌仁娜接踵而至并非总是如此，我malesuada酱。无频谱共享的作者可以使用用箭头。整数，除非和化妆。每个悲坐AMET tempor得到的生活。
            a.btn.btn-footer(href='#')
              i.fa.fa-facebook
            a.btn.btn-footer(href='#')
              i.fa.fa-twitter
            a.btn.btn-footer(href='#')
              i.fa.fa-linkedin
            a.btn.btn-footer(href='#')
              i.fa.fa-pinterest-square
        .col-xs-12.col-sm-12.col-md-4
          .footer-two
            h6 公司新闻
            ul
              li
                img(src='img/theme/p6.jpg', alt='Image')
                p
                  strong 恐惧的生活故事
                small
                  i.fa.fa-calendar-o.footer-icon
                  | 18 一月
                  i.fa.fa-comments.footer-icon-two
                  | 14 评论
                p
                  a(href='#') 阅读更多..
                .clearfix
              li
                img(src='img/theme/p2.jpg', alt='Image')
                p
                  strong 担心预算局亿特
                small
                  i.fa.fa-calendar-o.footer-icon
                  | 15 一月
                  i.fa.fa-comments.footer-icon-two
                  | 28 评论
                p
                  a(href='#') 阅读更多..
                .clearfix
        .col-xs-12.col-sm-12.col-md-4
          .footer-three
            h6 我们的投资组合
            ul
              li
                img(src='img/theme/p1.jpg', alt='Image')
              li
                img(src='img/theme/p2.jpg', alt='Image')
              li
                img(src='img/theme/p3.jpg', alt='Image')
              li
                img(src='img/theme/p4.jpg', alt='Image')
              li
                img(src='img/theme/p5.jpg', alt='Image')
              li
                img(src='img/theme/p6.jpg', alt='Image')
              li
                img(src='img/theme/p7.jpg', alt='Image')
              li
                img(src='img/theme/p8.jpg', alt='Image')
