section#footer
  .container-fluid.navbar-inverse.modul-bt-one
    .container.modul-space-twentysix
      .row
        .col-xs-12.col-sm-12.col-md-4
          .footer-one
            img.footer-logo(src='img/theme/logo-text.png', alt='Logo')
            p
              | Maecenas adipiscing hendrerit metus vitae aliquam. Donec bibendum urna volutpat metus semper, non malesuada erat condimentum. Nullam placerat libero sit amet dui auctor iaculis. Integer et rutrum nisi. Quisque aliquet vitae dolor sit amet tempor.
            a.btn.btn-footer(href='#')
              i.fa.fa-facebook
            a.btn.btn-footer(href='#')
              i.fa.fa-twitter
            a.btn.btn-footer(href='#')
              i.fa.fa-linkedin
            a.btn.btn-footer(href='#')
              i.fa.fa-pinterest-square
        .col-xs-12.col-sm-12.col-md-4
          .footer-two
            h6 Our News
            ul
              li
                img(src='img/theme/p6.jpg', alt='Image')
                p
                  strong Metus Vite Aliquam
                small
                  i.fa.fa-calendar-o.footer-icon
                  | 18 Jan
                  i.fa.fa-comments.footer-icon-two
                  | 14 Comment
                p
                  a(href='#') read more..
                .clearfix
              li
                img(src='img/theme/p2.jpg', alt='Image')
                p
                  strong Hendrerit Metus Vite Donec
                small
                  i.fa.fa-calendar-o.footer-icon
                  | 15 Jan
                  i.fa.fa-comments.footer-icon-two
                  | 28 Comment
                p
                  a(href='#') read more..
                .clearfix
        .col-xs-12.col-sm-12.col-md-4
          .footer-three
            h6 Our Portfolio
            ul
              li
                img(src='img/theme/p1.jpg', alt='Image')
              li
                img(src='img/theme/p2.jpg', alt='Image')
              li
                img(src='img/theme/p3.jpg', alt='Image')
              li
                img(src='img/theme/p4.jpg', alt='Image')
              li
                img(src='img/theme/p5.jpg', alt='Image')
              li
                img(src='img/theme/p6.jpg', alt='Image')
              li
                img(src='img/theme/p7.jpg', alt='Image')
              li
                img(src='img/theme/p8.jpg', alt='Image')

  .bottom-menu.bottom-menu-inverse
    .container.modul-space-twentyseven
      .row
        .col-md-1
          img(src='img/theme/logo-icon.png', height='40', alt='logo')
        .col-md-11
          ul.bottom-links.pull-right.hidden-sm.hidden-xs
            li
              a(href='#fakelink') About Us
            li
              a(href='#fakelink') Store
            li.active
              a(href='#fakelink') Jobs
            li
              a(href='#fakelink') Privacy
            li
              a(href='#fakelink') Terms
            li
              a(href='#fakelink') Follow Us
            li
              a(href='#fakelink') Support
            li
              a(href='#fakelink') Links
