meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

meta(name="HandheldFriendly" content="True")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name='description', content='Design Tamplate')
meta(name='csrf-token', content=_csrf)
meta(name='author', content='Honglio')

title #{title} | Design Tamplate

link(rel='stylesheet', href='css/lib/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='css/lib/font-awesome.min.css', type='text/css')
link(rel='stylesheet', href="css/lib/flat-ui.css", type='text/css')
link(rel='stylesheet', href='css/base.css', type='text/css')
link(rel='stylesheet', href='css/style-blue.css', type='text/css')

//- Skins
link(rel='alternate stylesheet', type='text/css', href='css/style-blue.css', title='blue', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-black.css', title='black', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-cyan.css', title='cyan', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-green.css', title='green', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-orange.css', title='orange', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-pink.css', title='pink', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-purple.css', title='purple', media='all')
link(rel='alternate stylesheet', type='text/css', href='css/style-red.css', title='red', media='all')
//- END Skins

<!-- Slider -->
link(rel='stylesheet', href='rs-plugin/css/settings.css', type='text/css')
link(rel='stylesheet', href='showbizpro/css/settings.css', type='text/css' media="screen")

//- IE6-8 support of HTML5 elements, RAW html, Do not compile to Jade.
<!--[if lt IE 9]>
<script src="js/vendors/html5shiv.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script src="js/vendors/jquery.placeholder.js"></script>
<![endif]-->

<!-- JS -->
script(type='text/javascript', src='js/vendors/modernizr.custom.js')
script(type='text/javascript', src='js/vendors/toucheffects.js')
script(type='text/javascript', src='js/vendors/jquery.js')
script(type='text/javascript', src='js/vendors/jquery-ui-1.10.3.custom.min.js')
script(type='text/javascript', src='js/vendors/jquery.ui.touch-punch.min.js')
script(type='text/javascript', src='js/vendors/bootstrap.js')
//- script(type='text/javascript', src='js/vendors/flat-ui.js')
script(type='text/javascript', src='js/vendors/less-1.7.5.min.js')
