//
   Music Modal Box
#view-post-music.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Music Title
      .modal-body
        iframe.iframe-options-two(src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2384806&color=179ce3&auto_play=false&show_artwork=false')
      .modal-footer
        a.btn.btn-default(href='#fakelink')
          span.fui-googleplus
        a.btn.btn-default(href='#fakelink')
          span.fui-facebook
        a.btn.btn-default(href='#fakelink')
          span.fui-twitter
        button.btn.btn-default(type='button', data-dismiss='modal') Close
