//
   Video Modal Box
#view-post-video.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Video Title
      .modal-body
        iframe.iframe-options(src='http://player.56.com/v_MTE2NjMzOTQz.swf/1030_xl-xzrjlwlgyr.swf')
      .modal-footer
        a.btn.btn-default(href='#fakelink')
          span.fui-googleplus
        a.btn.btn-default(href='#fakelink')
          span.fui-facebook
        a.btn.btn-default(href='#fakelink')
          span.fui-twitter
        button.btn.btn-default(type='button', data-dismiss='modal') Close
