//
   Six Modal Box
#view-portfolio-six.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Portfolio Title
      .modal-body
        img.portlio-list-img(src='img/theme/p6.jpg', alt='img04')
      .modal-footer
        a.btn.btn-default(href='#fakelink')
          span.fui-googleplus
        a.btn.btn-default(href='#fakelink')
          span.fui-facebook
        a.btn.btn-default(href='#fakelink')
          span.fui-twitter
        button.btn.btn-default(type='button', data-dismiss='modal') Close
