//
   Slider Bottom
.container-fluid.module-background-four
  .container.slide-bottom
    .row
      .col-xs-12.col-sm-12.col-md-8
        .slide-bottom-title
          h2 保护者投资汤料
          p
            | 明天，但他们错过了宣传。孩子们在沙拉。本场比赛的成员，我拷打接收Laoreet车辆。
      .col-xs-12.col-sm-12.col-md-4
        a.btn.btn-primary.pull-right.slide-bottom-button.hidden-sm.hidden-xs Trial Now
