.row
  //
     Services One
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-price-one.mso-icon-ten
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        .hi-icon
          h1 199元
          h6 / 每月
      h2 基础版
      ul
        li 虚拟主机
        li 服务器客户端
        li 全球域名
        li 无限的电子邮件
        li 20GB存储
      a.btn.btn-default.btn-lg 立即购买
  //
     Services Two
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-price-one.mso-icon-ten
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        .hi-icon
          h1 299元
          h6 / 每月
      h2 标准版
      ul
        li 虚拟主机
        li 服务器客户端
        li 全球域名
        li 无限的电子邮件
        li 20GB存储
      a.btn.btn-default.btn-lg 立即购买
  //
     Services Three
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-price-one.mso-icon-ten
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        .hi-icon
          h1 399元
          h6 / 每月
      h2 商务版
      ul
        li 虚拟主机
        li 服务器客户端
        li 全球域名
        li 无限的电子邮件
        li 20GB存储
      a.btn.btn-primary.btn-lg 立即购买
  //
     Services Four
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-price-one.mso-icon-ten
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        .hi-icon
          h1 499元
          h6 / 每月
      h2 旗舰版
      ul
        li 虚拟主机
        li 服务器客户端
        li 全球域名
        li 无限的电子邮件
        li 20GB存储
      a.btn.btn-default.btn-lg 立即购买
