.row
  .col-md-12
    .advert-two-title
      i.fa.fa-twitter.fa-2x.latest-tweet-icon
      h1 Latest Tweets
      p
        | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
      p
        strong @DiversityThemes
      a.btn.btn-default.advert-button-ten Follow
