include ./advert-title-2
.row
  .col-xs-12.col-md-6
    .mso-icon-nine
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        img.img-circle.mso-nine-img.hi-icon(src='img/theme/c1.jpg', alt='Client')
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-facebook
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-twitter
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-linkedin
      h6 采访中，甚至成员
      small 主题森林 / 2013年1月14日
      p 你需要你的胡斯托。 Quisque ornareviéndose为了方便起见，任何使用酱油。
    .clearfix
  .col-xs-12.col-md-6
    .mso-icon-nine
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        img.img-circle.mso-nine-img.hi-icon(src='img/theme/c2.jpg', alt='Client')
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-facebook
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-twitter
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-linkedin
      h6 采访中，甚至成员
      small 图文河 / 2013年1月14日
      p 你需要你的胡斯托。 Quisque ornareviéndose为了方便起见，任何使用酱油。
    .clearfix
  .col-xs-12.col-md-6
    .mso-icon-nine
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        img.img-circle.mso-nine-img.hi-icon(src='img/theme/c3.jpg', alt='Client')
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-facebook
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-twitter
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-linkedin
      h6 采访中，甚至成员
      small 代码峡谷 / 2013年1月14日
      p 你需要你的胡斯托。 Quisque ornareviéndose为了方便起见，任何使用酱油。
    .clearfix
  .col-xs-12.col-md-6
    .mso-icon-nine
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        img.img-circle.mso-nine-img.hi-icon(src='img/theme/c4.jpg', alt='Client')
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-facebook
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-twitter
      a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
        i.fa.fa-linkedin
      h6 采访中，甚至成员
      small 恩到了 / 2013年1月14日
      p 你需要你的胡斯托。 Quisque ornareviéndose为了方便起见，任何使用酱油。
    .clearfix
