//
   Slider Bottom
.container-fluid.module-background-four
  .container.slide-bottom
    .row
      .col-xs-12.col-sm-12.col-md-8
        .slide-bottom-title
          h2 Maecenas Condimentum Placerat Elit
          p
            | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet.
      .col-xs-12.col-sm-12.col-md-4
        a.btn.btn-primary.pull-right.slide-bottom-button.hidden-sm.hidden-xs Trial Now
