.blog-slider
  .grid.cs-style-1
    figure
      .blog-date-circle
        h5 17
        p Jan
      img.blog-slider-list-img(src='img/theme/p3.jpg', alt='img04')
      figcaption
        .image-buttons-three
          a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-three')
            i.fa.fa-camera
          a.btn.btn-primary
            i.fa.fa-plus
  .blog-slider-list
    h6 投资压力
    p
      | 但执法部门希望摩尔人，并ultricies床laoreet的。零售商。埃涅阿斯方便任何人竞争和孩子们。
