// Post One
.blog-slider-two
  .grid.cs-style-1
    figure
      .blog-date-circle
        h5 21
        p 一月
      img.blog-slider-list-img(src='img/theme/p1.jpg', alt='img04')
      figcaption
        .image-buttons-three
          a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
            i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
          a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
            i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
          a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
            i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
          a.btn.btn-primary
            i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
  .blog-slider-list
    h3
      a(href='#') 游戏者马丁
    .blog-info.hidden-xs
      small
        i.fa.fa-pencil.blog-mini-icon
        | 作者
        a(href='#') 李四
        i.fa.fa-comments.blog-mini-icon-two
        | 134 评论
        i.fa.fa-tag.blog-mini-icon-two
        a(href='#') Web
        | ,
        a(href='#') Design
        | ,
        a(href='#') Logo
    p
      | 临床恨哀悼中的任何一个已经说了箭头。地球上的生命临床，其中的一些，在酱油的痛，发酵。直到宏和仇恨。临床疼痛融资已经说了，也没有复仇的拷打。明天贫困酱爱神坐阿梅德航空公司。融资填充膏。 Pellentesque LOREM坐阿梅德生态元素。不幸的是，没有游泳池，交流LOREM日本房地产。生活Proin哀悼总是很柔软。但在生态为零。
