//
   Post Detail
.post-detail
  //
     Image
  .tp-banner-container
    .tp-banner
      ul
        //
           SLIDE ONE
        li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
          //
             MAIN IMAGE
          img(src='img/theme/p3.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
          //
             MAIN IMAGE
          img(src='img/theme/p8.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
          //
             MAIN IMAGE
          img(src='img/theme/p5.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
      .tp-bannertimer
