//
   Advert Module One
.row
  .col-xs-12.col-md-6
    .advert-one-image
      img(src='img/theme/advert1.png', alt='Advert')
  .col-xs-12.col-md-6
    .advert-one
      h2 Vivamus Luctus Neque in Egestas
      p.advert-one-em
        | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque. Nulla bibendum nisi ac enim ullamcorper tempor.
      p
        | Nulla tincidunt, mi nec lobortis faucibus, arcu nibh mattis felis, ac dignissim metus ipsum vitae ipsum. Nulla malesuada pharetra ullamcorper. Nulla auctor aliquam nunc vitae dapibus. Fusce mollis risus a augue posuere, eget accumsan mauris dignissim. Sed ac rhoncus puruson, quis blandit nisi. Vivamus viverra dui in sem elementum pulvinar. Aliquamattos feugiat urna nec augue placerat, nec viverra orci elementum.
      a.btn.btn-default.advert-button-one Trial Files
      a.btn.btn-primary.advert-button-one Download
