.row
  .col-md-2
  .col-xs-12.col-md-8
    .advert-two-title
      h1 调味保护者投资琳
      p
        | 明天，但他们错过了宣传。孩子们在沙拉。本场比赛的成员，我拷打接收Laoreet车辆。但是，从生活中某些需要的箭头球员和纯净的，她想要它。
      a#showbiz_left_6.btn.btn-primary.blog-nav-button-two(href='#')
        i.fa.fa-chevron-left
      a#showbiz_right_6.btn.btn-primary.blog-nav-button-two(href='#')
        i.fa.fa-chevron-right
  .col-md-2
  .clearfix
  .col-xs-12.col-md-12
    .blog-slider-container.clearfix
      #example6.showbiz-container
        .showbiz(data-left='#showbiz_left_6', data-right='#showbiz_right_6')
          .overflowholder
            ul
              //
                 Post One
              li
                include ../partials/module-post-1-2
              //
                 Post Two
              li
                include ../partials/module-post-2-2
              //
                 Post Three
              li
                include ../partials/module-post-3-2
              //
                 Post Four
              li
                include ../partials/module-post-4-2
            .sbclear
          .sbclear
