.row
  .col-md-2
  .col-xs-12.col-md-8
    .advert-two-title
      h1 Maecenas Condimentum Placerat Elim
      p
        | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
      a#showbiz_left_6.btn.btn-primary.blog-nav-button-two(href='#')
        i.fa.fa-chevron-left
      a#showbiz_right_6.btn.btn-primary.blog-nav-button-two(href='#')
        i.fa.fa-chevron-right
  .col-md-2
  .clearfix
  .col-xs-12.col-md-12
    .blog-slider-container.clearfix
      #example6.showbiz-container
        .showbiz(data-left='#showbiz_left_6', data-right='#showbiz_right_6')
          .overflowholder
            ul
              //
                 Post One
              li
                include ../partials/module-post-1-2
              //
                 Post Two
              li
                include ../partials/module-post-2-2
              //
                 Post Three
              li
                include ../partials/module-post-3-2
              //
                 Post Four
              li
                include ../partials/module-post-4-2
            .sbclear
          .sbclear
