.row
  .col-md-2
  .col-xs-12.col-md-8
    .advert-two-title
      h1 Maecenas Condimentum Placerat Elit
      p
        | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
  .col-md-2
  .clearfix
  //
     One
  .col-md-12.clearfix
    .advert-big-image
      img(src='img/theme/advert5.png', alt='Image')
