//
   Post Three
.blog-slider-two
  .grid.cs-style-1
    figure
      .blog-date-circle
        h5 17
        p Jan
      img.blog-slider-list-img(src='img/theme/p3.jpg', alt='img04')
      figcaption
        .image-buttons-three
          a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
            i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
          a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
            i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
          a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
            i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
          a.btn.btn-primary
            i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
  .blog-slider-list
    h3
      a(href='#') Fusce Vestibulum Quis
    .blog-info.hidden-xs
      small
        i.fa.fa-pencil.blog-mini-icon
        | by
        a(href='#') John Doe
        i.fa.fa-comments.blog-mini-icon-two
        | 134 Comment
        i.fa.fa-tag.blog-mini-icon-two
        a(href='#') Web
        | ,
        a(href='#') Design
        | ,
        a(href='#') Logo
    p
      | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices. Cras egestas condimentum eros sit amet porttitor. Mauris gravida imperdiet ultrices. Phasellus pellentesque lorem sit amet fringilla elementum. Donec nec lacus ac lorem eleifend placerat. Proin luctus mollis ipsum vitae semper. Sed at fringilla nisl.
