.row
  .col-xs-12.col-md-4.clearfix.hidden-lg.hidden-md
    .advert-big-image.modul-phone-four
      img(src='img/theme/advert2.png', alt='Image')
  .col-xs-12.col-md-4.clearfix
    //
       One
    .modul-services-three.mso-icon-eight
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
        i.fa.fa-bell.hi-icon
      h6 采访中，甚至成员
      p 你需要你的胡斯托。Viéndose需要方便。
    .clearfix
    //
       One
    .modul-services-three.mso-icon-eight
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
        i.fa.fa-thumbs-up.hi-icon
      h6 采访中，甚至成员
      p 你需要你的胡斯托。Viéndose需要方便。
    .clearfix
    //
       One
    .modul-services-three.mso-icon-eight
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
        i.fa.fa-camera.hi-icon
      h6 采访中，甚至成员
      p 你需要你的胡斯托。Viéndose需要方便。
    .clearfix
  .col-xs-12.col-md-4.clearfix.hidden-sm.hidden-xs
    .advert-big-image
      img(src='img/theme/advert2.png', alt='Image')
  .col-xs-12.col-md-4.clearfix
    //
       One
    .modul-services-two.mso-icon-eight
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        i.fa.fa-flask.hi-icon
      h6 采访中，甚至成员
      p 你需要你的胡斯托。Viéndose需要方便。
    .clearfix
    //
       One
    .modul-services-two.mso-icon-eight
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        i.fa.fa-heart.hi-icon
      h6 采访中，甚至成员
      p 你需要你的胡斯托。Viéndose需要方便。
    .clearfix
    //
       One
    .modul-services-two.mso-icon-eight
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
        i.fa.fa-gift.hi-icon
      h6 采访中，甚至成员
      p 你需要你的胡斯托。Viéndose需要方便。
    .clearfix
