.row
  //
     One
  .col-xs-12.col-md-4
    .advert-list-one
      .grid.cs-style-1
        figure
          img(src='img/theme/bussiness1.jpg', alt='img04')
          figcaption
            h6 张大壮
            p 雅各布·卡明斯
            .image-buttons-two.pull-right
              a.btn.btn-primary
                i.fa.fa-plus
      .advert-list-bottom-shape
        i.bottom-shape-right
          i
      h6 我们的使命
      p
        | 明天，但他们错过了宣传。孩子们在沙拉。本场比赛的成员，我拷打接收Laoreet车辆。但是，对于一个纯粹的生活，玩家用箭头。
  //
     Two
  .col-xs-12.col-md-4
    .advert-list-one
      .grid.cs-style-1
        figure
          img(src='img/theme/bussiness2.jpg', alt='img04')
          figcaption
            h6 王大中
            p 雅各布·卡明斯
            .image-buttons-two.pull-right
              a.btn.btn-primary
                i.fa.fa-plus
      .advert-list-bottom-shape
        i.bottom-shape-right
          i
      h6 我们的策略
      p
        | 实况足球主要拷打，我的抗氧化剂难看。 NUNC Proin LOREM，但颤动，在门前：对于孩子们。
  //
     One
  .col-xs-12.col-md-4
    .advert-list-one
      .grid.cs-style-1
        figure
          img(src='img/theme/bussiness3.jpg', alt='img04')
          figcaption
            h6 郭晓丽
            p 雅各布·卡明斯
            .image-buttons-two.pull-right
              a.btn.btn-primary
                i.fa.fa-plus
      .advert-list-bottom-shape
        i.bottom-shape-right
          i
      h6 我们的愿景
      p
        | 化妆水。游戏居住古老而忧伤的年龄和疾病，以及建议饥饿和丑陋的需要蛋白质netus房地产。
