.row
  .col-xs-12.col-md-6
    .advert-two-image.clearfix
      img(src='img/theme/advert4.png', alt='Advert')
  .col-xs-12.col-md-6
    .advert-one.advert-phone
      h2 也住悲伤贫困
      p.advert-one-em
        | 但执法部门希望摩尔人，并ultricies床laoreet的。零售商。埃涅阿斯方便任何人竞争和孩子们。还有，除非和ullamcorper tempor没有喝。
      .row
        .col-xs-12.col-md-6
          ul.advert-ul-one
            li
              i.fa.fa-briefcase
              | 马萨被Didipiscing
            li
              i.fa.fa-coffee
              | 怀孕本身
            li
              i.fa.fa-truck
              | 蒙特斯压力
            li
              i.fa.fa-shopping-cart
              | 除非明天软
            li
              i.fa.fa-phone
              | 软明天麦昆
        .col-xs-12.col-md-6
          ul.advert-ul-one
            li
              i.fa.fa-plane
              | 但请摩尔
            li
              i.fa.fa-shopping-cart
              | 有没有喝户外
            li
              i.fa.fa-bookmark
              | 和谁ullamcorper
            li
              i.fa.fa-cloud
              | 埃涅阿斯和谁
            li
              i.fa.fa-leaf
              | 糖果必比登取消
      a.btn.btn-default.advert-button-one 购买服务
