.blog-slider
  .grid.cs-style-1
    figure
      .blog-date-circle
        h5 19
        p 一月
      img.blog-slider-list-img(src='img/theme/p2.jpg', alt='img04')
      figcaption
        .image-buttons-three
          a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-two')
            i.fa.fa-camera
          a.btn.btn-primary
            i.fa.fa-plus
  .blog-slider-list
    h6 勺子，直到米
    p
      | 但执法部门希望摩尔人，并ultricies床laoreet的。零售商。埃涅阿斯方便任何人竞争和孩子们。
