.row
  .col-xs-12.col-md-6
    .advert-two-image.clearfix
      img(src='img/theme/advert6.png', alt='Advert')
  .col-xs-12.col-md-6
    .advert-one.advert-phone.mso-icon-seven-space
      h1 也住悲伤贫困
      //
         One
      .modul-services-two.mso-icon-seven
        .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space.pull-left
          i.fa.fa-leaf.fa-2x.hi-icon
        p
          strong 采访中，甚至成员
        p
          | 你需要你的胡斯托。Quisque ornareviéndose为方便起见，使用pentumos或融资的任何酱沙拉。
      .clearfix
      //
         Two
      .modul-services-two.mso-icon-seven
        .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space.pull-left
          i.fa.fa-plane.fa-2x.hi-icon
        p
          strong 采访中，甚至成员
        p
          | 你需要你的胡斯托。Quisque ornareviéndose为方便起见，使用pentumos或融资的任何酱沙拉。
      .clearfix
      //
         Three
      .modul-services-two.mso-icon-seven
        .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space.pull-left
          i.fa.fa-comments.fa-2x.hi-icon
        p
          strong 采访中，甚至成员
        p
          | 你需要你的胡斯托。Quisque ornareviéndose为方便起见，使用pentumos或融资的任何酱沙拉。
      .clearfix
      a.btn.btn-default.advert-button-seven 购买服务
      a.btn.btn-primary.advert-button-seven 下载软件
