.row
  .col-xs-12.col-md-6
    .advert-two-image.clearfix
      img(src='img/theme/advert6.png', alt='Advert')
  .col-xs-12.col-md-6
    .advert-one.advert-phone.mso-icon-seven-space
      h1 Vivamus Luctus Neque in Egestas
      //
         One
      .modul-services-two.mso-icon-seven
        .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space.pull-left
          i.fa.fa-leaf.fa-2x.hi-icon
        p
          strong Etiam Sodales Justo
        p
          | Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem.
      .clearfix
      //
         Two
      .modul-services-two.mso-icon-seven
        .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space.pull-left
          i.fa.fa-plane.fa-2x.hi-icon
        p
          strong Etiam Sodales Justo
        p
          | Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem.
      .clearfix
      //
         Three
      .modul-services-two.mso-icon-seven
        .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space.pull-left
          i.fa.fa-comments.fa-2x.hi-icon
        p
          strong Etiam Sodales Justo
        p
          | Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem.
      .clearfix
      a.btn.btn-default.advert-button-seven Pruchase
      a.btn.btn-primary.advert-button-seven Download
