//
   Advert Module One
.row
  .col-xs-12.col-md-6.hidden-md.hidden-lg
    .advert-one-image
      img(src='img/theme/advert1.png', alt='Advert')
  .col-xs-12.col-md-6
    .advert-one
      h2 也住悲伤贫困
      p.advert-one-em
        | 但执法部门希望摩尔人，并ultricies床laoreet的。零售商。埃涅阿斯方便任何人竞争和孩子们。还有，除非和ullamcorper tempor没有喝。
      p
        | 没有键盘，没有药，我的喉咙，NIBH很多弓，猫，它的足球生命本身的恐惧。没有malesuada ullamcorper颤动。没有生命，有一定的蛋白质，现在的作者。 Donec坐阿梅德，consectetur柔和的笑声，需要accumsan Mauris资产。现在和禅宗puruson，只有谁blandit。我们的卡通抱枕DUI元素现场直播。 Aliquamattos feugiat乌仁娜房地产，也不宣传，也不是卡通的临床元素。
      a.btn.btn-default.advert-button-one 试用文件
      a.btn.btn-primary.advert-button-one 下载文件
  .col-xs-12.col-md-6.hidden-xs.hidden-sm
    .advert-one-image
      img(src='img/theme/advert1.png', alt='Advert')
