include ./advert-title-2
.row
  .clearfix
  //
     FILTER CONTROLS
  .col-xs-12.col-sm-12.col-md-12
    .portfolio-filter-one.controls
      ul
        li.btn.btn-primary.filter.active(data-filter='all') All
        li.btn.btn-primary.filter(data-filter='category_1') Web Design
        li.btn.btn-primary.filter(data-filter='category_2') PSD Design
        li.btn.btn-primary.filter(data-filter='category_3') UI Creative
  //
     PORTFOLIO LIST
  #Grid
    //
       One
    .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
      .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
        .grid.cs-style-1
          figure
            img.portlio-list-img(src='img/theme/p1.jpg', alt='img04')
            figcaption
              .image-buttons
                a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-one')
                  i.fa.fa-camera
                a.btn.btn-primary
                  i.fa.fa-plus
        h6 游戏Matti
        p Web Design

    //
       Two
    .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
      .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
        .grid.cs-style-1
          figure
            img.portlio-list-img(src='img/theme/p2.jpg', alt='img04')
            figcaption
              .image-buttons
                a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-two')
                  i.fa.fa-camera
                a.btn.btn-primary
                  i.fa.fa-plus
        h6 勺子直到米
        p PSD Design

    //
       Three
    .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
      .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
        .grid.cs-style-1
          figure
            img.portlio-list-img(src='img/theme/p3.jpg', alt='img04')
            figcaption
              .image-buttons
                a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-three')
                  i.fa.fa-camera
                a.btn.btn-primary
                  i.fa.fa-plus
        h6 投资压力
        p UI Creative

    //
       Four
    .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
      .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
        .grid.cs-style-1
          figure
            img.portlio-list-img(src='img/theme/p4.jpg', alt='img04')
            figcaption
              .image-buttons
                a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-four')
                  i.fa.fa-camera
                a.btn.btn-primary
                  i.fa.fa-plus
        h6 加州旅馆
        p Web Design

    //
       Five
    .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
      .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
        .grid.cs-style-1
          figure
            img.portlio-list-img(src='img/theme/p5.jpg', alt='img04')
            figcaption
              .image-buttons
                a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-five')
                  i.fa.fa-camera
                a.btn.btn-primary
                  i.fa.fa-plus
        h6 但它是明智的
        p PSD Design

    //
       Six
    .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
      .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
        .grid.cs-style-1
          figure
            img.portlio-list-img(src='img/theme/p6.jpg', alt='img04')
            figcaption
              .image-buttons
                a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-six')
                  i.fa.fa-camera
                a.btn.btn-primary
                  i.fa.fa-plus
        h6 复仇者联盟
        p UI Creative
