.row
  .col-md-2
  .col-xs-12.col-md-8
    .advert-two-title
      h1 保护者投资汤料
      p
        | 明天，但他们错过了宣传。孩子们在沙拉。本场比赛的成员，我拷打接收Laoreet车辆。但是，从生活中某些需要的箭头球员和纯净的，她想要它。
      a.btn.btn-default.advert-button-nine 购买服务
      a.btn.btn-primary.advert-button-nine 下载软件
  .col-md-2
  .clearfix
  //
     Slider
  .tp-banner-container
    .tp-banner-two
      ul
        //
           SLIDE ONE
        li(data-transition='scaledownfrombottom', data-slotamount='5', data-masterspeed='700')
          //
             MAIN IMAGE
          img(src='img/theme/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.customin.customout(data-x='right', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='400', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
            img(src='img/theme/slide2-2.png', alt='Slide')
          .tp-caption.customin.customout(data-x='left', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:400;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='800', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
            img(src='img/theme/slide2-3.png', alt='Slide')
          .tp-caption.customin.customout(data-x='center', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:600;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='0', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
            img(src='img/theme/slide2-1.png', alt='Slide')
        //
           SLIDE TWO
        li(data-transition='scaledownfrombottom', data-slotamount='5', data-masterspeed='700')
          //
             MAIN IMAGE
          img(src='img/theme/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.customin.customout(data-x='left', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:400;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='400', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
            img(src='img/theme/slide2-4.png', alt='Slide')
          .tp-caption.customin.customout(data-x='right', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='0', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
            img(src='img/theme/slide2-5.png', alt='Slide')
