.row
  .col-xs-12.col-md-4
    .advert-one.advert-phone
      h2 也住悲伤贫困
      p
        | 但执法部门希望摩尔人，并ultricies床laoreet的。零售商。埃涅阿斯方便任何人竞争和孩子们。还有，除非和ullamcorper tempor没有喝。
      a#showbiz_left_7.btn.btn-primary.blog-nav-button(href='#')
        i.fa.fa-chevron-left
      a#showbiz_right_7.btn.btn-primary.blog-nav-button(href='#')
        i.fa.fa-chevron-right
  .col-xs-12.col-md-8
    .blog-slider-container.clearfix
      #example7.showbiz-container
        .showbiz(data-left='#showbiz_left_7', data-right='#showbiz_right_7')
          .overflowholder
            ul
              //
                 Post One
              li
                include ./module-post-1-2
              //
                 Post Two
              li
                include ./module-post-2-2
              //
                 Post Three
              li
                include ./module-post-3-2
              //
                 Post Four
              li
                include ./module-post-4-2
            .sbclear
          .sbclear
