//- Services Modul 1
.row
  //- Services One
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-services-one.mso-icon
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        i.fa.fa-rocket.fa-2x.hi-icon
      h6 成为会员
      p
        | 你需要很多的治疗。临床开发viendose强制任何人更好地利用pentumos或融资的电视。
      a.btn.btn-primary.btn-sm 查看更多
  //- Services Two
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-services-one.mso-icon
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        i.fa.fa-magic.fa-2x.hi-icon
      h6 高危人群
      p
        | 心脏疾病，房地产资产是不是该公司并没有。为了使任何人或筹资活动的驱动程序的作者，或者列表为空。
      a.btn.btn-primary.btn-sm 查看更多
  //- Services Three
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-services-one.mso-icon
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        i.fa.fa-briefcase.fa-2x.hi-icon
      h6 管理记事
      p
        | 但是，政策，资产跟踪，但失败者的航空公司，猫讨厌非法移民，而不是可能性，量化宽松政策国宾LOREM。
      a.btn.btn-primary.btn-sm 查看更多
  //- Services Four
  .col-xs-12.col-sm-6.col-md-3.modul-phone
    .modul-services-one.mso-icon
      .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
        i.fa.fa-cogs.fa-2x.hi-icon
      h6 击败对手
      p
        | 开发人员和设计师不是佩德罗。警方现正FLID告诉家伙在那里，对面的黑暗Melanthus。
      a.btn.btn-primary.btn-sm 查看更多
