section#top-nav
  //- Navigation Menu
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Diversity
    //- Menu
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        //- Home Page
        li.hidden-xs
          a(href='index.html')
            i.fa.fa-single.fa-home
        //- Theme
        li.dropdown(aria-haspopup='true')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-flask
            |  模块
            i.caret
          ul.dropdown-menu(role="menu")
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-home
                |  Home Page
              ul.dropdown-menu(role="sub-menu")
                li.dropdown-submenu(aria-haspopup='true')
                  a(href='#' tabindex="-1")
                    i.fa.fa-bars
                    |  Fullscreen Series
                  ul.dropdown-menu(role="sub-menu-2")
                    li
                      a(href='home-2-1.html')
                        i.fa.fa-file
                        |  Premium
                    li
                      a(href='home-3-1.html')
                        i.fa.fa-file
                        |  Business
                    li
                      a(href='home-4-1.html')
                        i.fa.fa-file
                        |  Showcase
                    li
                      a(href='home-5-1.html')
                        i.fa.fa-file
                        |  Corporate
                li.dropdown-submenu(aria-haspopup='true')
                  a(href='#' tabindex="-1")
                    i.fa.fa-bars
                    |  Fullscreen Bottom
                  ul.dropdown-menu(role="sub-menu-2")
                    li
                      a(href='home-2-2.html')
                        i.fa.fa-file
                        |  Premium
                    li
                      a(href='home-3-2.html')
                        i.fa.fa-file
                        |  Business
                    li
                      a(href='home-4-2.html')
                        i.fa.fa-file
                        |  Showcase
                    li
                      a(href='home-5-2.html')
                        i.fa.fa-file
                        |  Corporate
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-puzzle-piece
                |  Basic Modules
              ul.dropdown-menu(role="sub-menu")
                li.dropdown-submenu(aria-haspopup='true')
                  a(href='#' tabindex="-1")
                    i.fa.fa-folder
                    |  Advert Modules
                  ul.dropdown-menu(role="sub-menu-2")
                    li
                      a(href='module-advert-1.html')
                        i.fa.fa-sitemap
                        |  Advert One
                    li
                      a(href='module-advert-2.html')
                        i.fa.fa-sitemap
                        |  Advert Two
                    li
                      a(href='module-advert-3.html')
                        i.fa.fa-sitemap
                        |  Advert Three
                    li
                      a(href='module-advert-4.html')
                        i.fa.fa-sitemap
                        |  Advert Four
                    li
                      a(href='module-advert-5.html')
                        i.fa.fa-sitemap
                        |  Advert Five
                    li
                      a(href='module-advert-6.html')
                        i.fa.fa-sitemap
                        |  Advert Six
                li.dropdown-submenu(aria-haspopup='true')
                  a(href='#' tabindex="-1")
                    i.fa.fa-folder
                    |  Slider Modules
                  ul.dropdown-menu(role="sub-menu-2")
                    li
                      a(href='module-slider-1.html')
                        i.fa.fa-sitemap
                        |  Slider One
                    li
                      a(href='module-slider-2.html')
                        i.fa.fa-sitemap
                        |  Slider Two
                    li
                      a(href='module-slider-3.html')
                        i.fa.fa-sitemap
                        |  Slider Three
                    li
                      a(href='module-slider-4.html')
                        i.fa.fa-sitemap
                        |  Slider Four
                li.dropdown-submenu(aria-haspopup='true')
                  a(href='#' tabindex="-1")
                    i.fa.fa-folder
                    |  Mixitup Modules
                  ul.dropdown-menu(role="sub-menu-2")
                    li
                      a(href='module-mixitup-1.html')
                        i.fa.fa-sitemap
                        |  Mixitup One
                    li
                      a(href='module-mixitup-2.html')
                        i.fa.fa-sitemap
                        |  Mixitup Two
                li.dropdown-submenu(aria-haspopup='true')
                  a(href='#' tabindex="-1")
                    i.fa.fa-folder
                    |  Services Modules
                  ul.dropdown-menu(role="sub-menu-2")
                    li
                      a(href='module-service-1.html')
                        i.fa.fa-sitemap
                        |  Services One
                    li
                      a(href='module-service-2.html')
                        i.fa.fa-sitemap
                        |  Services Two
                    li
                      a(href='module-service-3.html')
                        i.fa.fa-sitemap
                        |  Services Three
                    li
                      a(href='module-service-4.html')
                        i.fa.fa-sitemap
                        |  Services Four
                li
                  a(href='module-client.html')
                    i.fa.fa-folder
                    |  Client Modules
                li
                  a(href='module-price.html')
                    i.fa.fa-folder
                    |  Price Modules
            li
              a(href='module-team.html')
                i.fa.fa-group
                |  Team Modules
            li
              a(href='module-twitter.html')
                i.fa.fa-twitter
                |  Twitter Modules
        //- about
        //- Page
        li.dropdown(aria-haspopup='true')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-file
            |  页面
            i.caret
          ul.dropdown-menu(role="menu")
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-user
                |  About Us
              ul.dropdown-menu(role="sub-menu")
                li
                  a(href='page-about-1.html')
                    i.fa.fa-file
                    |  About One
                li
                  a(href='page-about-2.html')
                    i.fa.fa-file
                    |  About Two
                li
                  a(href='page-about-3.html')
                    i.fa.fa-file
                    |  About Three
                li
                  a(href='page-about-4.html')
                    i.fa.fa-file
                    |  About Four
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-lightbulb-o
                |  Services Page
              ul.dropdown-menu(role="sub-menu")
                li
                  a(href='page-services-1.html')
                    i.fa.fa-file
                    |  Services One
                li
                  a(href='page-services-2.html')
                    i.fa.fa-file
                    |  Services Two
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-archive
                |  Portfolio Single Page
              ul.dropdown-menu(role="sub-menu")
                li
                  a(href='page-portfolio-single-1.html')
                    i.fa.fa-file
                    |  Portfolio Right
                li
                  a(href='page-portfolio-single-2.html')
                    i.fa.fa-file
                    |  Portfolio Left
            li
              a(href='page-contact.html')
                i.fa.fa-envelope
                |  Contact Page
            li
              a(href='404-page.html')
                i.fa.fa-cog
                |  404 Page
        //- Blog
        li.dropdown(aria-haspopup='true')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-calendar-o
            |  Blog
            i.caret
          ul.dropdown-menu(role="menu")
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-calendar-o
                |  Blog Page
              ul.dropdown-menu(role="sub-menu")
                li
                  a(href='blog-1.html')
                    i.fa.fa-file
                    |  Big
                li
                  a(href='blog-2.html')
                    i.fa.fa-file
                    |  Medium
                li
                  a(href='blog-3.html')
                    i.fa.fa-file
                    |  Small
            li.dropdown-submenu(aria-haspopup='true')
              a(href='#' tabindex="-1")
                i.fa.fa-pencil
                |  Single Post Page
              ul.dropdown-menu(role="sub-menu")
                li
                  a(href='blog-single-4.html')
                    i.fa.fa-file
                    |  Small Page
                li
                  a(href='blog-single-1.html')
                    i.fa.fa-file
                    |  Image Page
                li
                  a(href='blog-single-2.html')
                    i.fa.fa-file
                    |  Video Page
                li
                  a(href='blog-single-3.html')
                    i.fa.fa-file
                    |  Music Page
        //- Shop
        li.dropdown(aria-haspopup='true')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-shopping-cart
            |  电商
            i.caret
          ul.dropdown-menu(role="menu")
            li
              a(href='shop.html')
                i.fa.fa-shopping-cart
                |  商品列表
            li
              a(href='shop-detail.html')
                i.fa.fa-gift
                |  商品描述
            li
              a(href='shop-checkout.html')
                i.fa.fa-credit-card
                |  结帐
        //- UI
        li.dropdown(aria-haspopup='true')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-cog
            |  UI
            i.caret
          ul.dropdown-menu(role="menu")
            li
              a(href='ui-alerts.html')
                |  Alert
            li
              a(href='ui-buttons.html')
                |  Buttons
            li
              a(href='ui-badges-labels.html')
                |  Badges Labels
            li
              a(href='ui-blockquotes.html')
                |  Blockquotes
            li
              a(href='ui-breadcrumbs.html')
                |  Breadcrumbs
            li
              a(href='ui-modals.html')
                |  Modal
            li
              a(href='ui-navbars.html')
                |  Navbars
            li
              a(href='ui-pagination.html')
                |  Pagination
            li
              a(href='ui-panels.html')
                |  Panels
            li
              a(href='ui-progress-bars.html')
                |  Progress Bars
            li
              a(href='ui-tabs-accordions.html')
                |  Tabs Accordions
            li
              a(href='ui-typography.html')
                |  Typography
