//
   Tag Cloud
h6
  i.fa.fa-tags.sidebar-icon
  | Tags Cloud
ul.nav.nav-list.tag-cloud.sidebar-categories-two
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Web
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Rap
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Pop
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Design
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Wordpress Themes
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Rock
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Jazz
  li
    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') PSD Design
