//
   Archives Sidebar
.sidebar-content
  h6
    i.fa.fa-calendar-o.sidebar-icon
    | Post Archives
  ul.nav.nav-list.sidebar-categories
    li
      a(href='#')
        | January
        span.badge.pull-right 30
    li
      a(href='#')
        | February
        span.badge.pull-right 28
    li
      a(href='#')
        | March
        span.badge.pull-right 74
    li
      a(href='#')
        | April
        span.badge.pull-right 62
    li
      a(href='#')
        | May
        span.badge.pull-right 26
    li
      a(href='#')
        | June
        span.badge.pull-right 28
    li
      a(href='#')
        | August
        span.badge.pull-right 28
