// Social Sidebar
.row
  .col-md-6
    .hero-widget
      .icon
        i.fa.fa-facebook
      .text
        var 14.180
        label.text-muted Like
      .options
        a.btn.btn-primary.btn-block(href='#')
          | Like
  .col-md-6
    .hero-widget
      .icon
        i.fa.fa-twitter
      .text
        var 22.614
        label.text-muted Followers
      .options
        a.btn.btn-primary.btn-block(href='#')
          | Follow
