//
   Pool Sidebar
.sidebar-content
  h6
    i.fa.fa-flask.sidebar-icon
    | Job Options
  .sidebar-categories
    strong Logo
    span.pull-right 80%
    .progress.progress-striped.active
      .progress-bar(style='width: 80%;')
    strong PHP Code
    span.pull-right 60%
    .progress.progress-striped.active
      .progress-bar(style='width: 60%;')
    strong Web Design
    span.pull-right 75%
    .progress.progress-striped.active
      .progress-bar(style='width: 75%;')
    strong CSS3
    span.pull-right 35%
    .progress.progress-striped.active
      .progress-bar(style='width: 35%;')
    strong HTML5
    span.pull-right 45%
    .progress.progress-striped.active
      .progress-bar(style='width: 45%;')
