//
   Social Sidebar
.row
  .col-md-6
    .hero-widget.well-sm
      .icon
        i.fa.fa-trophy
      .text
        var 914.180
        label.text-muted Download
      .options
        a.btn.btn-primary.btn-sm.btn-block(href='#')
          | Download
  .col-md-6
    .hero-widget.well-sm
      .icon
        i.fa.fa-ticket
      .text
        var 22.614
        label.text-muted Sales
      .options
        a.btn.btn-primary.btn-sm.btn-block(href='#')
          | Purchase
