//
   Pool Sidebar
.sidebar-content
  h6
    i.fa.fa-bar-chart-o.sidebar-icon
    | Pool Archives
  .sidebar-categories
    h5
      em Where do you usually browse?
    strong Windows PC
    span.pull-right 30%
    .progress.progress-striped.active
      .progress-bar(style='width: 30%;')
    strong Mac
    span.pull-right 40%
    .progress.progress-striped.active
      .progress-bar(style='width: 40%;')
    strong iPad/iPhone
    span.pull-right 10%
    .progress.progress-striped.active
      .progress-bar(style='width: 10%;')
    strong Android
    span.pull-right 5%
    .progress.progress-striped.active
      .progress-bar(style='width: 5%;')
    strong Others
    span.pull-right 15%
    .progress.progress-striped.active
      .progress-bar(style='width: 15%;')
    p.vote-button
      a.btn.btn-large.btn-success(href='#') Vote
      a.pull-right(href='#') View detailed results
