// Categories
.sidebar-content
  h6
    i.fa.fa-align-justify.sidebar-icon
    | News Categories
  ul.nav.nav-list.sidebar-categories
    li.active
      a(href='#')
        | Web Themes
        span.badge.pull-right 30
    li
      a(href='#')
        | PSD Store
        span.badge.pull-right 28
    li
      a(href='#')
        | Wordpress Codex
        span.badge.pull-right 74
    li
      a(href='#')
        | Maggazine
        span.badge.pull-right 62
    li
      a(href='#')
        | Music Billboard
        span.badge.pull-right 26
    li
      a(href='#')
        | Movie Fragman
        span.badge.pull-right 28
    li
      a(href='#')
        | App Games
        span.badge.pull-right 28
