.demo_changer
  .demo-icon
    i.fa.fa-cog
  .form_holder
    .line
    p CHOOSE YOUR STYLE
    .predefined_styles
      ul
        li.styleswitch(rel='blue')
          img(src='img/blue.jpg', alt='')
        li.styleswitch(rel='black')
          img(src='img/grey.jpg', alt='')
        li.styleswitch(rel='cyan')
          img(src='img/cyan.jpg', alt='')
        li.styleswitch(rel='green')
          img(src='img/green.jpg', alt='')
        li.styleswitch(rel='orange')
          img(src='img/orange.jpg', alt='')
        li.styleswitch(rel='pink')
          img(src='img/pink.jpg', alt='')
        li.styleswitch(rel='purple')
          img(src='img/purple.jpg', alt='')
        li.styleswitch(rel='red')
          img(src='img/red.jpg', alt='')
