.demo_changer
  .demo-icon
    i.fa.fa-cog
  .form_holder
    .line
    p CHOOSE YOUR STYLE
    .predefined_styles
      ul
        li.styleswitch(rel='blue')
          img(src='images/blue.jpg', alt='')
        li.styleswitch(rel='black')
          img(src='images/grey.jpg', alt='')
        li.styleswitch(rel='cyan')
          img(src='images/cyan.jpg', alt='')
        li.styleswitch(rel='green')
          img(src='images/green.jpg', alt='')
        li.styleswitch(rel='orange')
          img(src='images/orange.jpg', alt='')
        li.styleswitch(rel='pink')
          img(src='images/pink.jpg', alt='')
        li.styleswitch(rel='purple')
          img(src='images/purple.jpg', alt='')
        li.styleswitch(rel='red')
          img(src='images/red.jpg', alt='')
