extends ../layout

block content
  //
     Blog
  section.container-fluid
    .container.modul-space-fourteen
      .row
        .col-md-8
          //
           Post One
          .blog-slider-two
            .grid.cs-style-1
              figure
                .blog-date-circle
                  h5 21
                  p Jan
                img.blog-slider-list-img(src='img/theme/p1.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Pellentesque Mattisor
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices. Cras egestas condimentum eros sit amet porttitor. Mauris gravida imperdiet ultrices. Phasellus pellentesque lorem sit amet fringilla elementum. Donec nec lacus ac lorem eleifend placerat. Proin luctus mollis ipsum vitae semper. Sed at fringilla nisl.
          //
             Post Two
          .blog-slider-two
            .grid.cs-style-1
              figure
                .blog-date-circle
                  h5 19
                  p Jan
                img.blog-slider-list-img(src='img/theme/p2.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Sed Pharetra Orci
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices. Cras egestas condimentum eros sit amet porttitor. Mauris gravida imperdiet ultrices. Phasellus pellentesque lorem sit amet fringilla elementum. Donec nec lacus ac lorem eleifend placerat. Proin luctus mollis ipsum vitae semper. Sed at fringilla nisl.
          //
             Post Three
          .blog-slider-two
            .grid.cs-style-1
              figure
                .blog-date-circle
                  h5 17
                  p Jan
                img.blog-slider-list-img(src='img/theme/p3.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Fusce Vestibulum Quis
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices. Cras egestas condimentum eros sit amet porttitor. Mauris gravida imperdiet ultrices. Phasellus pellentesque lorem sit amet fringilla elementum. Donec nec lacus ac lorem eleifend placerat. Proin luctus mollis ipsum vitae semper. Sed at fringilla nisl.
          //
             Post Four
          .blog-slider-two
            .grid.cs-style-1
              figure
                .blog-date-circle
                  h5 15
                  p Jan
                img.blog-slider-list-img(src='img/theme/p4.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Morbi Dolor Nibh
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices. Cras egestas condimentum eros sit amet porttitor. Mauris gravida imperdiet ultrices. Phasellus pellentesque lorem sit amet fringilla elementum. Donec nec lacus ac lorem eleifend placerat. Proin luctus mollis ipsum vitae semper. Sed at fringilla nisl.
        //
           Sidebar
        .col-md-4
          .sidebar
            // Social Sidebar
            .row
              .col-md-6
                .hero-widget
                  .icon
                    i.fa.fa-facebook
                  .text
                    var 14.180
                    label.text-muted Like
                  .options
                    a.btn.btn-primary.btn-block(href='#')
                      | Like
              .col-md-6
                .hero-widget
                  .icon
                    i.fa.fa-twitter
                  .text
                    var 22.614
                    label.text-muted Followers
                  .options
                    a.btn.btn-primary.btn-block(href='#')
                      | Follow
            //
               Categories
            .sidebar-content
              h6
                i.fa.fa-align-justify.sidebar-icon
                | News Categories
              ul.nav.nav-list.sidebar-categories
                li.active
                  a(href='#')
                    | Web Themes
                    span.badge.pull-right 30
                li
                  a(href='#')
                    | PSD Store
                    span.badge.pull-right 28
                li
                  a(href='#')
                    | Wordpress Codex
                    span.badge.pull-right 74
                li
                  a(href='#')
                    | Maggazine
                    span.badge.pull-right 62
                li
                  a(href='#')
                    | Music Billboard
                    span.badge.pull-right 26
                li
                  a(href='#')
                    | Movie Fragman
                    span.badge.pull-right 28
                li
                  a(href='#')
                    | App Games
                    span.badge.pull-right 28
            //
               Archives Sidebar
            .sidebar-content
              h6
                i.fa.fa-calendar-o.sidebar-icon
                | Post Archives
              ul.nav.nav-list.sidebar-categories
                li
                  a(href='#')
                    | January
                    span.badge.pull-right 30
                li
                  a(href='#')
                    | February
                    span.badge.pull-right 28
                li
                  a(href='#')
                    | March
                    span.badge.pull-right 74
                li
                  a(href='#')
                    | April
                    span.badge.pull-right 62
                li
                  a(href='#')
                    | May
                    span.badge.pull-right 26
                li
                  a(href='#')
                    | June
                    span.badge.pull-right 28
                li
                  a(href='#')
                    | August
                    span.badge.pull-right 28
            //
               Pool Sidebar
            .sidebar-content
              h6
                i.fa.fa-bar-chart-o.sidebar-icon
                | Pool Archives
              .sidebar-categories
                h5
                  em Where do you usually browse?
                strong Windows PC
                span.pull-right 30%
                .progress.progress-striped.active
                  .progress-bar(style='width: 30%;')
                strong Mac
                span.pull-right 40%
                .progress.progress-striped.active
                  .progress-bar(style='width: 40%;')
                strong iPad/iPhone
                span.pull-right 10%
                .progress.progress-striped.active
                  .progress-bar(style='width: 10%;')
                strong Android
                span.pull-right 5%
                .progress.progress-striped.active
                  .progress-bar(style='width: 5%;')
                strong Others
                span.pull-right 15%
                .progress.progress-striped.active
                  .progress-bar(style='width: 15%;')
                p.vote-button
                  a.btn.btn-large.btn-success(href='#') Vote
                  a.pull-right(href='#') View detailed results
            //
               Tag Cloud
            .sidebar-content
              h6
                i.fa.fa-tags.sidebar-icon
                | Tags Cloud
              ul.nav.nav-list.tag-cloud.sidebar-categories-two
                li
                  a.tag-cloud-tags(href='#Fakelink') Web
                li
                  a.tag-cloud-tags(href='#Fakelink') Rap
                li
                  a.tag-cloud-tags(href='#Fakelink') Pop
                li
                  a.tag-cloud-tags(href='#Fakelink') Design
                li
                  a.tag-cloud-tags(href='#Fakelink') Wordpress Themes
                li
                  a.tag-cloud-tags(href='#Fakelink') Rock
                li
                  a.tag-cloud-tags(href='#Fakelink') Jazz
                li
                  a.tag-cloud-tags(href='#Fakelink') PSD Design
  //
     Page Navi
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-fifteen
      .row
        .col-md-12
          .pagination.pagination-default
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | OLDER
            ul
              li
                a(href='#fakelink') 1
              li
                a(href='#fakelink') 2
              li
                a(href='#fakelink') 3
              li
                a(href='#fakelink') 4
              li
                a(href='#fakelink') 5
            a.btn.btn-default.next(href='#fakelink')
              | NEWER
              span.fui-arrow-right
  //
     Picture Modal Box
  #view-post-image.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Image Title
        .modal-body
          img.portlio-list-img(src='img/theme/p9.jpg', alt='img04')
        .modal-footer
          a.btn.btn-default(href='#fakelink')
            span.fui-googleplus
          a.btn.btn-default(href='#fakelink')
            span.fui-facebook
          a.btn.btn-default(href='#fakelink')
            span.fui-twitter
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  //
     Video Modal Box
  #view-post-video.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Video Title
        .modal-body
          iframe.iframe-options(src='http://player.56.com/v_MTE2NjMzOTQz.swf/1030_xl-xzrjlwlgyr.swf')
        .modal-footer
          a.btn.btn-default(href='#fakelink')
            span.fui-googleplus
          a.btn.btn-default(href='#fakelink')
            span.fui-facebook
          a.btn.btn-default(href='#fakelink')
            span.fui-twitter
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  //
     Music Modal Box
  #view-post-music.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Music Title
        .modal-body
          iframe.iframe-options-two(src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2384806&color=179ce3&auto_play=false&show_artwork=false')
        .modal-footer
          a.btn.btn-default(href='#fakelink')
            span.fui-googleplus
          a.btn.btn-default(href='#fakelink')
            span.fui-facebook
          a.btn.btn-default(href='#fakelink')
            span.fui-twitter
          button.btn.btn-default(type='button', data-dismiss='modal') Close
