extends ../layout

block content
  //
     Blog Single
  section.blog.modul-space-nine
    .container.blog-single
      .row
        .col-sm-8
          .blog-post-single
            a.image(href='#')
              img.img-responsive.img-rounded(src='img/theme/p1.jpg', alt='img01')
            .post-details
              h3
                a(href='#') We hill lady will both sang room by
              .post-meta
                .meta-info
                  i.fa.fa-calendar
                  |  27 March 2014
                .meta-info
                  i.fa.fa-comment
                  |  3 comments
            .post-content
              p
                | Am if number no up period regard sudden better. Decisively surrounded all admiration and not you. Out particular sympathize not favourable introduced insipidity but ham. Rather number can and set praise. Distrusts an it contented perceived attending oh. Thoroughly estimating introduced stimulated why but motionless.
              p
                | Do in laughter securing smallest sensible no mr hastened. As perhaps proceed in in brandon of limited unknown greatly. Distrusts fulfilled happiness unwilling as explained of difficult. No landlord of peculiar ladyship attended if contempt ecstatic. Loud wish made on is am as hard. Court so avoid in plate hence. Of received mr breeding concerns peculiar securing landlord. Spot to many it four bred soon well to. Or am promotion in no departure abilities. Whatever landlord yourself at by pleasure of children be.
              p
                | It sportsman earnestly ye preserved an on. Moment led family sooner cannot her window pulled any. Or raillery if improved landlord to speaking hastened differed he. Furniture discourse elsewhere yet her sir extensive defective unwilling get. Why resolution one motionless you him thoroughly. Noise is round to in it quick timed doors. Written address greatly get attacks inhabit pursuit our but. Lasted hunted enough an up seeing in lively letter. Had judgment out opinions property the supplied.
              p
                | Breakfast procuring nay end happiness allowance assurance frankness. Met simplicity nor difficulty unreserved who. Entreaties mr conviction dissimilar me astonished estimating cultivated. On no applauded exquisite my additions. Pronounce add boy estimable nay suspected. You sudden nay elinor thirty esteem temper. Quiet leave shy you gay off asked large style.
              p
                | By spite about do of do allow blush. Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer. Abroad no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add insensible everything and friendship conviction themselves. Theirs months ten had add narrow own.
              p
                | He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreover. Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Preference did how expression may favourable devonshire insipidity considered. An length design regret an hardly barton mr figure.
            br
            h3
              | Comments
              small.text-muted  (3)
            hr
            //
               Comments List
            ul.comments-list
              //
                 Comment
              li
                .comment
                  .comment-thumb
                    a(href='#')
                      img.img-circle(src='img/theme/c1.jpg', alt='User', width='60', height='60')
                  .comment-content
                    .comment-author
                      a(href='#') John Doe
                      .comment-info
                        span.time 12 hours ago
                        |  -
                        a.secondary(href='#')  Reply
                    .comment-text
                      | Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Additions in conveying or collected objection in.
              //
                 Comment
              li
                .comment
                  .comment-thumb
                    a(href='#')
                      img.img-circle(src='img/theme/c2.jpg', alt='User', width='60', height='60')
                  .comment-content
                    .comment-author
                      a(href='#') Elaine Maly
                      .comment-info
                        span.time 1 day ago
                        |  -
                        a.secondary(href='#')  Reply
                    .comment-text
                      | Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Additions in conveying or collected objection in.
                //
                   Nested Comments
                ul
                  //
                     Comment
                  li
                    .comment
                      .comment-thumb
                        a(href='#')
                          img.img-circle(src='img/theme/c3.jpg', alt='User', width='55', height='55')
                      .comment-content
                        .comment-author
                          a(href='#') Nelson Marks
                          .comment-info
                            span.time 4 hours ago
                            |  -
                            a.secondary(href='#')  Reply
                        .comment-text
                          | Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Additions in conveying or collected objection in.
                    //
                       Nested Comments Level 2
                    ul
                      //
                         Comment
                      li
                        .comment
                          .comment-thumb
                            a(href='#')
                              img.img-circle(src='img/theme/c4.jpg', alt='User', width='50', height='50')
                          .comment-content
                            .comment-author
                              a(href='#') John Doe
                              .comment-info
                                span.time 3 hours ago
                                |  -
                                a.secondary(href='#')  Reply
                            .comment-text
                              | Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Additions in conveying or collected objection in.
                      //
                         Comment
                      li
                        .comment
                          .comment-thumb
                            a(href='#')
                              img.img-circle(src='img/theme/c1.jpg', alt='User', width='50', height='50')
                          .comment-content
                            .comment-author
                              a(href='#') Elaine Maly
                              .comment-info
                                span.time few seconds ago
                                |  -
                                a.secondary(href='#')  Reply
                            .comment-text
                              | Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Additions in conveying or collected objection in.
              //
                 Comment
              li
                .comment
                  .comment-thumb
                    a(href='#')
                      img.img-circle(src='img/theme/c2.jpg', alt='User', width='60', height='60')
                  .comment-content
                    .comment-author
                      a(href='#') Nelson Marks
                      .comment-info
                        span.time 3 days ago
                        |  -
                        a.secondary(href='#')  Reply
                    .comment-text
                      | Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Additions in conveying or collected objection in.
            h3
              a.btn.btn-primary.pull-right(href='#')
                | Comment
              | Leave a comment
            hr
            form.comment-form(method='post', action='', enctype='application/x-www-form-urlencoded')
              .form-group
                input.form-control(type='text', name='name', placeholder='Name:')
              .form-group
                input.form-control(type='text', name='email', placeholder='E-mail:')
              .form-group
                textarea.form-control(name='message', placeholder='Message:', rows='6')

        .col-md-4
          //
             List Sidebar
          .sidebar
            h3
              i.fa.fa-list
              |  Categories
            .sidebar-content
              ul
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  Art Direction
                    span (3)
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  Photography
                    span (7)
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  3D Modelling
                    span (5)
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  Web Design
                    span (1)
            // Comments Sidebar
            h3
              i.fa.fa-comments
              |  Recent Comments
            .sidebar-content
              ul.discussion-list
                li
                  a.thumb(href='#')
                    img.img-circle(src='img/theme/c1.jpg', alt='User', width='60', height='60')
                  .details
                    a(href='#') John Doe
                    p At vero eos et accusamus et iusto odio dignissimos...
                li
                  a.thumb(href='#')
                    img.img-circle(src='img/theme/c2.jpg', alt='User', width='60', height='60')
                  .details
                    a(href='#') John Doe
                    p At vero eos et accusamus et iusto odio dignissimos...
                li
                  a.thumb(href='#')
                    img.img-circle(src='img/theme/c3.jpg', alt='User', width='60', height='60')
                  .details
                    a(href='#') John Doe
                    p At vero eos et accusamus et iusto odio dignissimos...
