extends ../layout

block content
  //
     Blog
  section.container-fluid
    .container.modul-space-fourteen
      .row
        .col-md-8
          include ../partials/module-post-1-1
          include ../partials/module-post-2-1
          include ../partials/module-post-3-1
          include ../partials/module-post-4-1
        //
           Sidebar
        .col-md-4
          .sidebar
            include ../partials/sidebar-social-2
            include ../partials/sidebar-badge-1
            include ../partials/sidebar-pool-2
            include ../partials/sidebar-tag-cloud
  //
     Page Navi
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-fifteen
      .row
        .col-md-12
          .pagination.pagination-default
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | OLDER
            ul
              li
                a(href='#fakelink') 1
              li
                a(href='#fakelink') 2
              li
                a(href='#fakelink') 3
              li
                a(href='#fakelink') 4
              li
                a(href='#fakelink') 5
            a.btn.btn-default.next(href='#fakelink')
              | NEWER
              span.fui-arrow-right
  include ../partials/modal-picture
  include ../partials/modal-video
  include ../partials/modal-music
