extends ../layout

block content
  // Blog
  section.container-fluid.blog
    .container.modul-space-seven
      .row
        // Blog Post
        .col-md-8
          .blog-posts
            //
               Post One
            .blog-post
              .post-thumb
                a(href='/blog-single-4')
                  img.img-rounded(src='img/theme/c1.jpg')
              .post-details
                h3
                  a(href='/blog-single-4') We hill lady will both sang room by
                .post-meta
                  .meta-info
                    | 27 March 2014
                  .meta-info
                    | 3 comments
                p
                  | Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at. Repair summer one winter living feebly pretty his. In so sense am known these since.
            //
               Post Two
            .blog-post
              .post-thumb
                a(href='/blog-single-4')
                  img.img-rounded(src='img/theme/c2.jpg')
              .post-details
                h3
                  a(href='/blog-single-4') Allowance sweetness direction to as...
                .post-meta
                  .meta-info
                    | 25 March 2014
                  .meta-info
                    | 0 comments
                p
                  | Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at. Repair summer one winter living feebly pretty his. In so sense am known these since.
            //
              Post Three
            .blog-post
              .post-thumb
                a(href='/blog-single-4')
                  img.img-rounded(src='img/theme/c3.jpg')
              .post-details
                h3
                  a(href='/blog-single-4') Is we miles ready he might going
                .post-meta
                  .meta-info
                    | 24 March 2014
                  .meta-info
                    | 1 comment
                p
                  | Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at. Repair summer one winter living feebly pretty his. In so sense am known these since.
            //
               Page Navi
            .modul-space-fifteen
              .row
                .col-md-12.text-center
                  .pagination.pagination-default
                    a.btn.btn-default.previous(href='#fakelink')
                      span.fui-arrow-left
                      | OLDER
                    ul
                      li.active
                        a(href='#fakelink') 1
                      li
                        a(href='#fakelink') 2
                      li
                        a(href='#fakelink') 3
                      li
                        a(href='#fakelink') 4
                      li
                        a(href='#fakelink') 5
                    a.btn.btn-default.next(href='#fakelink')
                      | NEWER
                      span.fui-arrow-right
        .col-md-4
          //
             List Sidebar
          .sidebar
            h3
              i.fa.fa-list
              |  Categories
            .sidebar-content
              ul
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  Art Direction
                    span (3)
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  Photography
                    span (7)
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  3D Modelling
                    span (5)
                li
                  a(href='#')
                    i.fa.fa-angle-right
                    |  Web Design
                    span (1)

            //- Comments Sidebar
            h3
              i.fa.fa-comments
              |  Recent Comments
            .sidebar-content
              ul.discussion-list
                li
                  a.thumb(href='#')
                    img.img-circle(src='img/theme/c1.jpg', alt='User', width='60', height='60')
                  .details
                    a(href='#') John Doe
                    p At vero eos et accusamus et iusto odio dignissimos...
                li
                  a.thumb(href='#')
                    img.img-circle(src='img/theme/c2.jpg', alt='User', width='60', height='60')
                  .details
                    a(href='#') John Doe
                    p At vero eos et accusamus et iusto odio dignissimos...
                li
                  a.thumb(href='#')
                    img.img-circle(src='img/theme/c3.jpg', alt='User', width='60', height='60')
                  .details
                    a(href='#') John Doe
                    p At vero eos et accusamus et iusto odio dignissimos...
