/* Switcher */

.demo_changer {
    z-index: 900;
    position: fixed;
    left: -180px;
    top: 78px;
}
.line {
    clear: both;
    margin: 20px !important;
}
span a {
    color: #fff;
    font-weight: 500;
    padding: 0;
    font-size: 13px;
    margin: 40px 0px 0px 20px;
    text-align: center;
    line-height: 1.5;
}
span a:hover, span a:active {
    opacity: 1;
    color: #efefef;
}
.demo_changer .demo-icon {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    cursor: pointer;
    float: right;
    font-size: 20px;
    height: 30px;
    width: 30px;
}
.demo-icon {
    padding: 0px 28px 34px 12px;
}
.form_holder p {
    color: #7F7F7F;
}
.demo_changer .form_holder {
    background: #8495a5;
    float: right;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 178px;
}
.demo_changer .form_holder p {
    padding: 0 20px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}
.demo_changer .form_holder input {
    width: 55px;
    border-radius: 0 10px 10px 0;
    box-shadow: none;
}
.demo_changer .form_holder form {
    padding: 0 20px;
}
.color_display_2 {
    clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    width: 31px !important;
    height: 31px;
    margin-bottom: 7px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
}
.color_display_2 a {
    color: #fff;
    text-decoration: none;
}
.color_display_2 a:focus, .color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
}
.predefined_styles {
    padding: 0 20px;
}
@media only screen and (max-width: 1024px) {
    .demo_changer {
        display: none;
    }
}
/************************************************************************************************************************/

/* Footer */

/************************************************************************************************************************/

/* Footer One */

.footer-logo {
    margin-bottom:34px;
}
.footer-one p {
    margin-bottom: 36px;
    text-align: justify;
}
.btn-footer {
    min-width: 50px;
    border: 2px solid;
    margin-right: 8px;
    margin-bottom: 14px;
}
/* Footer Two*/
.footer-two {
}
.footer-two h6 {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid;
}
.footer-two ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-two ul li {
    margin-bottom: 22px;
}
.footer-two ul li img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border: 8px solid;
}
.footer-two ul li small {
    font-style: italic;
}
.footer-two ul li p {
    margin-bottom: 2px;
}
.footer-icon {
    margin-right: 4px;
}
.footer-icon-two {
    margin-right: 5px;
    margin-left: 8px;
}
/* Footer Three*/

.footer-three {
    text-align: justify;
}
.footer-three h6 {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid;
}
.footer-three ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 110%;
}
.footer-three ul li {
    margin-bottom: 22px;
}
.footer-three ul li img {
    float: left;
    width: 74px;
    height: 74px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 8px solid;
}
.footer-three ul li small {
    font-style: italic;
}
.footer-three ul li p {
    margin-bottom: 4px;
}
.bottom-links {
    margin-top: 13px;
    margin-bottom: 0px;
    margin-right: -16px;
}
@media (max-width: 979px) {
    .footer-one {
        margin-bottom: 52px;
    }
    .footer-two {
        margin-bottom: 66px;
    }
}