doctype html
html.js.no-touch(data-ng-app="app")
  head
    include partials/head2
    block head

  body(ng-controller="AppCtrl")
    header
      include partials/navigation

    main#app.app(ui-view ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}")

    block scripts
      // jQuery
      script(src='js/vendors/jquery/jquery.js')
      script(type='text/javascript', src='js/vendors/bootstrap.js')
      //- script(type='text/javascript', src='js/vendors/material.js')
      //- script(type='text/javascript', src='js/vendors/ripples.js')
      //- script(src='js/vendors/jquery.scrollUp.js')
      //- script(src='js/application.js')
      // Angular
      script(src='js/vendors/angular/angular.js')
      script(src='js/vendors/angular/angular-animate/angular-animate.js')
      script(src='js/vendors/angular/angular-cookies/angular-cookies.js')
      script(src='js/vendors/angular/angular-resource/angular-resource.js')
      script(src='js/vendors/angular/angular-sanitize/angular-sanitize.js')
      script(src='js/vendors/angular/angular-touch/angular-touch.js')
      // vendors
      script(src='js/vendors/angular/angular-ui-router/angular-ui-router.js')
      script(src='js/vendors/angular/ngstorage/ngStorage.js')
      // bootstrap
      script(src='js/vendors/angular/angular-bootstrap/ui-bootstrap-tpls.js')
      // lazyload
      script(src='js/vendors/angular/oclazyload/ocLazyLoad.js')
      // translate
      script(src='js/vendors/angular/angular-translate/angular-translate.js')
      script(src='js/vendors/angular/angular-translate/loader-static-files.js')
      script(src='js/vendors/angular/angular-translate/storage-cookie.js')
      script(src='js/vendors/angular/angular-translate/storage-local.js')
      // App
      script(src='js/routingConfig.js')
      script(src='js/angular/app.js')
      script(src='/js/angular/services.js')
      script(src='js/angular/config.js')
      script(src='js/angular/config.lazyload.js')
      script(src='js/angular/config.router.js')
      script(src='js/angular/main.js')
      script(src='js/angular/services/ui-load.js')
      script(src='js/angular/filters/fromNow.js')
      script(src='js/angular/directives/accessLevel.js')
      script(src='js/angular/directives/setnganimate.js')
      script(src='js/angular/directives/ui-butterbar.js')
      script(src='js/angular/directives/ui-focus.js')
      script(src='js/angular/directives/ui-fullscreen.js')
      script(src='js/angular/directives/ui-jq.js')
      script(src='js/angular/directives/ui-module.js')
      script(src='js/angular/directives/ui-nav.js')
      script(src='js/angular/directives/ui-scroll.js')
      script(src='js/angular/directives/ui-shift.js')
      script(src='js/angular/directives/ui-toggleclass.js')
      script(src='js/angular/directives/ui-validate.js')
      script(src='js/angular/controllers/bootstrap.js')
      script(src='js/angular/controllers/header.js')
      // Lazy loading
