extends layout

block content
  // Breadcrumb
  section.breadcrumb
    .container
      .row
        .col-sm-9
          h1 Blog
          ol.breadcrumb.bc-3
            li
              a(href='/')
                i.entypo-home
                | Home
            li
              a(href='/blog-1') Blog
            li.active
              strong Blog-2
        .col-sm-3
          h2.text-muted.text-right 86 Posts
  //
     Blog
  .container-fluid
    .container.modul-space-fourteen
      .row
        //
           Blog Post
        .col-md-4
          //
             Post One
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 21
                  p Jan
                img.blog-slider-list-img(src='img/theme/p1.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Pellentesque Mattisor
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
          //
             Post Two
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 19
                  p Jan
                img.blog-slider-list-img(src='img/theme/p2.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Sed Pharetra Orci
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
          //
             Post Three
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 17
                  p Jan
                img.blog-slider-list-img(src='img/theme/p3.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Fusce Vestibulum Quis
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
          //
             Post Four
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 15
                  p Jan
                img.blog-slider-list-img(src='img/theme/p4.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Morbi Dolor Nibh
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
        .col-md-4
          //
             Post One
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 21
                  p Jan
                img.blog-slider-list-img(src='img/theme/p5.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Pellentesque Mattisor
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
          //
             Post Two
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 19
                  p Jan
                img.blog-slider-list-img(src='img/theme/p6.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Sed Pharetra Orci
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
          //
             Post Three
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 17
                  p Jan
                img.blog-slider-list-img(src='img/theme/p7.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Fusce Vestibulum Quis
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
          //
             Post Four
          .blog-slider-two
            .grid.cs-style-3
              figure
                .blog-date-circle
                  h5 15
                  p Jan
                img.blog-slider-list-img(src='img/theme/p8.jpg', alt='img04')
                figcaption
                  .image-buttons-three
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-image')
                      i.fa.fa-camera(data-toggle='tooltip', data-placement='top', title='Look Photo')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-video')
                      i.fa.fa-video-camera(data-toggle='tooltip', data-placement='top', title='View Video')
                    a.btn.btn-primary(data-toggle='modal', data-target='#view-post-music')
                      i.fa.fa-music(data-toggle='tooltip', data-placement='top', title='Listen Music')
                    a.btn.btn-primary
                      i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
            .blog-slider-list
              h3
                a(href='#') Morbi Dolor Nibh
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
              p
                | Fusce luctus sagittis odio quis dictum. Fusce vitae tellus aliquam, condimentum dolor in, fermentum est. Donec et tortor odio. Fusce imperdiet dolor nec tortor dictum ultrices.
        //
           Sidebar
        .col-md-4
          //
             Social Sidebar
          .row
            .col-md-6
              .hero-widget
                .icon
                  i.fa.fa-facebook
                .text
                  var 14.180
                  label.text-muted Like
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | Like
            .col-md-6
              .hero-widget
                .icon
                  i.fa.fa-twitter
                .text
                  var 22.614
                  label.text-muted Followers
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | Follow
          //
             Categories
          .sidebar
            h6
              i.fa.fa-align-justify.sidebar-icon
              | News Categories
            ul.nav.nav-list.sidebar-categories
              li.active
                a(href='#')
                  | Web Themes
                  span.badge.pull-right 30
              li
                a(href='#')
                  | PSD Store
                  span.badge.pull-right 28
              li
                a(href='#')
                  | Wordpress Codex
                  span.badge.pull-right 74
              li
                a(href='#')
                  | Maggazine
                  span.badge.pull-right 62
              li
                a(href='#')
                  | Music Billboard
                  span.badge.pull-right 26
              li
                a(href='#')
                  | Movie Fragman
                  span.badge.pull-right 28
              li
                a(href='#')
                  | App Games
                  span.badge.pull-right 28
          //
             Archives Sidebar
          .sidebar
            h6
              i.fa.fa-calendar-o.sidebar-icon
              | Post Archives
            ul.nav.nav-list.sidebar-categories
              li
                a(href='#')
                  | January
                  span.badge.pull-right 30
              li
                a(href='#')
                  | February
                  span.badge.pull-right 28
              li
                a(href='#')
                  | March
                  span.badge.pull-right 74
              li
                a(href='#')
                  | April
                  span.badge.pull-right 62
              li
                a(href='#')
                  | May
                  span.badge.pull-right 26
              li
                a(href='#')
                  | June
                  span.badge.pull-right 28
              li
                a(href='#')
                  | August
                  span.badge.pull-right 28
          //
             Pool Sidebar
          .sidebar
            h6
              i.fa.fa-bar-chart-o.sidebar-icon
              | Pool Archives
            .sidebar-categories
              h5
                em Where do you usually browse?
              strong Windows PC
              span.pull-right 30%
              .progress.progress-striped.active
                .progress-bar(style='width: 30%;')
              strong Mac
              span.pull-right 40%
              .progress.progress-striped.active
                .progress-bar(style='width: 40%;')
              strong iPad/iPhone
              span.pull-right 10%
              .progress.progress-striped.active
                .progress-bar(style='width: 10%;')
              strong Android
              span.pull-right 5%
              .progress.progress-striped.active
                .progress-bar(style='width: 5%;')
              strong Others
              span.pull-right 15%
              .progress.progress-striped.active
                .progress-bar(style='width: 15%;')
              p.vote-button
                a.btn.btn-large.btn-success(href='#') Vote
                a.pull-right(href='#') View detailed results
          //
             Tag Cloud
          .sidebar
            h6
              i.fa.fa-tags.sidebar-icon
              | Tags Cloud
            ul.nav.nav-list.tag-cloud.sidebar-categories-two
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Web
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Rap
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Pop
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Design
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Wordpress Themes
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Rock
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Jazz
              li
                a.badge.tag-cloud-tags(href='#Fakelink') PSD Design
  //
     Page Navi
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-fifteen
      .row
        .col-md-12.page-navi
          .pagination.pagination-default
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | OLDER
            ul
              li
                a(href='#fakelink') 1
              li
                a(href='#fakelink') 2
              li
                a(href='#fakelink') 3
              li
                a(href='#fakelink') 4
              li
                a(href='#fakelink') 5
            a.btn.btn-default.next(href='#fakelink')
              | NEWER
              span.fui-arrow-right
  //
     Picture Modal Box
  #view-post-image.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Image Title
        .modal-body
          img.portlio-list-img(src='img/theme/p9.jpg', alt='img04')
        .modal-footer
          a.btn.btn-default(href='#fakelink')
            span.fui-googleplus
          a.btn.btn-default(href='#fakelink')
            span.fui-facebook
          a.btn.btn-default(href='#fakelink')
            span.fui-twitter
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  //
     Video Modal Box
  #view-post-video.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Video Title
        .modal-body
          iframe.iframe-options(src='http://player.56.com/v_MTE2NjMzOTQz.swf/1030_xl-xzrjlwlgyr.swf')
        .modal-footer
          a.btn.btn-default(href='#fakelink')
            span.fui-googleplus
          a.btn.btn-default(href='#fakelink')
            span.fui-facebook
          a.btn.btn-default(href='#fakelink')
            span.fui-twitter
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  //
     Music Modal Box
  #view-post-music.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Music Title
        .modal-body
          iframe.iframe-options-two(src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2384806&color=179ce3&auto_play=false&show_artwork=false')
        .modal-footer
          a.btn.btn-default(href='#fakelink')
            span.fui-googleplus
          a.btn.btn-default(href='#fakelink')
            span.fui-facebook
          a.btn.btn-default(href='#fakelink')
            span.fui-twitter
          button.btn.btn-default(type='button', data-dismiss='modal') Close
