extends layout

block scripts
  script(type='text/javascript', src='/rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='/showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Slider Options
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 640,
        startheight: 400,
        hideThumbs: 10
      });
      //- Related Post
      $('#relatedpost').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [3, 3, 3, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
    });

block content
  //
     Blog Header
  .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
    .container
      .row
        .col-md-12
          .big-title
            h1 Blog Page
  //
     Blog
  .container-fluid.modul-bt-one
    .container.modul-space-sixteen
      .row
        .col-md-8
          //
             Post Detail
          .post-detail
            //
               Image
            .tp-banner-container
              .tp-banner
                ul
                  //
                     SLIDE ONE
                  li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
                    //
                       MAIN IMAGE
                    img(src='img/theme/p1.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
                    //
                       MAIN IMAGE
                    img(src='img/theme/p2.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
                    //
                       MAIN IMAGE
                    img(src='img/theme/p3.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                .tp-bannertimer
            .blog-slider-list.post-page-list.phone-space-five
              h1 Donec Venenatis Mattis
              .blog-info.hidden-xs
                small
                  i.fa.fa-pencil.blog-mini-icon
                  | by
                  a(href='#') John Doe
                  i.fa.fa-comments.blog-mini-icon-two
                  | 134 Comment
                  i.fa.fa-tag.blog-mini-icon-two
                  a(href='#') Web
                  | ,
                  a(href='#') Design
                  | ,
                  a(href='#') Logo
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget enim elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas nibh sapien, adipiscing vitae tellus at, imperdiet convallis urna. Integer vel tempus massa. Sed lobortis mi eget aliquet vehicula. Morbi in posuere sem, blandit hendrerit lorem. Nulla nec nibh sed libero convallis convallis rhoncus ac velit. Nam dapibus diam sed scelerisque imperdiet. Curabitur vehicula eleifend sapien sit amet tincidunt. Donec sed aliquet lectus, quis pharetra velit. Aliquam aliquet interdum gravida. Duis tincidunt mi eu urna vestibulum, id rutrum metus elementum. Cras adipiscing, felis sed pulvinar semper, nunc lacus porta urna, nec porttitor magna tellus et metus. Fusce venenatis consectetur dui id sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            p
              | Nam vitae elit risus. Nulla vel est elit. Curabitur pellentesque vulputate blandit. Sed pharetra orci enim, eget pulvinar tellus scelerisque ac. Vestibulum feugiat dolor et hendrerit fermentum. Morbi ultrices nunc eget est fermentum, in viverra leo fermentum. Nam euismod eros et tempor iaculis. Nullam vitae diam ac nulla ullamcorper placerat. Fusce elementum imperdiet urna, a mattis nulla fringilla sit amet. Vivamus vehicula suscipit dolor.
            .well.post-editor-rating
              .row
                .col-xs-12.col-md-4.text-center
                  h1
                    | 4.2
                  .rating
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                  div
                    span.glyphicon.glyphicon-user
                    | 1,050,008 total
                .col-xs-12.col-md-8
                  .row.rating-desc
                    .col-xs-12.col-md-3.text-right
                      span.glyphicon.glyphicon-star
                      | 5
                    .col-xs-8.col-md-9
                      .progress
                        .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                          span.sr-only 80%
                    //
                       end 5
                    .col-xs-12.col-md-3.text-right
                      span.glyphicon.glyphicon-star
                      | 4
                    .col-xs-8.col-md-9
                      .progress
                        .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                          span.sr-only 60%
                    //
                       end 4
                    .col-xs-12.col-md-3.text-right
                      span.glyphicon.glyphicon-star
                      | 3
                    .col-xs-8.col-md-9
                      .progress
                        .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                          span.sr-only 40%
                    //
                       end 3
                    .col-xs-12.col-md-3.text-right
                      span.glyphicon.glyphicon-star
                      | 2
                    .col-xs-8.col-md-9
                      .progress
                        .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                          span.sr-only 20%
                    //
                       end 2
                    .col-xs-12.col-md-3.text-right
                      span.glyphicon.glyphicon-star
                      | 1
                    .col-xs-8.col-md-9
                      .progress
                        .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 15%;')
                          span.sr-only 15%
                    //
                       end 1
                  //
                     end row
            br
            p
              | Fusce enim est, aliquam nec enim et, tincidunt ornare dui. Nulla facilisi. Aliquam erat volutpat. Fusce tortor enim, tempus et nisl vitae, vulputate eleifend enim. Praesent eget arcu dictum, luctus leo quis, porta sapien. Ut aliquet, tellus sit amet fringilla egestas, turpis lorem dictum ante, et pharetra purus diam sed sapien. Pellentesque mauris lacus, facilisis vel semper eget, facilisis sit amet dolor. Phasellus porta est diam, lacinia convallis lacus commodo vitae. Sed at vulputate nisl, eget accumsan libero. Duis porta, enim sed venenatis luctus, felis sem facilisis ante, et tempor elit risus eget leo. Suspendisse bibendum adipiscing nisi, nec ullamcorper lectus interdum quis. Pellentesque pretium dignissim diam. Morbi dolor nibh, tempor id porta at, suscipit a magna. Nulla sed est vestibulum, viverra mi suscipit, venenatis enim. Pellentesque et erat ac est tincidunt hendrerit.
            p
              | Nullam egestas risus nec varius volutpat. Nunc mattis, diam non ultrices posuere, ipsum turpis ultrices mi, cursus luctus lectus purus vel risus. Nam ultrices, libero vel consequat mollis, libero velit sollicitudin ligula, a euismod sem lectus sit amet nisl. Donec nisi mi, pulvinar ut cursus quis, congue sit amet velit. Proin commodo luctus nunc, ac imperdiet sem pharetra at. Praesent congue posuere urna id consectetur. Suspendisse potenti. Ut aliquam nibh in diam tempor, at gravida massa pulvinar. Mauris quam turpis, egestas eu pellentesque sed, ornare ac elit. Phasellus sit amet ullamcorper ante. Vivamus feugiat eget purus eget ultrices. Morbi libero enim, sollicitudin id sagittis vitae, tincidunt at sapien. Pellentesque pulvinar urna a turpis semper, vel faucibus libero ullamcorper. Maecenas eu adipiscing arcu, non laoreet nulla.
            h1 H1 Tag Sample
            p
              | Vestibulum purus est, dapibus vitae facilisis non, accumsan a ipsum. Quisque sollicitudin elementum iaculis. Curabitur ultricies nunc non augue elementum, eu pharetra lorem hendrerit. Nam ac mi placerat, porttitor lacus id, rutrum urna. Fusce nec feugiat nisi. Etiam nunc purus, cursus eu tincidunt ac, faucibus ac velit. Fusce venenatis tincidunt diam, quis euismod ipsum consectetur faucibus. Sed ac enim vel dui hendrerit dapibus. Nulla placerat nulla eu volutpat dapibus. Donec nisl sem, tempor venenatis tellus sit amet, faucibus interdum augue. Phasellus ultrices id neque nec bibendum. Quisque odio lorem, consectetur a metus id, venenatis malesuada sem. Mauris ut lorem sit amet magna mollis convallis dapibus ut nulla. Morbi euismod, dui nec dapibus auctor, nisl nisi bibendum ante, ac vehicula tellus risus a nibh. Donec porta adipiscing nunc, et pharetra leo mollis et.
            h2 H2 Tag Sample
            p
              | Vestibulum purus est, dapibus vitae facilisis non, accumsan a ipsum. Quisque sollicitudin elementum iaculis. Curabitur ultricies nunc non augue elementum, eu pharetra lorem hendrerit. Nam ac mi placerat, porttitor lacus id, rutrum urna. Fusce nec feugiat nisi. Etiam nunc purus, cursus eu tincidunt ac, faucibus ac velit. Fusce venenatis tincidunt diam, quis euismod ipsum consectetur faucibus. Sed ac enim vel dui hendrerit dapibus. Nulla placerat nulla eu volutpat dapibus. Donec nisl sem, tempor venenatis tellus sit amet, faucibus interdum augue. Phasellus ultrices id neque nec bibendum. Quisque odio lorem, consectetur a metus id, venenatis malesuada sem. Mauris ut lorem sit amet magna mollis convallis dapibus ut nulla. Morbi euismod, dui nec dapibus auctor, nisl nisi bibendum ante, ac vehicula tellus risus a nibh. Donec porta adipiscing nunc, et pharetra leo mollis et.
            h3 H3 Tag Sample
            p
              | Vestibulum purus est, dapibus vitae facilisis non, accumsan a ipsum. Quisque sollicitudin elementum iaculis. Curabitur ultricies nunc non augue elementum, eu pharetra lorem hendrerit. Nam ac mi placerat, porttitor lacus id, rutrum urna. Fusce nec feugiat nisi. Etiam nunc purus, cursus eu tincidunt ac, faucibus ac velit. Fusce venenatis tincidunt diam, quis euismod ipsum consectetur faucibus. Sed ac enim vel dui hendrerit dapibus. Nulla placerat nulla eu volutpat dapibus. Donec nisl sem, tempor venenatis tellus sit amet, faucibus interdum augue. Phasellus ultrices id neque nec bibendum. Quisque odio lorem, consectetur a metus id, venenatis malesuada sem. Mauris ut lorem sit amet magna mollis convallis dapibus ut nulla. Morbi euismod, dui nec dapibus auctor, nisl nisi bibendum ante, ac vehicula tellus risus a nibh. Donec porta adipiscing nunc, et pharetra leo mollis et.
            h4 H4 Tag Sample
            p
              | Vestibulum purus est, dapibus vitae facilisis non, accumsan a ipsum. Quisque sollicitudin elementum iaculis. Curabitur ultricies nunc non augue elementum, eu pharetra lorem hendrerit. Nam ac mi placerat, porttitor lacus id, rutrum urna. Fusce nec feugiat nisi. Etiam nunc purus, cursus eu tincidunt ac, faucibus ac velit. Fusce venenatis tincidunt diam, quis euismod ipsum consectetur faucibus. Sed ac enim vel dui hendrerit dapibus. Nulla placerat nulla eu volutpat dapibus. Donec nisl sem, tempor venenatis tellus sit amet, faucibus interdum augue. Phasellus ultrices id neque nec bibendum. Quisque odio lorem, consectetur a metus id, venenatis malesuada sem. Mauris ut lorem sit amet magna mollis convallis dapibus ut nulla. Morbi euismod, dui nec dapibus auctor, nisl nisi bibendum ante, ac vehicula tellus risus a nibh. Donec porta adipiscing nunc, et pharetra leo mollis et.
            h5 H5 Tag Sample
            p
              | Vestibulum purus est, dapibus vitae facilisis non, accumsan a ipsum. Quisque sollicitudin elementum iaculis. Curabitur ultricies nunc non augue elementum, eu pharetra lorem hendrerit. Nam ac mi placerat, porttitor lacus id, rutrum urna. Fusce nec feugiat nisi. Etiam nunc purus, cursus eu tincidunt ac, faucibus ac velit. Fusce venenatis tincidunt diam, quis euismod ipsum consectetur faucibus. Sed ac enim vel dui hendrerit dapibus. Nulla placerat nulla eu volutpat dapibus. Donec nisl sem, tempor venenatis tellus sit amet, faucibus interdum augue. Phasellus ultrices id neque nec bibendum. Quisque odio lorem, consectetur a metus id, venenatis malesuada sem. Mauris ut lorem sit amet magna mollis convallis dapibus ut nulla. Morbi euismod, dui nec dapibus auctor, nisl nisi bibendum ante, ac vehicula tellus risus a nibh. Donec porta adipiscing nunc, et pharetra leo mollis et.
            h6 H6 Tag Sample
            p
              | Vestibulum purus est, dapibus vitae facilisis non, accumsan a ipsum. Quisque sollicitudin elementum iaculis. Curabitur ultricies nunc non augue elementum, eu pharetra lorem hendrerit. Nam ac mi placerat, porttitor lacus id, rutrum urna. Fusce nec feugiat nisi. Etiam nunc purus, cursus eu tincidunt ac, faucibus ac velit. Fusce venenatis tincidunt diam, quis euismod ipsum consectetur faucibus. Sed ac enim vel dui hendrerit dapibus. Nulla placerat nulla eu volutpat dapibus. Donec nisl sem, tempor venenatis tellus sit amet, faucibus interdum augue. Phasellus ultrices id neque nec bibendum. Quisque odio lorem, consectetur a metus id, venenatis malesuada sem. Mauris ut lorem sit amet magna mollis convallis dapibus ut nulla. Morbi euismod, dui nec dapibus auctor, nisl nisi bibendum ante, ac vehicula tellus risus a nibh. Donec porta adipiscing nunc, et pharetra leo mollis et.
            p
              | Aenean dolor turpis, eleifend vitae feugiat id, tempor eget nisl. Morbi dignissim rhoncus mattis. Etiam vehicula dui malesuada dignissim consectetur. Nullam eget diam orci. Sed eget metus ac leo malesuada commodo non vel sapien. Aenean viverra enim lacus, id eleifend enim condimentum eget. Proin sit amet egestas augue, at fermentum mi. Vestibulum in gravida nunc. Integer non turpis nulla. Sed porta orci odio, a eleifend dolor tincidunt in. Nam semper odio ac augue luctus rhoncus. Morbi ultricies vehicula nisl, quis consectetur justo vulputate vel. Donec ut condimentum nibh. Cras imperdiet suscipit lorem sit amet bibendum. Pellentesque est dolor, porttitor eget scelerisque et, sodales vel nibh.
            h4 Blockquote Tag
            p
              | Nulla blandit cursus magna at convallis. Mauris tempor dui eu metus lacinia pretium. Duis fermentum blandit libero, nec luctus elit hendrerit nec. Suspendisse potenti. Nunc sit amet dolor pellentesque, sodales nulla vel, adipiscing metus. Suspendisse dapibus eget arcu posuere consequat. Ut rutrum urna odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum neque nec risus tempus bibendum. Ut bibendum lectus vel tellus euismod ultricies. Phasellus in libero neque. Pellentesque elementum justo a tortor blandit porta. Proin laoreet malesuada metus id pharetra. Vestibulum a enim sagittis, egestas ipsum non, viverra nunc. Nunc sagittis vulputate egestas. Morbi dignissim feugiat lectus, eu tincidunt massa pellentesque ut.
            blockquote
              p
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus.
              small John Doe, CEO
            p
              | Nulla blandit cursus magna at convallis. Mauris tempor dui eu metus lacinia pretium. Duis fermentum blandit libero, nec luctus elit hendrerit nec. Suspendisse potenti. Nunc sit amet dolor pellentesque, sodales nulla vel, adipiscing metus. Suspendisse dapibus eget arcu posuere consequat. Ut rutrum urna odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum neque nec risus tempus bibendum. Ut bibendum lectus vel tellus euismod ultricies. Phasellus in libero neque. Pellentesque elementum justo a tortor blandit porta. Proin laoreet malesuada metus id pharetra. Vestibulum a enim sagittis, egestas ipsum non, viverra nunc. Nunc sagittis vulputate egestas. Morbi dignissim feugiat lectus, eu tincidunt massa pellentesque ut.
            h4 Left Image Class
            p
              | Nulla blandit cursus magna at convallis. Mauris tempor dui eu metus lacinia pretium. Duis fermentum blandit libero, nec luctus elit hendrerit nec. Suspendisse potenti. Nunc sit amet dolor pellentesque, sodales nulla vel, adipiscing metus. Suspendisse dapibus eget arcu posuere consequat. Ut rutrum urna odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum neque nec risus tempus bibendum. Ut bibendum lectus vel tellus euismod ultricies. Phasellus in libero neque. Pellentesque elementum justo a tortor blandit porta. Proin laoreet malesuada metus id pharetra. Vestibulum a enim sagittis, egestas ipsum non, viverra nunc. Nunc sagittis vulputate egestas. Morbi dignissim feugiat lectus, eu tincidunt massa pellentesque ut.
            p
              img.pull-left.alignleft(src='img/theme/p1.jpg', alt='Image', width='300')
              | Fusce rutrum ultrices augue, nec blandit sapien cursus et. Sed porttitor dui id mauris condimentum vestibulum. Praesent vitae ligula tristique ante malesuada bibendum et in nulla. Nunc ac facilisis diam. Sed non arcu sed nisl tempus eleifend sed eget arcu. Donec viverra adipiscing dignissim. Quisque elementum neque et lacus fringilla, vitae luctus felis tempor. Duis a auctor eros, congue sollicitudin lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            p
              | Vivamus molestie risus gravida dui malesuada, eu commodo nisi interdum. Fusce porta tortor dictum turpis varius, ut dictum leo pulvinar. Pellentesque in ligula a risus pretium scelerisque nec vitae magna. Curabitur congue tortor tristique molestie pulvinar. Proin fermentum rutrum erat vitae fringilla. Aenean placerat aliquam consectetur. Integer sodales, purus quis congue laoreet, massa lectus condimentum augue, sed ultrices risus ante sit amet ipsum. Pellentesque quis sem leo. Nulla lobortis quam varius felis dictum blandit facilisis at nibh. Morbi magna turpis, faucibus sit amet lacinia quis, sollicitudin nec leo. Integer feugiat ante porta velit volutpat egestas. Aliquam erat volutpat. Pellentesque nec tristique velit. Nam volutpat mi at enim tempus, in condimentum nisl cursus.
            h4 Right Image Class
            p
              | Nulla blandit cursus magna at convallis. Mauris tempor dui eu metus lacinia pretium. Duis fermentum blandit libero, nec luctus elit hendrerit nec. Suspendisse potenti. Nunc sit amet dolor pellentesque, sodales nulla vel, adipiscing metus. Suspendisse dapibus eget arcu posuere consequat. Ut rutrum urna odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum neque nec risus tempus bibendum. Ut bibendum lectus vel tellus euismod ultricies. Phasellus in libero neque. Pellentesque elementum justo a tortor blandit porta. Proin laoreet malesuada metus id pharetra. Vestibulum a enim sagittis, egestas ipsum non, viverra nunc. Nunc sagittis vulputate egestas. Morbi dignissim feugiat lectus, eu tincidunt massa pellentesque ut.
            p
              img.pull-right.alignright(src='img/theme/p2.jpg', alt='Image', width='300')
              | Fusce rutrum ultrices augue, nec blandit sapien cursus et. Sed porttitor dui id mauris condimentum vestibulum. Praesent vitae ligula tristique ante malesuada bibendum et in nulla. Nunc ac facilisis diam. Sed non arcu sed nisl tempus eleifend sed eget arcu. Donec viverra adipiscing dignissim. Quisque elementum neque et lacus fringilla, vitae luctus felis tempor. Duis a auctor eros, congue sollicitudin lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            p
              | Vivamus molestie risus gravida dui malesuada, eu commodo nisi interdum. Fusce porta tortor dictum turpis varius, ut dictum leo pulvinar. Pellentesque in ligula a risus pretium scelerisque nec vitae magna. Curabitur congue tortor tristique molestie pulvinar. Proin fermentum rutrum erat vitae fringilla. Aenean placerat aliquam consectetur. Integer sodales, purus quis congue laoreet, massa lectus condimentum augue, sed ultrices risus ante sit amet ipsum. Pellentesque quis sem leo. Nulla lobortis quam varius felis dictum blandit facilisis at nibh. Morbi magna turpis, faucibus sit amet lacinia quis, sollicitudin nec leo. Integer feugiat ante porta velit volutpat egestas. Aliquam erat volutpat. Pellentesque nec tristique velit. Nam volutpat mi at enim tempus, in condimentum nisl cursus.
          .clearfix
          //
             Share Post
          .post-share
            h5 SHARE POST:
            hr
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-facebook.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-twitter.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-linkedin.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-tumblr.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-flickr.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-github-alt.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-google-plus.fa-lg
          //
             Related Post
          .related-post
            h5 RELATED POST:
            hr
            .pull-right.related-button
              a#showbiz_left_relatedpost.btn.btn-primary.blog-nav-button-two(href='#')
                i.fa.fa-chevron-left
              a#showbiz_right_relatedpost.btn.btn-primary.blog-nav-button-two(href='#')
                i.fa.fa-chevron-right
            #relatedpost.showbiz-container.related-post
              .showbiz(data-left='#showbiz_left_relatedpost', data-right='#showbiz_right_relatedpost')
                .overflowholder
                  ul
                    //
                       Post One
                    li
                      .blog-slider
                        .grid.cs-style-3
                          figure
                            .blog-date-circle
                              h5 21
                              p Jan
                            img.blog-slider-list-img(src='img/theme/p1.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-plus
                        .blog-slider-list
                          h6 Pellentesque Mattisor
                          p
                            | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque.
                    //
                       Post Two
                    li
                      .blog-slider
                        .grid.cs-style-3
                          figure
                            .blog-date-circle
                              h5 19
                              p Jan
                            img.blog-slider-list-img(src='img/theme/p2.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-plus
                        .blog-slider-list
                          h6 Donec Ligula Mi
                          p
                            | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque.
                    //
                       Post Three
                    li
                      .blog-slider
                        .grid.cs-style-3
                          figure
                            .blog-date-circle
                              h5 17
                              p Jan
                            img.blog-slider-list-img(src='img/theme/p3.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-plus
                        .blog-slider-list
                          h6 Suspendisse Placerat
                          p
                            | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque.
                    //
                       Post Four
                    li
                      .blog-slider
                        .grid.cs-style-3
                          figure
                            .blog-date-circle
                              h5 15
                              p Jan
                            img.blog-slider-list-img(src='img/theme/p4.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-plus
                        .blog-slider-list
                          h6 Suspendisse Placerat
                          p
                            | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque.
                  .sbclear
                .sbclear
          //
             Comments
          .comments-area
            h5 32 COMMENTS:
            hr
            .comment-list
              ul.media-list
                //
                   #1
                li.
                  a.pull-left(href='#')
                    img.media-object.comment-img.img-circle(src='img/theme/c1.jpg', alt='User', width='80', height='80')
                  .media-body
                    h6
                      | John Doe:
                      span.label.label-primary.badge-comment.pull-right 21 Jan
                    small
                      a(href='#')
                        i.fa.fa-plus-square.comment-button
                        strong Reply
                      a(href='#')
                        i.fa.fa-shield.comment-button-two
                        strong Report
                    p
                      | Ut et turpis nisl. Nam ultricies quam vitae dui pellentesque, at gravida nisi ullamcorper. Suspendisse pretium mauris lorem, quis vehicula felis tincidunt sit amet. Curabitur a ultrices sem. Nunc iaculis nisi id aliquam felis tincidunt lobortis.
                //
                   #2
                li.
                  a.pull-left(href='#')
                    img.media-object.comment-img.img-circle(src='img/theme/c2.jpg', alt='User', width='80', height='80')
                  .media-body
                    h6
                      | Marry Smith:
                      span.label.label-primary.badge-comment.pull-right 19 Jan
                    small
                      a(href='#')
                        i.fa.fa-plus-square.comment-button
                        strong Reply
                      a(href='#')
                        i.fa.fa-shield.comment-button-two
                        strong Report
                    p
                      | Ut et turpis nisl. Nam ultricies quam vitae dui pellentesque, at gravida nisi ullamcorper. Suspendisse pretium mauris lorem, quis vehicula felis tincidunt sit amet. Curabitur a ultrices sem. Nunc iaculis nisi id aliquam felis tincidunt lobortis.
                //
                   #2
                li.
                  a.pull-left(href='#')
                    img.media-object.comment-img.img-circle(src='img/theme/c3.jpg', alt='User', width='80', height='80')
                  .media-body
                    h6
                      | Micheal Doe:
                      span.label.label-primary.badge-comment.pull-right 17 Jan
                    small
                      a(href='#')
                        i.fa.fa-plus-square.comment-button
                        strong Reply
                      a(href='#')
                        i.fa.fa-shield.comment-button-two
                        strong Report
                    p
                      | Ut et turpis nisl. Nam ultricies quam vitae dui pellentesque, at gravida nisi ullamcorper. Suspendisse pretium mauris lorem, quis vehicula felis tincidunt sit amet. Curabitur a ultrices sem. Nunc iaculis nisi id aliquam felis tincidunt lobortis.
          //
             Leave Comment
          .leave-comment
            h5 LEAVE COMMENT:
            hr
            .row.comment-forms
              .col-xs-12.col-sm-12.col-md-6
                .form-group
                  .input-group.input-group
                    span.input-group-addon
                      span.fui-user
                    input#prependedInput-01.form-control(type='text', placeholder='Name:')
                .form-group
                  .input-group.input-group
                    span.input-group-addon
                      span.fui-mail
                    input#prependedInput-02.form-control(type='text', placeholder='E-Mail:')
                .form-group
                  .input-group.input-group
                    span.input-group-addon
                      span.fui-link
                    input#prependedInput-03.form-control(type='text', placeholder='Web:')
              .col-xs-12.col-sm-12.col-md-6
                .form-group
                  textarea.form-control(rows='8', placeholder='Add comment...')
                .form-group.pull-right
                  a.btn.btn-info(href='#fakelink') Send Comment
        //
           Sidebar
        .col-md-4
          //
             Social Sidebar
          .row
            .col-md-6
              .hero-widget.well-sm
                .icon
                  i.fa.fa-facebook
                .text
                  var 14.180
                  label.text-muted Like
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | Like
            .col-md-6
              .hero-widget.well-sm
                .icon
                  i.fa.fa-twitter
                .text
                  var 22.614
                  label.text-muted Followers
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | Follow
          //
             Categories
          .sidebar
            h6
              i.fa.fa-align-justify.sidebar-icon
              | News Categories
            ul.nav.nav-list.sidebar-categories
              li.active
                a(href='#')
                  | Web Themes
                  span.badge.pull-right 30
              li
                a(href='#')
                  | PSD Store
                  span.badge.pull-right 28
              li
                a(href='#')
                  | Wordpress Codex
                  span.badge.pull-right 74
              li
                a(href='#')
                  | Maggazine
                  span.badge.pull-right 62
              li
                a(href='#')
                  | Music Billboard
                  span.badge.pull-right 26
              li
                a(href='#')
                  | Movie Fragman
                  span.badge.pull-right 28
              li
                a(href='#')
                  | App Games
                  span.badge.pull-right 28
          //
             Archives Sidebar
          .sidebar
            h6
              i.fa.fa-calendar-o.sidebar-icon
              | Post Archives
            ul.nav.nav-list.sidebar-categories
              li
                a(href='#')
                  | January
                  span.badge.pull-right 30
              li
                a(href='#')
                  | February
                  span.badge.pull-right 28
              li
                a(href='#')
                  | March
                  span.badge.pull-right 74
              li
                a(href='#')
                  | April
                  span.badge.pull-right 62
              li
                a(href='#')
                  | May
                  span.badge.pull-right 26
              li
                a(href='#')
                  | June
                  span.badge.pull-right 28
              li
                a(href='#')
                  | August
                  span.badge.pull-right 28
          //
             Pool Sidebar
          .sidebar
            h6
              i.fa.fa-bar-chart-o.sidebar-icon
              | Pool Archives
            .sidebar-categories
              h5
                em Where do you usually browse?
              strong Windows PC
              span.pull-right 30%
              .progress.progress-striped.active
                .progress-bar(style='width: 30%;')
              strong Mac
              span.pull-right 40%
              .progress.progress-striped.active
                .progress-bar(style='width: 40%;')
              strong iPad/iPhone
              span.pull-right 10%
              .progress.progress-striped.active
                .progress-bar(style='width: 10%;')
              strong Android
              span.pull-right 5%
              .progress.progress-striped.active
                .progress-bar(style='width: 5%;')
              strong Others
              span.pull-right 15%
              .progress.progress-striped.active
                .progress-bar(style='width: 15%;')
              p.vote-button
                a.btn.btn-large.btn-success(href='#') Vote
                a.pull-right(href='#') View detailed results
          //
             Tag Cloud
          .sidebar
            h6
              i.fa.fa-tags.sidebar-icon
              | Tags Cloud
            ul.nav.nav-list.tag-cloud.sidebar-categories-two
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Web
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Rap
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Pop
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Design
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Wordpress Themes
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Rock
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Jazz
              li
                a.badge.tag-cloud-tags(href='#Fakelink') PSD Design
  //
     Page Navi
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-fifteen
      .row
        .col-md-12.page-navi
          .pagination.pagination-default.hidden-xs
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | PREV POST
            a.btn.btn-default.next(href='#fakelink')
              | NEXT POST
              span.fui-arrow-right
          .text-center.visible-xs
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | PREV POST
            a.btn.btn-default.next(href='#fakelink')
              | NEXT POST
              span.fui-arrow-right
