doctype html
html.js.no-touch
  head
    include partials/head
    block head

  body
    header
      include partials/skinswitcher
      include partials/navigation
      include partials/flash

    main
      block content

    footer
      include partials/footer

    script(type='text/javascript', src='/js/vendors/jquery.scrollUp.js')
    script(type='text/javascript', src='/js/application.js')
    block scripts