doctype html
html.js.no-touch
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name='description', content='Quick, easy and reuseble HTML Tamplate')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Honglio')

    title #{title} | HTML Theme

    link(rel='stylesheet', href='/css/lib/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href="/css/lib/ui.css", type='text/css')
    link(rel='stylesheet', href='/css/lib/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/base.css', type='text/css')
    link(rel='stylesheet', href='/css/style-blue.css', type='text/css')

    //- Skins
    link(rel='alternate stylesheet', type='text/css', href='css/style-blue.css', title='blue', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-black.css', title='black', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-cyan.css', title='cyan', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-green.css', title='green', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-orange.css', title='orange', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-pink.css', title='pink', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-purple.css', title='purple', media='all')
    link(rel='alternate stylesheet', type='text/css', href='css/style-red.css', title='red', media='all')
    //- END Skins

    script(type='text/javascript', src='/js/vendors/jquery.js')
    script(type='text/javascript', src='/js/vendors/modernizr.custom.js')
    //- IE6-8 support of HTML5 elements, RAW html, Do not compile to Jade.
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/nill-box-menu-ie8.css">
    <script src="/js/vendors/html5shiv.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="js/vendors/jquery.placeholder.js"></script>
    <![endif]-->

    //- Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/img/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/img/ico/favicon.png')

  body
    include partials/skinswitcher
    include partials/navigation

    .main-container
        include partials/flash
        block content

    include partials/footer

    block scripts
        script(type='text/javascript', src='/js/vendors/jquery-ui-1.10.3.custom.min.js')
        script(type='text/javascript', src='/js/vendors/jquery.ui.touch-punch.min.js')
        script(type='text/javascript', src='/js/vendors/jquery.tagsinput.js')
        script(type='text/javascript', src='/js/vendors/jquery.mixitup.js')
        script(type='text/javascript', src='/js/vendors/jquery.scrollUp.js')
        script(type='text/javascript', src='/js/vendors/bootstrap.js')
        script(type='text/javascript', src='/js/vendors/bootstrap-select.js')
        script(type='text/javascript', src='/js/vendors/bootstrap-switch.js')
        script(type='text/javascript', src='/js/vendors/bootstrap-typeahead.js')
        script(type='text/javascript', src='/js/vendors/flatui-checkbox.js')
        script(type='text/javascript', src='/js/vendors/flatui-radio.js')
        script(type='text/javascript', src='/js/application.js')
        script(type='text/javascript', src='/js/toucheffect.js')
        script(type='text/javascript', src='/js/theme.js')

        script(type='text/javascript').
            $(document).ready(function($) {
                $(".nav li a[href='/articles']").click(function(ev) {
                    show_loading_bar({
                        pct: 20,
                        delay: .1,
                        finish: function(pct) {
                            show_loading_bar({
                                pct: 100
                            });
                        }
                    });
                });
                $(".nav li a[href='/articles/new']").click(function(ev) {
                    show_loading_bar({
                        pct: 20,
                        delay: .1,
                        finish: function(pct) {
                            show_loading_bar({
                                pct: 100
                            });
                        }
                    });
                });
                $(".nav li a[href='/articles/my']").click(function(ev) {
                    show_loading_bar({
                        pct: 20,
                        delay: .1,
                        finish: function(pct) {
                            show_loading_bar({
                                pct: 100
                            });
                        }
                    });
                });
                $("form[role='signin'] button[type='submit']").click(function(ev) {
                    show_loading_bar({
                        pct: 20,
                        delay: .1,
                        finish: function(pct) {
                            show_loading_bar({
                                pct: 100
                            });
                        }
                    });
                });

            });