extends layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Seven
    .container-fluid.modul-bt-one
      .container.modul-space-eight
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
              a.btn.btn-inverse.advert-button-nine Pruchase
              a.btn.btn-primary.advert-button-nine Download
          .col-md-2
          .clearfix
          //
             Slider
          .tp-banner-container
            .tp-banner-two
              ul
                //
                   SLIDE ONE
                li(data-transition='scaledownfrombottom', data-slotamount='5', data-masterspeed='700')
                  //
                     MAIN IMAGE
                  img(src='img/theme/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.customin.customout(data-x='right', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='400', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-2.png', alt='Slide')
                  .tp-caption.customin.customout(data-x='left', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:400;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='800', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-3.png', alt='Slide')
                  .tp-caption.customin.customout(data-x='center', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:600;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='0', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-1.png', alt='Slide')
                //
                   SLIDE TWO
                li(data-transition='scaledownfrombottom', data-slotamount='5', data-masterspeed='700')
                  //
                     MAIN IMAGE
                  img(src='img/theme/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.customin.customout(data-x='left', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:400;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='400', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-4.png', alt='Slide')
                  .tp-caption.customin.customout(data-x='right', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='0', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-5.png', alt='Slide')
    //
       Advert Module Seven
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eight
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
              a.btn.btn-inverse.advert-button-nine Pruchase
              a.btn.btn-primary.advert-button-nine Download
          .col-md-2
          .clearfix
          //
             Slider
          .tp-banner-container
            .tp-banner-two
              ul
                //
                   SLIDE ONE
                li(data-transition='scaledownfrombottom', data-slotamount='5', data-masterspeed='700')
                  //
                     MAIN IMAGE
                  img(src='img/theme/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.customin.customout(data-x='right', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='400', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-2.png', alt='Slide')
                  .tp-caption.customin.customout(data-x='left', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:400;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='800', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-3.png', alt='Slide')
                  .tp-caption.customin.customout(data-x='center', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:600;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='0', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-1.png', alt='Slide')
                //
                   SLIDE TWO
                li(data-transition='scaledownfrombottom', data-slotamount='5', data-masterspeed='700')
                  //
                     MAIN IMAGE
                  img(src='img/theme/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.customin.customout(data-x='left', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:400;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='400', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-4.png', alt='Slide')
                  .tp-caption.customin.customout(data-x='right', data-y='top', data-customin='x:0;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-start='0', data-speed='1000', data-easing='Expo.easeInOut', data-endspeed='1000', data-endeasing='Expo.easeInOut')
                    img(src='img/theme/slide2-5.png', alt='Slide')
