extends layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Price Modul 1
    .container-fluid.modul-bt-one
      .container.modul-space-two
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $199
                  h6 / Month
              h2 Basic
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-default.btn-lg Purchase
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $299
                  h6 / Month
              h2 Standart
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-default.btn-lg Purchase
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $399
                  h6 / Month
              h2 Professional
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-primary.btn-lg Purchase
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $499
                  h6 / Month
              h2 Unlimited
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-default.btn-lg Purchase
    //
       Services Modul 1
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-two
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $199
                  h6 / Month
              h2 Basic
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-default.btn-lg Purchase
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $299
                  h6 / Month
              h2 Standart
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-default.btn-lg Purchase
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $399
                  h6 / Month
              h2 Professional
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-primary.btn-lg Purchase
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone
            .modul-price-one.mso-icon-ten
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                .hi-icon
                  h1 $499
                  h6 / Month
              h2 Unlimited
              ul
                li Web Hosting
                li Server Client
                li Global Domain
                li Unlimited E-Mail
                li 20GB Storage
              a.btn.btn-default.btn-lg Purchase
