extends layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Services Modul 7
    .container-fluid.modul-bt-one
      .container.modul-big-space.phone-space-one
        .row
          //
             Services One
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon.modul-phone-two.modul-bo-five.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-rocket.fa-2x.hi-icon
              h6 Etiam Sodales Justo
              p.ms-seven-p
                | Cras eget mattis justo. Fusce eget viendo commo do enim, quis condimentum use pentumos velo imperdiet sem eget viendose.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Two
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-magic.fa-2x.hi-icon
              h6 Mauris Aliqe Gravida
              p.ms-seven-p
                | Morbi dignissim non dolor nones justo placerat, Ut site amet lectus, at neque quis vel imperdi ullamcorper auctor amet.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Three
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-briefcase.fa-2x.hi-icon
              h6 Ullamcorper Lobortis
              p.ms-seven-p
                | Sedox lobortis, nibh sed dignissim feserot noneso porttito, felis odio pharetra via metus, non lobortis qe odione augue.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
    //
       Services Modul 8
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-big-space.phone-space-one
        .row
          //
             Services One
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-two.modul-phone-two.modul-bo-five.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-rocket.fa-2x.hi-icon
              h6 Etiam Sodales Justo
              p.ms-seven-p
                | Cras eget mattis justo. Fusce eget viendo commo do enim, quis condimentum use pentumos velo imperdiet sem eget viendose.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Two
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-two.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-magic.fa-2x.hi-icon
              h6 Mauris Aliqe Gravida
              p.ms-seven-p
                | Morbi dignissim non dolor nones justo placerat, Ut site amet lectus, at neque quis vel imperdi ullamcorper auctor amet.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Three
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-two.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-briefcase.fa-2x.hi-icon
              h6 Ullamcorper Lobortis
              p.ms-seven-p
                | Sedox lobortis, nibh sed dignissim feserot noneso porttito, felis odio pharetra via metus, non lobortis qe odione augue.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
    //
       Services Modul 9
    .container-fluid.modul-bt-one
      .container.modul-big-space.phone-space-one
        .row
          //
             Services One
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-three.modul-phone-two.modul-bo-five.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-rocket.fa-2x.hi-icon
              h6 Etiam Sodales Justo
              p.ms-seven-p
                | Cras eget mattis justo. Fusce eget viendo commo do enim, quis condimentum use pentumos velo imperdiet sem eget viendose.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Two
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-three.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-magic.fa-2x.hi-icon
              h6 Mauris Aliqe Gravida
              p.ms-seven-p
                | Morbi dignissim non dolor nones justo placerat, Ut site amet lectus, at neque quis vel imperdi ullamcorper auctor amet.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Three
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-three.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-briefcase.fa-2x.hi-icon
              h6 Ullamcorper Lobortis
              p.ms-seven-p
                | Sedox lobortis, nibh sed dignissim feserot noneso porttito, felis odio pharetra via metus, non lobortis qe odione augue.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
    //
       Services Modul 10
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-big-space.phone-space-one
        .row
          //
             Services One
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-four.modul-phone-two.modul-bo-five.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-rocket.fa-2x.hi-icon
              h6 Etiam Sodales Justo
              p.ms-seven-p
                | Cras eget mattis justo. Fusce eget viendo commo do enim, quis condimentum use pentumos velo imperdiet sem eget viendose.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Two
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-four.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-magic.fa-2x.hi-icon
              h6 Mauris Aliqe Gravida
              p.ms-seven-p
                | Morbi dignissim non dolor nones justo placerat, Ut site amet lectus, at neque quis vel imperdi ullamcorper auctor amet.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Three
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-four.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-briefcase.fa-2x.hi-icon
              h6 Ullamcorper Lobortis
              p.ms-seven-p
                | Sedox lobortis, nibh sed dignissim feserot noneso porttito, felis odio pharetra via metus, non lobortis qe odione augue.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
    //
       Services Modul 9
    .container-fluid.modul-bt-one
      .container.modul-big-space.phone-space-one
        .row
          //
             Services One
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-five.modul-phone-two.modul-bo-five.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-rocket.fa-2x.hi-icon
              h6 Etiam Sodales Justo
              p.ms-seven-p
                | Cras eget mattis justo. Fusce eget viendo commo do enim, quis condimentum use pentumos velo imperdiet sem eget viendose.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Two
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-five.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-magic.fa-2x.hi-icon
              h6 Mauris Aliqe Gravida
              p.ms-seven-p
                | Morbi dignissim non dolor nones justo placerat, Ut site amet lectus, at neque quis vel imperdi ullamcorper auctor amet.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Three
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-five.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-briefcase.fa-2x.hi-icon
              h6 Ullamcorper Lobortis
              p.ms-seven-p
                | Sedox lobortis, nibh sed dignissim feserot noneso porttito, felis odio pharetra via metus, non lobortis qe odione augue.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
    //
       Services Modul 10
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-big-space.phone-space-one
        .row
          //
             Services One
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-six.modul-phone-two.modul-bo-five.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-rocket.fa-2x.hi-icon
              h6 Etiam Sodales Justo
              p.ms-seven-p
                | Cras eget mattis justo. Fusce eget viendo commo do enim, quis condimentum use pentumos velo imperdiet sem eget viendose.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Two
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-six.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-magic.fa-2x.hi-icon
              h6 Mauris Aliqe Gravida
              p.ms-seven-p
                | Morbi dignissim non dolor nones justo placerat, Ut site amet lectus, at neque quis vel imperdi ullamcorper auctor amet.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
          //
             Services Three
          .col-xs-12.col-sm-4.col-md-4
            .modul-services-one.mso-icon-six.modul-phone-two.modul-bo-four.modul-bb-bold-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.mso-position
                i.fa.fa-briefcase.fa-2x.hi-icon
              h6 Ullamcorper Lobortis
              p.ms-seven-p
                | Sedox lobortis, nibh sed dignissim feserot noneso porttito, felis odio pharetra via metus, non lobortis qe odione augue.
              a.btn.btn-primary.btn-sm.bsm-seven Button Text
