extends layout

block scripts
  script(type='text/javascript', src='/rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Slider Options
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 1170,
        startheight: 735,
        hideThumbs: 10
      });
    });

block content
  .tp-banner-container
    .tp-banner
      ul
        //- SLIDE ONE
        li(data-transition='slotzoom-horizontal', data-slotamount='5', data-masterspeed='700')
          //- MAIN IMAGE
          img(src='img/theme/slideback-blue.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.mediumlarge_light_white.customin.customout.hidden-xs(data-x='center', data-hoffset='0', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            | Polygonal Fullscreen Slider
          .tp-caption.medium_light_white.customin.customout.hidden-xs(data-x='center', data-hoffset='0', data-y='center', data-voffset='0', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2000', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            | Some Fancy Easing
          .tp-caption.medium_light_black.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='60', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            a.btn.btn-slider.btn-lg Get Started
        //- SLIDE TWO
        li(data-transition='slotzoom-horizontal', data-slotamount='5', data-masterspeed='700')
          //- MAIN IMAGE
          img(src='img/theme/slideback-red.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.mediumlarge_light_white.customin.customout.hidden-xs(data-x='right', data-hoffset='-100', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endspeed='300', data-endeasing='Back.easeInOut', style='z-index: 11;')
            | REDBOX APPLICATION
          .tp-caption.medium_light_white.customin.customout.hidden-xs(data-x='right', data-hoffset='-100', data-y='center', data-voffset='0', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2000', data-easing='Back.easeInOut', data-endspeed='300', data-endeasing='Back.easeInOut', style='z-index: 11;')
            | Download Free Trial
          .tp-caption.medium_light_black.customin.customout.hidden-xs(data-x='right', data-hoffset='-100', data-y='center', data-voffset='60', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endspeed='300', data-endeasing='Back.easeInOut', style='z-index: 11;')
            a.btn.btn-slider.btn-lg Now Download
          .tp-caption.medium_light_black.customin.customout(data-x='left', data-hoffset='0', data-y='bottom', data-voffset='110', data-customin='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endspeed='300', style='z-index: 1;')
            img(src='img/theme/slide-one.png', alt='Slide One')
        //- SLIDE THREE
        li(data-transition='slotzoom-horizontal', data-slotamount='5', data-masterspeed='700')
          //- MAIN IMAGE
          img(src='img/theme/slideback-green.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.mediumlarge_light_white.customin.customout.hidden-xs(data-x='left', data-hoffset='100', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endspeed='300', data-endeasing='Back.easeInOut', style='z-index: 11;')
            | PURPLEBOX APPLICATION
          .tp-caption.medium_light_white.customin.customout.hidden-xs(data-x='left', data-hoffset='100', data-y='center', data-voffset='0', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2000', data-easing='Back.easeInOut', data-endspeed='300', data-endeasing='Back.easeInOut', style='z-index: 11;')
            | Download Free Trial
          .tp-caption.medium_light_black.customin.customout.hidden-xs(data-x='left', data-hoffset='100', data-y='center', data-voffset='60', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endspeed='300', data-endeasing='Back.easeInOut', style='z-index: 11;')
            a.btn.btn-slider.btn-lg Now Download
          .tp-caption.medium_light_black.customin.customout(data-x='right', data-hoffset='0', data-y='bottom', data-voffset='110', data-customin='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endspeed='300', style='z-index: 1;')
            img(src='img/theme/slide-two.png', alt='Slide One')
        //- SLIDE FOUR
        li(data-transition='slotzoom-horizontal', data-slotamount='5', data-masterspeed='700')
          //- MAIN IMAGE
          img(src='img/theme/slideback-white.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.mediumlarge_light_black.customin.customout.hidden-xs(data-x='center', data-hoffset='0', data-y='center', data-voffset='-220', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            | Responsive Showcase Presentation
          .tp-caption.medium_light_black.customin.customout.hidden-xs(data-x='center', data-hoffset='0', data-y='center', data-voffset='-170', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2000', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            | Full Retina Display
          .tp-caption.medium_light_black.customin.customout(data-x='center', data-hoffset='0', data-y='bottom', data-voffset='140', data-customin='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;', data-customout='x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endspeed='300', style='z-index: 1;')
            img(src='img/theme/slide-three.png', alt='Slide One')
        //- SLIDE FIVE
        li(data-transition='slotzoom-horizontal', data-slotamount='5', data-masterspeed='700')
          //- MAIN IMAGE
          img(src='img/theme/slideback-white-two.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
          .tp-caption.mediumlarge_light_black.customin.customout.hidden-xs(data-x='center', data-hoffset='0', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            | THANK YOU VERY MUCH!
          .tp-caption.medium_light_black.customin.customout.hidden-xs(data-x='center', data-hoffset='0', data-y='center', data-voffset='0', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2000', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            | For Purchase This Theme
          .tp-caption.medium_light_black.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='60', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='2300', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
            a.btn.btn-slider-black.btn-lg Purchase
      .tp-bannertimer