extends layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Services Modul 1
    .container-fluid.modul-bt-one
      .container.modul-space-three
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-rocket.fa-2x.hi-icon.hi-icon-two
              h6 Etiam Sodales Justo
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-magic.fa-2x.hi-icon.hi-icon-two
              h6 Mauris Aliqe Gravida
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-briefcase.fa-2x.hi-icon.hi-icon-two
              h6 Ullam Corper Lobortis
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-cogs.fa-2x.hi-icon.hi-icon-two
              h6 Pellen Tesque Pretium
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
    //
       Services Modul 2
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-three
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-two
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-rocket.fa-2x.hi-icon.hi-icon-two
              h6 Etiam Sodales Justo
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-two
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-magic.fa-2x.hi-icon.hi-icon-two
              h6 Mauris Aliqe Gravida
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-two
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-briefcase.fa-2x.hi-icon.hi-icon-two
              h6 Ullam Corper Lobortis
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-two
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space
                i.fa.fa-cogs.fa-2x.hi-icon.hi-icon-two
              h6 Pellen Tesque Pretium
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
    //
       Services Modul 3
    .container-fluid.modul-bt-one
      .container.modul-space-three
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-three
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-three-space
                i.fa.fa-rocket.fa-2x.hi-icon.hi-icon-two
              h6 Etiam Sodales Justo
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-three
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-three-space
                i.fa.fa-magic.fa-2x.hi-icon.hi-icon-two
              h6 Mauris Aliqe Gravida
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-three
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-three-space
                i.fa.fa-briefcase.fa-2x.hi-icon.hi-icon-two
              h6 Ullam Corper Lobortis
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-three
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-three-space
                i.fa.fa-cogs.fa-2x.hi-icon.hi-icon-two
              h6 Pellen Tesque Pretium
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
    //
       Services Modul 4
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-three
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-four
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space
                i.fa.fa-rocket.fa-2x.hi-icon.hi-icon-two
              h6 Etiam Sodales Justo
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-four
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space
                i.fa.fa-magic.fa-2x.hi-icon.hi-icon-two
              h6 Mauris Aliqe Gravida
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-four
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space
                i.fa.fa-briefcase.fa-2x.hi-icon.hi-icon-two
              h6 Ullam Corper Lobortis
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-four
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-four-space
                i.fa.fa-cogs.fa-2x.hi-icon.hi-icon-two
              h6 Pellen Tesque Pretium
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
    //
       Services Modul 5
    .container-fluid.modul-bt-one
      .container.modul-space-three
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-five-space
                i.fa.fa-rocket.fa-2x.hi-icon.hi-icon-two
              h6 Etiam Sodales Justo
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-five-space
                i.fa.fa-magic.fa-2x.hi-icon.hi-icon-two
              h6 Mauris Aliqe Gravida
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-five-space
                i.fa.fa-briefcase.fa-2x.hi-icon.hi-icon-two
              h6 Ullam Corper Lobortis
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-five
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-five-space
                i.fa.fa-cogs.fa-2x.hi-icon.hi-icon-two
              h6 Pellen Tesque Pretium
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
    //
       Services Modul 6
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-three
        .row
          //
             Services One
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-six
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-six-space
                i.fa.fa-rocket.fa-2x.hi-icon.hi-icon-two
              h6 Etiam Sodales Justo
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Two
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-six
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-six-space
                i.fa.fa-magic.fa-2x.hi-icon.hi-icon-two
              h6 Mauris Aliqe Gravida
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Three
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-six
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-six-space
                i.fa.fa-briefcase.fa-2x.hi-icon.hi-icon-two
              h6 Ullam Corper Lobortis
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
          //
             Services Four
          .col-xs-12.col-sm-6.col-md-3.modul-phone-three
            .modul-services-left.mso-icon-six
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-six-space
                i.fa.fa-cogs.fa-2x.hi-icon.hi-icon-two
              h6 Pellen Tesque Pretium
              p
                | Cras eget is a mattis justo. Fusce bo eget viendose commodo enim, quis condimentum use pentumos vel imperdiet sem. Proin vel facilisis magna. Fusce id arcu quis viendose enim..
              a.btn.btn-primary.btn-sm Button Text
