extends ../layout

block scripts
  script(type='text/javascript', src='js/vendors/jquery.mixitup.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Slider Options
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 1170,
        startheight: 735,
        hideThumbs: 10
      });

      //- Portfolio Filter
      jQuery('#Grid').mixitup();

      //- Carusel Slider
      jQuery('#example6').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [1, 1, 2, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
    });

block content
  include ../partials/module-slider-4
  include ../partials/module-slider-bottom
  //
     Services
  .container-fluid.modul-bt-one
    .container.modul-big-space.phone-space-one
      include ../partials/module-service-2-3
  //
     Blog
  .container-fluid.parallax-four.modul-bt-one(data-speed='10', data-type='background')
    .container.modul-space-twelve
      include ../partials/module-slider-1-left
  //
     Portfolio
  .container-fluid.modul-bt-one
    .container.modul-space-nine
      include ../partials/module-mixitup-2
  include ../partials/modal-portfolio-1
  include ../partials/modal-portfolio-2
  include ../partials/modal-portfolio-3
  include ../partials/modal-portfolio-4
  include ../partials/modal-portfolio-5
  include ../partials/modal-portfolio-6
  include ../partials/modal-portfolio-7
  include ../partials/modal-portfolio-8
  //
     Advert
  .container-fluid.parallax-one.modul-bt-one(data-speed='10', data-type='background')
    .container.modul-space-five
      include ../partials/module-advert-3-left
  //
     Advert
  .container-fluid.modul-bt-one
    .container.modul-space-eight
      include ../partials/advert-title-2
      include ../partials/module-advert-6
  //
     Advert
  .container-fluid.parallax-four.modul-bt-one(data-speed='10', data-type='background')
    .container.modul-space-five
      include ../partials/module-advert-3-right
  //
     Price
  .container-fluid.modul-bt-one
    .container.modul-space-two
      include ../partials/module-price-2
  //
     Advert Bottom
  .container-fluid.parallax-four.modul-bt-one(data-speed='20', data-type='background')
    .container.modul-space-seven
      include ../partials/module-advert-4
