extends ../layout

block scripts
  script(type='text/javascript', src='js/vendors/jquery.mixitup.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Slider Options
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 1170,
        startheight: 500,
        hideThumbs: 10,
        fullScreen: "on",
        fullScreenAlignForce: "on",
        fullScreenOffsetContainer: ".navigation-menu"
      });

      //- Carusel Slider
      jQuery('#example6').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [3, 3, 1, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
    });

block content
  include ../partials/module-slider-4
  //
     Services
  .container-fluid.modul-bt-one
    .container.modul-space-three
      include ../partials/module-service-4-4
  //
     Price
  .container-fluid.parallax-three.modul-bt-one
    .container.modul-space-two
      include ../partials/module-price-1
  //
     Blog Module Four
  .container-fluid.modul-bt-one
    .container.modul-space-twelve
      include ../partials/module-slider-2

  include ../partials/modal-portfolio-1
  include ../partials/modal-portfolio-2
  include ../partials/modal-portfolio-3
  include ../partials/modal-portfolio-4
