extends ../layout

block scripts
  script(type='text/javascript', src='js/vendors/jquery.mixitup.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Slider Options
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 1170,
        startheight: 735,
        hideThumbs: 10
      });

      //- Portfolio Filter
      jQuery('#Grid').mixitup();

      //- Carusel Slider
      jQuery('#example6').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [4, 4, 2, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
    });

block content
  include ../partials/module-slider-4
  include ../partials/module-slider-bottom
  //
     Services
  .container-fluid.modul-bt-one
    .container.modul-big-space.phone-space-one
      include ../partials/module-service-2-2
  //
     Advert
  .container-fluid.parallax-four.modul-bt-one
    .container.modul-space-six
      include ../partials/advert-title-2
      include ../partials/module-advert-2
  //
     Portfolio
  .container-fluid.modul-bt-one
    .container.modul-space-eight
      include ../partials/module-mixitup-1
  //
     Advert
  .container-fluid.parallax-four.modul-bt-one
    .container.modul-space-eight
      include ../partials/advert-title-2
      include ../partials/module-advert-6
  //
     Team
  .container-fluid.modul-bt-one
    .container.modul-space-twelve
      include ../partials/module-slider-2
  //
     Price
  .container-fluid.parallax-three.modul-bt-one
    .container.modul-space-two
      include ../partials/module-price-2
  //
     Advert
  .container-fluid.modul-bt-one
    .container.modul-space-seven
      include ../partials/module-advert-4
  include ../partials/modal-portfolio-1
  include ../partials/modal-portfolio-2
  include ../partials/modal-portfolio-3
  include ../partials/modal-portfolio-4
