extends ../layout2

block scripts
  script(type='text/javascript', src='js/vendors/jquery.mixitup.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Slider Options
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 1170,
        startheight: 500,
        hideThumbs: 10,
        fullScreen: "on",
        fullScreenAlignForce: "on",
        fullScreenOffsetContainer: ".navigation-menu"
      });
      jQuery('.tp-banner-two').revolution({
        delay: 9000000,
        startwidth: 1200,
        startheight: 356,
        hideThumbs: 200,
        thumbWidth: 100,
        thumbHeight: 50,
        thumbAmount: 3,
        navigationType: "none", // use none, bullet or thumb
        soloArrowLeftHalign: "left", // left,center,right
        soloArrowLeftValign: "center", // top,center,bottom
        soloArrowLeftHOffset: 0, // offset position from aligned position
        soloArrowLeftVOffset: 0, // offset position from aligned position
        soloArrowRightHalign: "right", // left,center,right
        soloArrowRightValign: "center", // top,center,bottom
        soloArrowRightHOffset: 0, // offset position from aligned position
        soloArrowRightVOffset: 0, // offset position from aligned position
        touchenabled: "on",
        onHoverStop: "on"
      }); //ready

      //- Portfolio Filter
      jQuery('#Grid').mixitup();

      //- Carusel Slider
      jQuery('#example6').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [4, 4, 1, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
      jQuery('#example7').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [2, 2, 1, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
    });

block content
  #wrapper
    include ../partials/module-slider-4
  //- Services Modul
  #service1
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-two
        include ../partials/module-service-1-1
  //- Advert Module
  #advert1
    .container-fluid.modul-bt-one.parallax-one(data-speed='10', data-type='background')
      .container.modul-space-four
        include ../partials/module-advert-1-right
  //- Portfolio Module
  #portfolio
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eight
        include ../partials/module-mixitup-1
  include ../partials/modal-portfolio-1
  include ../partials/modal-portfolio-2
  include ../partials/modal-portfolio-3
  include ../partials/modal-portfolio-4
  include ../partials/modal-portfolio-5
  include ../partials/modal-portfolio-6
  //- Advert Module
  #advert2
    .container-fluid.modul-bt-one.parallax-two(data-speed='10', data-type='background')
      .container.modul-space-eight
        include ../partials/module-advert-5-left
  //- Team Module
  //- .container-fluid.modul-bt-one
  //-   .container.modul-space-twelve
  //-     include ../partials/module-slider-2
  //- Advert Module
  #wrapper2
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eight
        include ../partials/module-slider-3
  //- Advert Module
  #advert3
    .container-fluid.modul-bt-one.parallax-three(data-speed='15', data-type='background')
      .container.modul-space-eight
        include ../partials/module-advert-3-left
  //- Price Modul
  #price
    .container-fluid.module-background-two.modul-bt-one
      .container.modul-space-two
        include ../partials/module-price-1
  //- Advert Module
  #advert4
    .container-fluid.modul-bt-one.parallax-four(data-speed='15', data-type='background')
      .container.modul-space-twelve
        include ../partials/module-advert-3-right
  //- Client Module
  #client
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eleven
        include ../partials/module-client
  //- Advert Module
  #advert5
    .container-fluid.modul-bt-one.parallax-five(data-speed='20', data-type='background')
      .container.modul-space-seven
        include ../partials/module-advert-4
