extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Three
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-five
        .row
          .col-xs-12.col-md-6
            .advert-two-image.clearfix
              img(src='img/theme/advert4.png', alt='Advert')
          .col-xs-12.col-md-6
            .advert-one.advert-phone
              h2 Vivamus Luctus Neque in Egestas
              p.advert-one-em
                | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque. Nulla bibendum nisi ac enim ullamcorper tempor.
              .row
                .col-xs-12.col-md-6
                  ul.advert-ul-one
                    li
                      i.fa.fa-briefcase
                      | Didipiscing Malesuada Erat
                    li
                      i.fa.fa-coffee
                      | Gravida Ipsum Ac
                    li
                      i.fa.fa-truck
                      | Suspendisse Augue Tempor
                    li
                      i.fa.fa-shopping-cart
                      | Cras Mollis Nisi
                    li
                      i.fa.fa-phone
                      | Cras Mollis Sollicitudin
                .col-xs-12.col-md-6
                  ul.advert-ul-one
                    li
                      i.fa.fa-plane
                      | Sed Velit Mauris
                    li
                      i.fa.fa-shopping-cart
                      | Nulla Bibendum Erat Velit
                    li
                      i.fa.fa-bookmark
                      | Ullamcorper Quis Ac
                    li
                      i.fa.fa-cloud
                      | Aenean Quis Ac
                    li
                      i.fa.fa-leaf
                      | Bibendium Tempor Volutpat
              a.btn.btn-inverse.advert-button-one Pruchase
    //
       Advert Module Three
    .container-fluid.modul-bt-one
      .container.modul-space-five
        .row
          .col-xs-12.col-md-6.hidden-md.hidden-lg
            .advert-two-image.clearfix
              img(src='img/theme/advert3.png', alt='Advert')
          .col-xs-12.col-md-6
            .advert-one.advert-phone
              h2 Vivamus Luctus Neque in Egestas
              p.advert-one-em
                | Sed egestas velit mauris, ac ultricies lectus laoreet at. Aliquam erat volutpat. Aenean facilisis quis elit ac pellentesque. Nulla bibendum nisi ac enim ullamcorper tempor.
              .row
                .col-xs-12.col-md-6
                  ul.advert-ul-one
                    li
                      i.fa.fa-briefcase
                      | Didipiscing Malesuada Erat
                    li
                      i.fa.fa-coffee
                      | Gravida Ipsum Ac
                    li
                      i.fa.fa-truck
                      | Suspendisse Augue Tempor
                    li
                      i.fa.fa-shopping-cart
                      | Cras Mollis Nisi
                    li
                      i.fa.fa-phone
                      | Cras Mollis Sollicitudin
                .col-xs-12.col-md-6
                  ul.advert-ul-one
                    li
                      i.fa.fa-plane
                      | Sed Velit Mauris
                    li
                      i.fa.fa-shopping-cart
                      | Nulla Bibendum Erat Velit
                    li
                      i.fa.fa-bookmark
                      | Ullamcorper Quis Ac
                    li
                      i.fa.fa-cloud
                      | Aenean Quis Ac
                    li
                      i.fa.fa-leaf
                      | Bibendium Tempor Volutpat
              a.btn.btn-inverse.advert-button-one Pruchase
          .col-xs-12.col-md-6.hidden-xs.hidden-sm
            .advert-two-image
              img(src='img/theme/advert3.png', alt='Advert')
