extends ../layout

block content
    //
       Shortcodes
    #shortcodes.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Shortcodes
          .modal-body
            iframe.iframe-options(src='theme-elements.html')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Client Module One
    .container-fluid.modul-bt-one
      .container.modul-space-eleven
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elim
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          .container
            .row
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c1.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Themeforest / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c2.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Graphicriver / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c3.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Codecanyon / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c4.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Envato / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
    //
       Client Module One
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eleven
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elim
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          .container
            .row
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c1.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Themeforest / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c2.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Graphicriver / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c3.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Codecanyon / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
              .col-xs-12.col-md-6
                .mso-icon-nine
                  .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                    img.img-circle.mso-nine-img.hi-icon(src='img/theme/c4.jpg', alt='Client')
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-facebook
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-twitter
                  a.btn.btn-default.btn-sm.btn-mso-nine.pull-right
                    i.fa.fa-linkedin
                  h6 Etiam Sodales Justo
                  small Envato / 14 Jan 2013
                  p Cras eget mattis justo. Fusce eget viendose commodo enim, quis condimentum use.
                .clearfix
