extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module 页
    //
       Services Modul 7
    .container-fluid.module-background-two.modul-bt-one
      .container.modul-big-space.phone-space-one
        include ../partials/module-service-2-1

    //
       Services Modul 8
    .container-fluid.parallax-four.modul-bt-one
      .container.modul-big-space.phone-space-one
        include ../partials/module-service-2-2
    //
       Services Modul 11
    .container-fluid.module-background-two.modul-bt-one
      .container.modul-big-space.phone-space-one
        include ../partials/module-service-2-3
    //
       Services Modul 12
    .container-fluid.parallax-four.modul-bt-one
      .container.modul-big-space.phone-space-one
        include ../partials/module-service-2-4
