extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Three
    .container-fluid.modul-bt-one
      .container.modul-space-thirteen
        include ../partials/module-twitter
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-thirteen
        include ../partials/module-twitter
