extends ../layout

block scripts
  script(type='text/javascript', src='js/vendors/jquery.mixitup.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Portfolio Filter
      jQuery('#Grid').mixitup();
    });

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Portfolio Module One
    .container-fluid.modul-bt-one
      .container.modul-space-eight
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elim
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          //
             FILTER CONTROLS
          .col-xs-12.col-sm-12.col-md-12
            .portfolio-filter-one.controls
              ul
                li.btn.btn-primary.filter.active(data-filter='all') All
                li.btn.btn-primary.filter(data-filter='category_1') Web Design
                li.btn.btn-primary.filter(data-filter='category_2') PSD Design
                li.btn.btn-primary.filter(data-filter='category_3') UI Creative
          //
             PORTFOLIO LIST
          #Grid
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-1
                  figure
                    img.portlio-list-img(src='img/theme/p1.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-one')
                          i.fa.fa-camera
                        a.btn.btn-primary
                          i.fa.fa-plus
                h6 Pellentesque Mattisor
                p Web Design
            //
               One Modal Box
            #view-portfolio-one.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Portfolio Title
                  .modal-body
                    img.portlio-list-img(src='img/theme/p1.jpg', alt='img04')
                  .modal-footer
                    a.btn.btn-default(href='#fakelink')
                      span.fui-googleplus
                    a.btn.btn-default(href='#fakelink')
                      span.fui-facebook
                    a.btn.btn-default(href='#fakelink')
                      span.fui-twitter
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-1
                  figure
                    img.portlio-list-img(src='img/theme/p2.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-two')
                          i.fa.fa-camera
                        a.btn.btn-primary
                          i.fa.fa-plus
                h6 Donec Ligula Mi
                p PSD Design
            //
               Two Modal Box
            #view-portfolio-two.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Portfolio Title
                  .modal-body
                    img.portlio-list-img(src='img/theme/p2.jpg', alt='img04')
                  .modal-footer
                    a.btn.btn-default(href='#fakelink')
                      span.fui-googleplus
                    a.btn.btn-default(href='#fakelink')
                      span.fui-facebook
                    a.btn.btn-default(href='#fakelink')
                      span.fui-twitter
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-1
                  figure
                    img.portlio-list-img(src='img/theme/p3.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-three')
                          i.fa.fa-camera
                        a.btn.btn-primary
                          i.fa.fa-plus
                h6 Suspendisse Placerat
                p UI Creative
            //
               Three Modal Box
            #view-portfolio-three.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Portfolio Title
                  .modal-body
                    img.portlio-list-img(src='img/theme/p3.jpg', alt='img04')
                  .modal-footer
                    a.btn.btn-default(href='#fakelink')
                      span.fui-googleplus
                    a.btn.btn-default(href='#fakelink')
                      span.fui-facebook
                    a.btn.btn-default(href='#fakelink')
                      span.fui-twitter
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
            //
               Four
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-1
                  figure
                    img.portlio-list-img(src='img/theme/p4.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-four')
                          i.fa.fa-camera
                        a.btn.btn-primary
                          i.fa.fa-plus
                h6 Vestibulum Ornare
                p Web Design
            //
               Four Modal Box
            #view-portfolio-four.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Portfolio Title
                  .modal-body
                    img.portlio-list-img(src='img/theme/p4.jpg', alt='img04')
                  .modal-footer
                    a.btn.btn-default(href='#fakelink')
                      span.fui-googleplus
                    a.btn.btn-default(href='#fakelink')
                      span.fui-facebook
                    a.btn.btn-default(href='#fakelink')
                      span.fui-twitter
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
            //
               Five
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-1
                  figure
                    img.portlio-list-img(src='img/theme/p5.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-five')
                          i.fa.fa-camera
                        a.btn.btn-primary
                          i.fa.fa-plus
                h6 Sapien Erat Sed
                p PSD Design
            //
               Five Modal Box
            #view-portfolio-five.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Portfolio Title
                  .modal-body
                    img.portlio-list-img(src='img/theme/p5.jpg', alt='img04')
                  .modal-footer
                    a.btn.btn-default(href='#fakelink')
                      span.fui-googleplus
                    a.btn.btn-default(href='#fakelink')
                      span.fui-facebook
                    a.btn.btn-default(href='#fakelink')
                      span.fui-twitter
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
            //
               Six
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-1
                  figure
                    img.portlio-list-img(src='img/theme/p6.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary(data-toggle='modal', data-target='#view-portfolio-six')
                          i.fa.fa-camera
                        a.btn.btn-primary
                          i.fa.fa-plus
                h6 Mauris Odio
                p UI Creative
            //
               Six Modal Box
            #view-portfolio-six.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Portfolio Title
                  .modal-body
                    img.portlio-list-img(src='img/theme/p6.jpg', alt='img04')
                  .modal-footer
                    a.btn.btn-default(href='#fakelink')
                      span.fui-googleplus
                    a.btn.btn-default(href='#fakelink')
                      span.fui-facebook
                    a.btn.btn-default(href='#fakelink')
                      span.fui-twitter
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
