extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Two
    .container-fluid.parallax-four.modul-bt-one(data-speed='20', data-type='background')
      .container.modul-space-six
        include ../partials/advert-title-2
        include ../partials/module-advert-2
    //
       Advert Module Two
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-six
        include ../partials/advert-title-2
        include ../partials/module-advert-2
