extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Two
    .container-fluid.modul-bt-one
      .container.modul-space-six
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          //
             One
          .col-xs-12.col-md-4
            .advert-list-one
              .grid.cs-style-3
                figure
                  img(src='img/theme/bussiness1.jpg', alt='img04')
                  figcaption
                    h6 Marry Doe
                    p Jacob Cummings
                    .image-buttons-two.pull-right
                      a.btn.btn-primary
                        i.fa.fa-plus
              .advert-list-bottom-shape
                i.bottom-shape-right
                  i
              h6 Our Mission
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis.
          //
             Two
          .col-xs-12.col-md-4
            .advert-list-one
              .grid.cs-style-3
                figure
                  img(src='img/theme/bussiness2.jpg', alt='img04')
                  figcaption
                    h6 John Smith
                    p Jacob Cummings
                    .image-buttons-two.pull-right
                      a.btn.btn-primary
                        i.fa.fa-plus
              .advert-list-bottom-shape
                i.bottom-shape-right
                  i
              h6 Our Strategy
              p
                | Vivamus eu consectetur tortor, nec facilisis turpis. Aenean malesuada lorem sed ante pharetra, in porta enim pellentesque.
          //
             One
          .col-xs-12.col-md-4
            .advert-list-one
              .grid.cs-style-3
                figure
                  img(src='img/theme/bussiness3.jpg', alt='img04')
                  figcaption
                    h6 Smith Doe
                    p Jacob Cummings
                    .image-buttons-two.pull-right
                      a.btn.btn-primary
                        i.fa.fa-plus
              .advert-list-bottom-shape
                i.bottom-shape-right
                  i
              h6 Our Vision
              p
                | Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas dapibus placerat.
    //
       Advert Module Two
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-six
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          //
             One
          .col-xs-12.col-md-4
            .advert-list-one
              .grid.cs-style-3
                figure
                  img(src='img/theme/bussiness1.jpg', alt='img04')
                  figcaption
                    h6 Marry Doe
                    p Jacob Cummings
                    .image-buttons-two.pull-right
                      a.btn.btn-primary
                        i.fa.fa-plus
              .advert-list-bottom-shape
                i.bottom-shape-right
                  i
              h6 Our Mission
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis.
          //
             Two
          .col-xs-12.col-md-4
            .advert-list-one
              .grid.cs-style-3
                figure
                  img(src='img/theme/bussiness2.jpg', alt='img04')
                  figcaption
                    h6 John Smith
                    p Jacob Cummings
                    .image-buttons-two.pull-right
                      a.btn.btn-primary
                        i.fa.fa-plus
              .advert-list-bottom-shape
                i.bottom-shape-right
                  i
              h6 Our Strategy
              p
                | Vivamus eu consectetur tortor, nec facilisis turpis. Aenean malesuada lorem sed ante pharetra, in porta enim pellentesque.
          //
             One
          .col-xs-12.col-md-4
            .advert-list-one
              .grid.cs-style-3
                figure
                  img(src='img/theme/bussiness3.jpg', alt='img04')
                  figcaption
                    h6 Smith Doe
                    p Jacob Cummings
                    .image-buttons-two.pull-right
                      a.btn.btn-primary
                        i.fa.fa-plus
              .advert-list-bottom-shape
                i.bottom-shape-right
                  i
              h6 Our Vision
              p
                | Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas dapibus placerat.
