extends ../layout

block scripts
  script(type='text/javascript', src='/rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='/showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Carusel Slider
      jQuery('#example6').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [4, 4, 1, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });
    });

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Blog Module Four
    .container-fluid.modul-bt-one
      .container.modul-space-twelve
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elim
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
              a#showbiz_left_6.btn.btn-primary.blog-nav-button-two(href='#')
                i.fa.fa-chevron-left
              a#showbiz_right_6.btn.btn-primary.blog-nav-button-two(href='#')
                i.fa.fa-chevron-right
          .col-md-2
          .clearfix
          .col-xs-12.col-md-12
            .blog-slider-container.clearfix
              #example6.showbiz-container
                .showbiz(data-left='#showbiz_left_6', data-right='#showbiz_right_6')
                  .overflowholder
                    ul
                      //
                         Post One
                      li
                        .blog-slider
                          .grid.cs-style-3
                            figure
                              img.blog-slider-list-img(src='img/theme/t1.jpg', alt='img04')
                              figcaption
                                .image-buttons-three
                                  a.btn.btn-primary
                                    i.fa.fa-twitter
                                  a.btn.btn-primary
                                    i.fa.fa-facebook
                                  a.btn.btn-primary
                                    i.fa.fa-linkedin
                                  a.btn.btn-primary
                                    i.fa.fa-plus
                          .blog-slider-list
                            h6 John Doe
                            p
                              em Web Designer
                      //
                         Post Two
                      li
                        .blog-slider
                          .grid.cs-style-3
                            figure
                              img.blog-slider-list-img(src='img/theme/t2.jpg', alt='img04')
                              figcaption
                                .image-buttons-three
                                  a.btn.btn-primary
                                    i.fa.fa-twitter
                                  a.btn.btn-primary
                                    i.fa.fa-facebook
                                  a.btn.btn-primary
                                    i.fa.fa-linkedin
                                  a.btn.btn-primary
                                    i.fa.fa-plus
                          .blog-slider-list
                            h6 Smith Doe
                            p
                              em Photographer
                      //
                         Post Three
                      li
                        .blog-slider
                          .grid.cs-style-3
                            figure
                              img.blog-slider-list-img(src='img/theme/t3.jpg', alt='img04')
                              figcaption
                                .image-buttons-three
                                  a.btn.btn-primary
                                    i.fa.fa-twitter
                                  a.btn.btn-primary
                                    i.fa.fa-facebook
                                  a.btn.btn-primary
                                    i.fa.fa-linkedin
                                  a.btn.btn-primary
                                    i.fa.fa-plus
                          .blog-slider-list
                            h6 Marry Smith
                            p
                              em Graphicer
                      //
                         Post Four
                      li
                        .blog-slider
                          .grid.cs-style-3
                            figure
                              img.blog-slider-list-img(src='img/theme/t4.jpg', alt='img04')
                              figcaption
                                .image-buttons-three
                                  a.btn.btn-primary
                                    i.fa.fa-twitter
                                  a.btn.btn-primary
                                    i.fa.fa-facebook
                                  a.btn.btn-primary
                                    i.fa.fa-linkedin
                                  a.btn.btn-primary
                                    i.fa.fa-plus
                          .blog-slider-list
                            h6 John Smith
                            p
                              em Designer
                    .sbclear
                  .sbclear
    //
       One Modal Box
    #view-portfolio-one.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Portfolio Title
          .modal-body
            img.portlio-list-img(src='img/theme/p1.jpg', alt='img04')
          .modal-footer
            a.btn.btn-default(href='#fakelink')
              span.fui-googleplus
            a.btn.btn-default(href='#fakelink')
              span.fui-facebook
            a.btn.btn-default(href='#fakelink')
              span.fui-twitter
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    //
       Two Modal Box
    #view-portfolio-two.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Portfolio Title
          .modal-body
            img.portlio-list-img(src='img/theme/p2.jpg', alt='img04')
          .modal-footer
            a.btn.btn-default(href='#fakelink')
              span.fui-googleplus
            a.btn.btn-default(href='#fakelink')
              span.fui-facebook
            a.btn.btn-default(href='#fakelink')
              span.fui-twitter
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    //
       Three Modal Box
    #view-portfolio-three.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Portfolio Title
          .modal-body
            img.portlio-list-img(src='img/theme/p3.jpg', alt='img04')
          .modal-footer
            a.btn.btn-default(href='#fakelink')
              span.fui-googleplus
            a.btn.btn-default(href='#fakelink')
              span.fui-facebook
            a.btn.btn-default(href='#fakelink')
              span.fui-twitter
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    //
       Four Modal Box
    #view-portfolio-four.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Portfolio Title
          .modal-body
            img.portlio-list-img(src='img/theme/p4.jpg', alt='img04')
          .modal-footer
            a.btn.btn-default(href='#fakelink')
              span.fui-googleplus
            a.btn.btn-default(href='#fakelink')
              span.fui-facebook
            a.btn.btn-default(href='#fakelink')
              span.fui-twitter
            button.btn.btn-default(type='button', data-dismiss='modal') Close

