extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Price Modul 1
    .container-fluid.module-background-three.modul-bt-one
      .container.modul-space-two
        include ../partials/module-price-1
    //
       Services Modul 1
    .container-fluid.module-background-two.modul-bt-one
      .container.modul-space-two
        include ../partials/module-price-1
