extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Services Modul 1
    .container-fluid.modul-bt-one
      .container.modul-space-two
        include ../partials/module-service-3-1
    //
       Services Modul 2
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-two
        include ../partials/module-service-3-2
    //
       Services Modul 3
    .container-fluid.modul-bt-one
      .container.modul-space-two
        include ../partials/module-service-3-3
    //
       Services Modul 4
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-two
        include ../partials/module-service-3-4
