extends ../layout

block scripts
  script(type='text/javascript', src='js/vendors/jquery.mixitup.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      //- Portfolio Filter
      jQuery('#Grid').mixitup();
    });

block content
  //
     Header
  .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
    .container
      .row
        .col-md-12
          .big-title
            h1 Module Page
  //
     Portfolio Module One
  .container-fluid.modul-bt-one
    .container.modul-space-nine
      include ../partials/module-mixitup-2

  include ../partials/modal-portfolio-1
  include ../partials/modal-portfolio-2
  include ../partials/modal-portfolio-3
  include ../partials/modal-portfolio-4
  include ../partials/modal-portfolio-5
  include ../partials/modal-portfolio-6
  include ../partials/modal-portfolio-7
  include ../partials/modal-portfolio-8
