extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Client Module One
    .container-fluid.modul-bt-one
      .container.modul-space-eleven
        include ../partials/module-client
    //
       Client Module One
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eleven
        include ../partials/module-client
