extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Four
    .container-fluid.modul-bt-one
      .container.modul-space-seven
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          //
             One
          .col-md-12.clearfix
            .advert-big-image
              img(src='img/theme/advert5.png', alt='Image')
    //
       Advert Module Four
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-seven
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          //
             One
          .col-md-12.clearfix
            .advert-big-image
              img(src='img/theme/advert5.png', alt='Image')
