extends ../layout

block content
    //
       Header
    .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
      .container
        .row
          .col-md-12
            .big-title
              h1 Module Page
    //
       Advert Module Six
    .container-fluid.modul-bt-one
      .container.modul-space-eight
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          .col-xs-12.col-md-4.clearfix.hidden-lg.hidden-md
            .advert-big-image.modul-phone-four
              img(src='img/theme/advert2.png', alt='Image')
          .col-xs-12.col-md-4.clearfix
            //
               One
            .modul-services-three.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
                i.fa.fa-bell.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-three.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
                i.fa.fa-thumbs-up.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-three.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
                i.fa.fa-camera.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
          .col-xs-12.col-md-4.clearfix.hidden-sm.hidden-xs
            .advert-big-image
              img(src='img/theme/advert2.png', alt='Image')
          .col-xs-12.col-md-4.clearfix
            //
               One
            .modul-services-two.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                i.fa.fa-flask.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-two.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                i.fa.fa-heart.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-two.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                i.fa.fa-gift.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
    //
       Advert Module Six
    .container-fluid.module-background-one.modul-bt-one
      .container.modul-space-eight
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .advert-two-title
              h1 Maecenas Condimentum Placerat Elit
              p
                | Cras sed mauris augue. In at pellentesque sem. Vestibulum suscipit mi sodales tortor vehicula laoreet. Sed a purus vitae nisl sagittis consequat eget id velit.
          .col-md-2
          .clearfix
          .col-xs-12.col-md-4.clearfix.hidden-lg.hidden-md
            .advert-big-image.modul-phone-four
              img(src='img/theme/advert2.png', alt='Image')
          .col-xs-12.col-md-4.clearfix
            //
               One
            .modul-services-three.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
                i.fa.fa-bell.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-three.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
                i.fa.fa-thumbs-up.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-three.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-right
                i.fa.fa-camera.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
          .col-xs-12.col-md-4.clearfix.hidden-sm.hidden-xs
            .advert-big-image
              img(src='img/theme/advert2.png', alt='Image')
          .col-xs-12.col-md-4.clearfix
            //
               One
            .modul-services-two.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                i.fa.fa-flask.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-two.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                i.fa.fa-heart.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
            //
               One
            .modul-services-two.mso-icon-eight
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9b.mso-icon-space.pull-left
                i.fa.fa-gift.hi-icon
              h6 Etiam Sodales Justo
              p Cras eget mattis justo. Fusce eget viendose commodo enim.
            .clearfix
