extends ../layout

block content
  //
     Blog Header
  .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
    .container
      .row
        .col-md-12
          .big-title
            h1 Services Page
  //
     Services
  .container-fluid.modul-bt-one
    .container.modul-space-four
      include ../partials/module-advert-1-left
  //
     Big Icon
  .container-fluid.parallax-four.modul-bt-one(data-speed='10', data-type='background')
    .container.modul-big-space.phone-space-one
      include ../partials/module-service-2-4
  //
     Advert
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-five
      include ../partials/module-advert-3-right
  //
     Services Modul 5
  .container-fluid.modul-bt-one
    .container.modul-space-two
      include ../partials/module-service-1-3
  //
     Advert
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-five
      include ../partials/module-advert-3-left
  //
     Services Modul 6
  .container-fluid.modul-bt-one
    .container.modul-space-two
      include ../partials/module-service-1-4
  //
     Bottom Advert
  .container-fluid.parallax-one.modul-bt-one(data-speed='10', data-type='background')
    .container.modul-space-seven
      include ../partials/module-advert-4
