extends ../layout

block content
  //
     Breadcrumb
  section.breadcrumb
    .container
      .row
        .col-sm-12
          h1 About Us
          ol.breadcrumb.bc-3
            li
              a(href='index.html')
                i.fa.fa-home
                |  Home
            li
              a(href='index.html') Frontend
            li.active
              strong About
  //
     About Us Text
  section.modul-space-thirtyfour
    .container
      .row
        .col-sm-7
          h3 The Company
          br
          p
            | In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as.
          p
            | Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Gay was outlived peculiar rendered led six.
        .col-sm-5
          a(href='#')
            img.img-rounded(src='img/theme/p3.jpg' width='450')
  .container
    .row
      .col-md-12
        h3 Skills
        br
  //
     Skills and Info Section
  section.modul-space-thirtyfour.bg-gray
    .container
      .row
        .col-md-6
          h5 Web
          .progress.progress-rounded
            .progress-bar.progress-bar-danger(role='progressbar', style='width: 78%;')
          h5 Photography
          .progress.progress-rounded
            .progress-bar.progress-bar-danger(role='progressbar', style='width: 52%;')
          h5 Branding
          .progress.progress-rounded
            .progress-bar.progress-bar-danger(role='progressbar', style='width: 35%;')
        .col-sm-6
          h5  
          p
            | In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as.
          p
            | Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.
  //
     Members
  section.modul-space-thirtyfour
    .container
      .row
        .col-sm-4
          .staff-member
            a.image(href='#')
              img.img-circle(src='img/theme/p3.jpg' width='200' height='200')
            h4
              a(href='#') John Doe
              small CEO / Chief Executive Office
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
            ul.social-networks
              li
                a(href='#')
                  i.fa.fa-instagram
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
        .col-sm-4
          .staff-member
            a.image(href='#')
              img.img-circle(src='img/theme/p3.jpg' width='200' height='200')
            h4
              a(href='#') Mia Blunt
              small Secretary
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
            ul.social-networks
              li
                a(href='#')
                  i.fa.fa-instagram
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
        .col-sm-4
          .staff-member
            a.image(href='#')
              img.img-circle(src='img/theme/p3.jpg' width='200' height='200')
            h4
              a(href='#') Bob Ashton
              small Creative Director
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
            ul.social-networks
              li
                a(href='#')
                  i.fa.fa-instagram
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
