extends ../layout

block scripts
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
  script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='showbizpro/js/jquery.themepunch.showbizpro.min.js')
  script(type='text/javascript').
    $(function() {
      // jQuery UI Spinner
      $.widget( "ui.customspinner", $.ui.spinner, {
        widgetEventPrefix: $.ui.spinner.prototype.widgetEventPrefix,
        _buttonHtml: function() { // Remove arrows on the buttons
          return "" +
          "<a class='ui-spinner-button ui-spinner-up ui-corner-tr'>" +
            "<span class='ui-icon " + this.options.icons.up + "'></span>" +
          "</a>" +
          "<a class='ui-spinner-button ui-spinner-down ui-corner-br'>" +
            "<span class='ui-icon " + this.options.icons.down + "'></span>" +
          "</a>";
        }
      });

      $('#spinner-01').customspinner({
        min: -99,
        max: 99
      }).on('focus', function () {
        $(this).closest('.ui-spinner').addClass('focus');
      }).on('blur', function () {
        $(this).closest('.ui-spinner').removeClass('focus');
      });

      //- Related Product
      $('#relatedpost').showbizpro({
        dragAndScroll: "off",
        visibleElementsArray: [3, 3, 2, 1],
        carousel: "on",
        entrySizeOffset: 0,
        allEntryAtOnce: "off",
        rewindFromEnd: "off",
        autoPlay: "off",
        delay: 2000,
        speed: 500
      });

      //- Top Product Picture
      jQuery('.tp-banner').revolution({
        delay: 90000,
        startwidth: 1170,
        startheight: 500,
        hideThumbs: 10
      });
    });

    /*
     * Starrr ratting feature
     * Create HTML5 elements for IE's sake
     */

    document.createElement("article");
    document.createElement("div");

    // Starrr plugin (https://github.com/dobtco/starrr)
    var __slice = [].slice;

    (function($, window) {
      var Starrr;

      Starrr = (function() {
        Starrr.prototype.defaults = {
          rating: void 0,
          numStars: 5,
          change: function(e, value) {}
        };

        function Starrr($el, options) {
          var i, _, _ref,
            _this = this;

          this.options = $.extend({}, this.defaults, options);
          this.$el = $el;
          _ref = this.defaults;
          for (i in _ref) {
            _ = _ref[i];
            if (this.$el.data(i) != null) {
              this.options[i] = this.$el.data(i);
            }
          }
          this.createStars();
          this.syncRating();
          this.$el.on('mouseover.starrr', 'span', function(e) {
            return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
          });
          this.$el.on('mouseout.starrr', function() {
            return _this.syncRating();
          });
          this.$el.on('click.starrr', 'span', function(e) {
            return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
          });
          this.$el.on('starrr:change', this.options.change);
        }

        Starrr.prototype.createStars = function() {
          var _i, _ref, _results;

          _results = [];
          for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
            _results.push(this.$el.append("<span class='glyphicon .glyphicon-heart-empty'></span>"));
          }
          return _results;
        };

        Starrr.prototype.setRating = function(rating) {
          if (this.options.rating === rating) {
            rating = void 0;
          }
          this.options.rating = rating;
          this.syncRating();
          return this.$el.trigger('starrr:change', rating);
        };

        Starrr.prototype.syncRating = function(rating) {
          var i, _i, _j, _ref;

          rating || (rating = this.options.rating);
          if (rating) {
            for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
              this.$el.find('span').eq(i).removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
            }
          }
          if (rating && rating < 5) {
            for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
              this.$el.find('span').eq(i).removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
            }
          }
          if (!rating) {
            return this.$el.find('span').removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
          }
        };

        return Starrr;

      })();
      return $.fn.extend({
        starrr: function() {
          var args, option;

          option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
          return this.each(function() {
            var data;

            data = $(this).data('star-rating');
            if (!data) {
              $(this).data('star-rating', (data = new Starrr($(this), option)));
            }
            if (typeof option === 'string') {
              return data[option].apply(data, args);
            }
          });
        }
      });
    })(window.jQuery, window);

    $(function() {
      return $(".starrr").starrr();
    });

    $(function() {
      $('#hearts').on('starrr:change', function(e, value){
        $('#count').html(value);
      });

      $('#hearts-existing').on('starrr:change', function(e, value){
        $('#count-existing').html(value);
      });
    });



block content
  //Header
  .container-fluid.parallax-three.modul-bt-one(data-speed='5', data-type='background')
    .container
      .row
        .col-md-12
          .big-title
            h1 Shop Detail Page
  //Blog
  .container-fluid.modul-bt-one
    .container.modul-space-twentytwo
      .row
        .col-md-9
          //Post Detail
          .post-detail
            //Image
            .tp-banner-container
              .tp-banner
                ul
                  //SLIDE ONE
                  li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
                    //MAIN IMAGE
                    img(src='img/theme/s7.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
                    //MAIN IMAGE
                    img(src='img/theme/s8.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  li(data-transition='boxfade', data-slotamount='5', data-masterspeed='1000')
                    //MAIN IMAGE
                    img(src='img/theme/s9.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                .tp-bannertimer
            .blog-slider-list.phone-space-three
              h1 Donec Venenatis Mattis
              p
                | Lorem存有dolor坐AMET很容易。人员配置计划的水平。在圣诞节和在美国的悔恨入口和报复奠定床管理放在首位;预算规划，管理技能和现代，弗雷斯诺太平洋概述。警察或质量的时间。不过，经济政策，我的车的发展。你在商业照明，缺乏战略LOREM的。有各种各样的行为，并要平衡预算，但免费。事实上，只有笑的融资平台，为蛋白质。我很高兴地停下车在日本。当然，但经济公平，任何人都颤抖，她想要的。警方卡车有时会情绪化。这是我的工作，开始生产设施，官方的互动元素。明天，科罗拉多州，美国，但过数以万计应，现在推湖泊的门，从来没买过大的水果和更新。周三，巴基斯坦的主要成员。跳动，居住在悲伤的老年和疾病，跨区卷，并建议饥饿和丑陋的需要。
          .clearfix
          .modul-space-thirtythree
            // /tabs
            ul.nav.nav-tabs
              li.active
                a(href='#tab1') 描述
              li
                a(href='#tab2') 评论
              li
                a(href='#tab3') 标签
            // /tabs
            .tab-content
              #tab1.tab-pane.active
                p 添加描述 ...
              // /tabs
              #tab2.tab-pane
                //Comments
                .comments-area
                  h5 32 次评论:
                  hr
                  .comment-list
                    ul.media-list
                      // #1
                      li
                        a.pull-left(href='#')
                          img.media-object.comment-img.img-circle(src='img/theme/c1.jpg', alt='User', width='80', height='80')
                        .media-body
                          h6
                            | 涛哥:
                            span.label.label-primary.badge-comment.pull-right 21 Jan
                          small
                            a(href='#')
                              i.fa.fa-plus-square.comment-button
                              strong 回复
                            a(href='#')
                              i.fa.fa-shield.comment-button-two
                              strong 举报
                          p
                            | 作为一名高中生球员。这是一个工作只是生活，但如果你的孩子播放。为人父母的价格创造LOREM，谁是猫的确很舒服，很多车辆。篮球比赛的布局。现在，有针对性的一场足球比赛仅仅是个开始。
                      // #2
                      li
                        a.pull-left(href='#')
                          img.media-object.comment-img.img-circle(src='img/theme/c2.jpg', alt='User', width='80', height='80')
                        .media-body
                          h6
                            | 四叶草:
                            span.label.label-primary.badge-comment.pull-right 19 Jan
                          small
                            a(href='#')
                              i.fa.fa-plus-square.comment-button
                              strong 回复
                            a(href='#')
                              i.fa.fa-shield.comment-button-two
                              strong 举报
                          p
                            | 作为一名高中生球员。这是一个工作只是生活，但如果你的孩子播放。为人父母的价格创造LOREM，谁是猫的确很舒服，很多车辆。篮球比赛的布局。现在，有针对性的一场足球比赛仅仅是个开始。
                      // #3
                      li
                        a.pull-left(href='#')
                          img.media-object.comment-img.img-circle(src='img/theme/c3.jpg', alt='User', width='80', height='80')
                        .media-body
                          h6
                            | 匿名:
                            span.label.label-primary.badge-comment.pull-right 17 Jan
                          small
                            a(href='#')
                              i.fa.fa-plus-square.comment-button
                              strong 回复
                            a(href='#')
                              i.fa.fa-shield.comment-button-two
                              strong 举报
                          p
                            | 作为一名高中生球员。这是一个工作只是生活，但如果你的孩子播放。为人父母的价格创造LOREM，谁是猫的确很舒服，很多车辆。篮球比赛的布局。现在，有针对性的一场足球比赛仅仅是个开始。
                // Leave Comment
                .leave-comment
                  h5 添加评论:
                  hr
                  .row.comment-forms
                    .col-xs-12.col-sm-12.col-md-6
                      .form-group
                        .input-group.input-group
                          span.input-group-addon
                            span.fui-user
                          input#prependedInput-01.form-control(type='text', placeholder='姓名:')
                      .form-group
                        .input-group.input-group
                          span.input-group-addon
                            span.fui-mail
                          input#prependedInput-02.form-control(type='text', placeholder='E-Mail:')
                      .form-group
                        .input-group.input-group
                          span.input-group-addon
                            span.fui-link
                          input#prependedInput-03.form-control(type='text', placeholder='网址:')
                    .col-xs-12.col-sm-12.col-md-6
                      .form-group
                        textarea.form-control(rows='8', placeholder='在这添加...')
                      .form-group.pull-right
                        a.btn.btn-info(href='#fakelink') 发送评论
              // /tabs
              #tab3.tab-pane
                ul.nav.nav-list.tag-cloud
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Web
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Rap
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Pop
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Design
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Wordpress Themes
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Rock
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') Jazz
                  li
                    a.badge.badge-primary.badge-roundless.tag-cloud-tags(href='#Fakelink') PSD Design
            // /tab-content
          // Share Post
          .post-share
            h5 分享到社交网络:
            hr
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-facebook.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-twitter.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-linkedin.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-tumblr.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-flickr.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-github-alt.fa-lg
            a.btn.btn-default.share-post(href='#')
              i.fa.fa-google-plus.fa-lg
          //Related Post
          .related-post
            h5 相关车型:
            hr
            .pull-right.related-button
              a#showbiz_left_relatedpost.btn.btn-primary.blog-nav-button-two(href='#')
                i.fa.fa-chevron-left
              a#showbiz_right_relatedpost.btn.btn-primary.blog-nav-button-two(href='#')
                i.fa.fa-chevron-right
            #relatedpost.showbiz-container.related-post
              .showbiz(data-left='#showbiz_left_relatedpost', data-right='#showbiz_right_relatedpost')
                .overflowholder
                  ul
                    //Post One
                    li
                      .blog-slider
                        .grid.cs-style-1
                          figure
                            .blog-date-circle
                              h5 火爆
                              p 销售
                            img.blog-slider-list-img(src='img/theme/s7.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                                a.btn.btn-primary
                                  i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                        .blog-slider-list
                          h6 Pellen Matti
                          p $1990
                    // Post One
                    li
                      .blog-slider
                        .grid.cs-style-1
                          figure
                            img.blog-slider-list-img(src='img/theme/s8.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                                a.btn.btn-primary
                                  i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                        .blog-slider-list
                          h6 Pellen Matti
                          p $1990
                    // Post One
                    li
                      .blog-slider
                        .grid.cs-style-1
                          figure
                            .blog-date-circle
                              h5 最新
                              p 款型
                            img.blog-slider-list-img(src='img/theme/s9.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                                a.btn.btn-primary
                                  i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                        .blog-slider-list
                          h6 Pellen Matti
                          p $1990
                    //
                       Post One
                    li
                      .blog-slider
                        .grid.cs-style-1
                          figure
                            img.blog-slider-list-img(src='img/theme/s10.jpg', alt='img04')
                            figcaption
                              .image-buttons-three
                                a.btn.btn-primary
                                  i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                                a.btn.btn-primary
                                  i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                        .blog-slider-list
                          h6 Pellen Matti
                          p $1990
                  .sbclear
                .sbclear
        // Shop Sidebar
        .col-md-3
          // Social Sidebar

          .row
            .col-md-12
              .hero-widget.well-sm
                .icon
                  i.fa.fa-shopping-cart
                .text
                  var $2990
                  label.text-muted Vehicula Enean Hendrerit
                hr
                .dropdown.mbl
                  button.btn.dropdown-toggle.clearfix.btn-lg.btn-default(data-toggle='dropdown')
                    | 型号
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.selected(rel='0')
                      a.active(tabindex='-1', href='#')
                        | XLarge
                    li(rel='1')
                      a(tabindex='-1', href='#')
                        | Medium
                    li(rel='1')
                      a(tabindex='-1', href='#')
                        | Small
                .dropdown.mbl
                  button.btn.dropdown-toggle.clearfix.btn-lg.btn-default(data-toggle='dropdown')
                    | 颜色
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.selected(rel='0')
                      a.active(tabindex='-1', href='#')
                        | 红色
                    li(rel='1')
                      a(tabindex='-1', href='#')
                        | 蓝色
                    li(rel='1')
                      a(tabindex='-1', href='#')
                        | 绿色
                h6.pull-left 数量
                .form-group.pull-left
                  span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all
                    input#spinner-01.form-control.spinner.ui-spinner-input(type='text', value='0')
                .clearfix
                hr
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | 放入购物车
            .col-md-12
              .hero-widget.well-sm
                .icon
                  i.fa.fa-heart
                .text
                  #hearts.starrr
                  label.text-muted
                    | 您对本车的评价
                    span#count 4
                    | 颗心(s)
                  .options
                    a.btn.btn-primary.btn-block(href='#')
                      | 我的心愿单
          .clearfix
  // Page Navi
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-fifteen
      .row
        .col-md-12
          .pagination.pagination-default.pull-left.hidden-xs
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | 上一辆
            a.btn.btn-default.next(href='#fakelink')
              | 下一辆
              span.fui-arrow-right
          .text-center.visible-xs
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | 上一辆
            a.btn.btn-default.next(href='#fakelink')
              | 下一辆
              span.fui-arrow-right

