extends ../layout

block scripts
  script(type='text/javascript', src='/js/vendors/jquery.mixitup.js')
  script(type='text/javascript').
    // Some general UI pack related JS
    // Extend JS String with repeat method
    String.prototype.repeat = function(num) {
      return new Array(num + 1).join(this);
    };

    (function($) {
      // Add segments to a slider
      $.fn.addSliderSegments = function (amount) {
        return this.each(function () {
          var segmentGap = 100 / (amount - 1) + "%"
            , segment = "<div class='ui-slider-segment' style='margin-left: " + segmentGap + ";'></div>";
          $(this).prepend(segment.repeat(amount - 2));
        });
      };
    })(window.jQuery);

    $(function() {
      // jQuery UI Sliders
      var $slider = $("#slider");
      if ($slider.length > 0) {
        $slider.slider({
          min: 1,
          max: 5,
          value: 3,
          orientation: "horizontal",
          range: "min"
        }).addSliderSegments($slider.slider("option").max);
      }

      var $slider2 = $("#slider2");
      if ($slider2.length > 0) {
        $slider2.slider({
          min: 1,
          max: 5,
          values: [3, 4],
          orientation: "horizontal",
          range: true
        }).addSliderSegments($slider2.slider("option").max);
      }

      var $slider3 = $("#slider3")
        , slider3ValueMultiplier = 1000
        , slider3Options;

      if ($slider3.length > 0) {
        $slider3.slider({
          min: 1,
          max: 10,
          values: [3, 7],
          orientation: "horizontal",
          range: true,
          slide: function(event, ui) {
            $slider3.find(".ui-slider-value:first")
              .text("$" + ui.values[0] * slider3ValueMultiplier)
              .end()
              .find(".ui-slider-value:last")
              .text("$" + ui.values[1] * slider3ValueMultiplier);
          }
        });

        slider3Options = $slider3.slider("option");
        $slider3.addSliderSegments(slider3Options.max)
          .find(".ui-slider-value:first")
          .text("$" + slider3Options.values[0] * slider3ValueMultiplier)
          .end()
          .find(".ui-slider-value:last")
          .text("$" + slider3Options.values[1] * slider3ValueMultiplier);
      }
    });

    //- Portfolio Filter
    $(function () {
      $('#Grid').mixitup();
    });

block content
  //
     Blog Header
  .container-fluid.parallax-three.modul-bt-one
    .container
      .row
        .col-md-12
          .big-title
            h1 汽车电商
  //
     Blog
  .container-fluid.modul-bt-one
    .container.modul-space-fourteen.hidden-xs
      .row
        //
           Shop
        .col-md-8
          //
             FILTER CONTROLS
          .portfolio-filter-two.controls.modul-space-thirtytwo.hidden-xs
            ul
              li.btn.btn-primary.filter.active(data-filter='all') 全部
              li.btn.btn-default.filter(data-filter='category_1') 最新
              li.btn.btn-default.filter(data-filter='category_2') 热销
              li.btn.btn-default.filter(data-filter='category_3') 评价最高
          //
             Product
          #Grid.shop-product
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s1.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $1990
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s2.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $2990
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s3.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $4990
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s7.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $1990
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s8.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $2990
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s9.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $4990
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s4.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $1990
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s5.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $2990
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s6.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $4990
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s10.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $1990
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s11.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $2990
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s12.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $4990
        //
           Sidebar
        .col-md-4
          //
             Price and Cart
          .row
            .col-md-6
              .hero-widget
                .icon
                  i.fa.fa-shopping-cart
                .text
                  var 3
                  label.text-muted 件(s)
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | 购物车
            .col-md-6
              .hero-widget
                .icon
                  i.fa.fa-money
                .text
                  var $1450
                  label.text-muted 总计 3 件(s)
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | 结算
          //
             Easy Filter
          .sidebar.modul-space-twentynine
            h6
              i.fa.fa-usd.sidebar-icon
              | 价格区间
            #slider3.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false')
              span.ui-slider-value.first $300
              span.ui-slider-value.last $10000
              a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 0%;')
              a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 100%;')
          //
             Categories
          .sidebar
            h6
              i.fa.fa-cutlery.sidebar-icon
              | 汽车品牌
            ul.nav.nav-list.sidebar-categories
              li.active
                a(href='#')
                  | 大众
                  span.badge.pull-right 30
              li
                a(href='#')
                  | 奔驰
                  span.badge.pull-right 28
              li
                a(href='#')
                  | 宝马
                  span.badge.pull-right 74
              li
                a(href='#')
                  | Opel
                  span.badge.pull-right 62
              li
                a(href='#')
                  | 通用
                  span.badge.pull-right 26
              li
                a(href='#')
                  | 丰田
                  span.badge.pull-right 28
              li
                a(href='#')
                  | 本田
                  span.badge.pull-right 28
          //
             Color Filter
          .sidebar.modul-space-thirtyone
            h6
              i.fa.fa-tint.sidebar-icon
              | 汽车颜色
            ul.shop-color-filter
              li
                a(href='#')
                  img(src='img/blue.jpg', alt='')
              li
                a(href='#')
                  img(src='img/brown.jpg', alt='')
              li
                a(href='#')
                  img(src='img/cyan.jpg', alt='')
              li
                a(href='#')
                  img(src='img/green.jpg', alt='')
              li
                a(href='#')
                  img(src='img/grey.jpg', alt='')
              li
                a(href='#')
                  img(src='img/orange.jpg', alt='')
              li
                a(href='#')
                  img(src='img/pink.jpg', alt='')
              li
                a(href='#')
                  img(src='img/purple.jpg', alt='')
              li
                a(href='#')
                  img(src='img/red.jpg', alt='')
              li
                a(href='#')
                  img(src='img/yellow.jpg', alt='')
          //
             Size
          .sidebar
            h6
              i.fa.fa-male.sidebar-icon
              | 车型
            ul.nav.nav-list.sidebar-categories
              li.active
                a(href='#')
                  | 大客
                  span.badge.pull-right 30
              li
                a(href='#')
                  | 中型
                  span.badge.pull-right 28
              li
                a(href='#')
                  | 卡车
                  span.badge.pull-right 74
              li
                a(href='#')
                  | 3箱
                  span.badge.pull-right 62
              li
                a(href='#')
                  | 2箱半
                  span.badge.pull-right 26
              li
                a(href='#')
                  | 2箱
                  span.badge.pull-right 28
              li
                a(href='#')
                  | Mini
                  span.badge.pull-right 28
          //
             Tag Cloud
          .sidebar
            h6
              i.fa.fa-tags.sidebar-icon
              | 标签云
            ul.nav.nav-list.tag-cloud.sidebar-categories-two
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 省油
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 动力强劲
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 维修方便
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 配件便宜
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 服务周到
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 车型美观
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 进口车
              li
                a.badge.tag-cloud-tags(href='#Fakelink') 二手
        //
           Shop
    .container.modul-space-fourteen.visible-xs
      .row
        //
           Sidebar
        .col-md-4
          //
             Price and Cart
          .row
            .col-md-6
              .hero-widget
                .icon
                  i.fa.fa-shopping-cart
                .text
                  var 3
                  label.text-muted 件(s)
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | 购物车
            .col-md-6
              .hero-widget
                .icon
                  i.fa.fa-money
                .text
                  var $14500
                  label.text-muted 总计 3 件(s)
                .options
                  a.btn.btn-primary.btn-block(href='#')
                    | 结帐
          //
             Easy Filter
          .sidebar.modul-space-twentynine
            h6
              i.fa.fa-usd.sidebar-icon
              | 价格区间
            #slider3.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false')
              span.ui-slider-value.first $300
              span.ui-slider-value.last $400
              a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 0%;')
              a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 100%;')
          //
             Categories
          .sidebar
            h6
              i.fa.fa-cutlery.sidebar-icon
              | 汽车品牌
            ul.nav.nav-list.sidebar-categories
              li.active
                a(href='#')
                  | 大众
                  span.badge.pull-right 30
              li
                a(href='#')
                  | 奔驰
                  span.badge.pull-right 28
              li
                a(href='#')
                  | 宝马
                  span.badge.pull-right 74
              li
                a(href='#')
                  | Opel
                  span.badge.pull-right 62
              li
                a(href='#')
                  | 通用
                  span.badge.pull-right 26
              li
                a(href='#')
                  | 丰田
                  span.badge.pull-right 28
              li
                a(href='#')
                  | 本田
                  span.badge.pull-right 28
          //
             Color Filter
          .sidebar.modul-space-thirtyone
            h6
              i.fa.fa-tint.sidebar-icon
              | Color Filter
            ul.shop-color-filter
              li
                a(href='#')
                  img(src='img/blue.jpg', alt='')
              li
                a(href='#')
                  img(src='img/brown.jpg', alt='')
              li
                a(href='#')
                  img(src='img/cyan.jpg', alt='')
              li
                a(href='#')
                  img(src='img/green.jpg', alt='')
              li
                a(href='#')
                  img(src='img/grey.jpg', alt='')
              li
                a(href='#')
                  img(src='img/orange.jpg', alt='')
              li
                a(href='#')
                  img(src='img/pink.jpg', alt='')
              li
                a(href='#')
                  img(src='img/purple.jpg', alt='')
              li
                a(href='#')
                  img(src='img/red.jpg', alt='')
              li
                a(href='#')
                  img(src='img/yellow.jpg', alt='')
          //
             Size
          .sidebar
            h6
              i.fa.fa-male.sidebar-icon
              | 车型
            ul.nav.nav-list.sidebar-categories
              li.active
                a(href='#')
                  | 大客
                  span.badge.pull-right 30
              li
                a(href='#')
                  | 中型
                  span.badge.pull-right 28
              li
                a(href='#')
                  | 卡车
                  span.badge.pull-right 74
              li
                a(href='#')
                  | 3箱
                  span.badge.pull-right 62
              li
                a(href='#')
                  | 2箱半
                  span.badge.pull-right 26
              li
                a(href='#')
                  | 2箱
                  span.badge.pull-right 28
              li
                a(href='#')
                  | Mini
                  span.badge.pull-right 28
          //
             Pool Sidebar
          .sidebar
            h6
              i.fa.fa-bar-chart-o.sidebar-icon
              | Shop Pool
            .sidebar-categories
              h5
                em What is like color?
              strong Red
              span.pull-right 30%
              .progress.progress-striped.active
                .progress-bar(style='width: 30%;')
              strong Green
              span.pull-right 40%
              .progress.progress-striped.active
                .progress-bar(style='width: 40%;')
              strong Blue
              span.pull-right 10%
              .progress.progress-striped.active
                .progress-bar(style='width: 10%;')
              strong Yellow
              span.pull-right 5%
              .progress.progress-striped.active
                .progress-bar(style='width: 5%;')
              strong Black
              span.pull-right 15%
              .progress.progress-striped.active
                .progress-bar(style='width: 15%;')
              p.vote-button
                a.btn.btn-large.btn-success(href='#') Vote
                a.pull-right(href='#') View detailed results
          //
             Tag Cloud
          .sidebar
            h6
              i.fa.fa-tags.sidebar-icon
              | Product Tags Cloud
            ul.nav.nav-list.tag-cloud.sidebar-categories-two
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Web
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Rap
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Pop
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Design
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Wordpress Themes
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Rock
              li
                a.badge.tag-cloud-tags(href='#Fakelink') Jazz
              li
                a.badge.tag-cloud-tags(href='#Fakelink') PSD Design
        //
           Shop
        .col-md-12
          //
             Slider
          .tp-banner-container.phone-space-four
            .tp-banner
              ul
                //
                   SLIDE ONE
                li(data-transition='incube', data-slotamount='5', data-masterspeed='1000')
                  //
                     MAIN IMAGE
                  img(src='img/theme/s12.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.largeblackbg.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1400', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
                    | New London Fashion Style
                  .tp-caption.largepinkbg.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='64', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
                    | $14,99
                li(data-transition='incube', data-slotamount='5', data-masterspeed='1000')
                  //
                     MAIN IMAGE
                  img(src='img/theme/s10.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.largeblackbg.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1400', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
                    | The Woo Collection 2014
                  .tp-caption.largegreenbg.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='64', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
                    | $9,99
                li(data-transition='incube', data-slotamount='5', data-masterspeed='1000')
                  //
                     MAIN IMAGE
                  img(src='img/theme/s9.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                  .tp-caption.largeblackbg.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='-50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1400', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
                    | Fashion Nillbox Style
                  .tp-caption.largewhitebg.customin.customout(data-x='center', data-hoffset='0', data-y='center', data-voffset='64', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='1700', data-easing='Back.easeInOut', data-endeasing='Back.easeInOut', data-endspeed='1000', style='z-index: 11;')
                    | $49,99
              .tp-bannertimer
          //
             FILTER CONTROLS
          .portfolio-filter-two.controls.modul-space-thirtytwo.hidden-xs
            ul
              li.btn.btn-primary.filter.active(data-filter='all') All
              li.btn.btn-default.filter(data-filter='category_1') New
              li.btn.btn-default.filter(data-filter='category_2') Sales
              li.btn.btn-default.filter(data-filter='category_3') Best
          //
             Product
          #Grid.shop-product
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s1.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $19.90
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s2.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $29.90
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s3.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $49.90
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s7.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $19.90
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s8.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $29.90
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s9.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $49.90
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s4.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $19.90
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s5.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $29.90
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s6.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $49.90
            //
               One
            .col-xs-12.col-sm-12.col-md-4.mix.category_1.mix_all
              .portlio-list(data-cat='1', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s10.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $19.90
            //
               Two
            .col-xs-12.col-sm-12.col-md-4.mix.category_2.mix_all
              .portlio-list(data-cat='2', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s11.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $29.90
            //
               Three
            .col-xs-12.col-sm-12.col-md-4.mix.category_3.mix_all
              .portlio-list(data-cat='3', style='display: inline-block; opacity: 1;')
                .grid.cs-style-2
                  figure
                    img.portlio-list-img(src='img/theme/s12.jpg', alt='img04')
                    figcaption
                      .image-buttons
                        a.btn.btn-primary
                          i.fa.fa-shopping-cart(data-toggle='tooltip', data-placement='top', title='Add to Cart')
                        a.btn.btn-primary
                          i.fa.fa-plus(data-toggle='tooltip', data-placement='top', title='Read More')
                h6 Pellen Mattiso
                p $49.90
        //
           Shop
  //
     Page Navi
  .container-fluid.module-background-one.modul-bt-one
    .container.modul-space-fifteen
      .row
        .col-md-12
          .pagination.pagination-default.hidden-xs
            a.btn.btn-default.previous(href='#fakelink')
              span.fui-arrow-left
              | 前一页
            ul
              li
                a(href='#fakelink') 1
              li
                a(href='#fakelink') 2
              li
                a(href='#fakelink') 3
              li
                a(href='#fakelink') 4
              li
                a(href='#fakelink') 5
            a.btn.btn-default.next(href='#fakelink')
              | 后一页
              span.fui-arrow-right
