/************************************************************************************************************************/

/* Blog Options (Elements) */

/************************************************************************************************************************/

/* Big Title */

.big-title {
  padding-top: 0;
  padding-bottom: @large-padding;
}
.big-title h1 {
  text-transform: uppercase;
  font-weight: 400;
}

/* Blog Info & Icon */

.blog-info {
  margin-top: @base-margin;
  margin-bottom: @base-margin;
  padding-top: @small-padding;
  padding-right: 0;
  padding-bottom: @base-padding;
  padding-left: @large-padding;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.blog-mini-icon {
  margin-right: @small-margin;
}
.blog-mini-icon-two {
  margin-right: @small-margin;
  margin-left: @small-margin;
}

/* Blog Sidebar */

.sidebar {
    margin-top: -@base-margin;
    padding: 0;
    margin-bottom: @large-margin;
    h6 {
        margin-bottom: @base-margin;
    }
}
.sidebar-icon {
    margin-right: @small-margin;
}
.sidebar-categories {
    padding: @large-padding;
    border: 2px solid;
}
.sidebar-categories-two {
    padding: @large-padding;
    border: 2px solid;
}
.vote-button {
    margin-top: @base-margin;
}
.hero-widget {
    text-align: center;
    padding: @large-padding;
    border-radius: 0;
    border: 2px solid;
    margin-bottom: @large-margin;
    .icon {
        display: block;
        font-size: @large-margin;
        line-height: @base-margin;
        margin-bottom: @small-margin;
        text-align: center;
    }
    var {
        display: block;
        font-size: @large-padding;
        line-height: @large-padding;
        font-style: normal;
    }
    label {
        font-size: 14px;
    }
    .options {
        margin-top: @small-margin;
    }
}
.tag-cloud {
    text-align: center;
    li {
        float: left;
        margin-right: @base-margin;
        padding-bottom: @small-padding;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

/* Single Post */

.post-detail {
    text-align: justify;
}
.post-page-list {
    h1 {
        margin-top: 0;
        margin-left: -@small-margin;
    }
}
.alignleft {
    margin-top: @small-margin;
    margin-right: @base-margin;
    margin-bottom: @base-margin;
}
.alignright {
    margin-top: @small-margin;
    margin-left: @base-margin;
    margin-bottom: @base-margin;
}
.post-editor-rating {
    margin-top: @base-margin;
    margin-bottom: @base-margin;
}
.post-share {
    margin-top: @small-margin;
    margin-bottom: @base-margin;
}
.share-post {
    margin-top: 0;
    width: 50px;
    margin-right: @small-margin;
}
.related-post {
    margin-top: @base-margin;
}
.related-button {
    position: relative;
    margin-top: -104px;
    margin-right: -8px;
}
.comment-list {
    margin-top: -@base-margin;
    ul {
        li {
            padding-top: @large-padding;
            padding-bottom: @small-padding;
            border-bottom: 1px solid;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.comment-img {
    border: 8px solid;
    margin-right: @base-margin;
}
.comment-forms {
    margin-top: @base-margin;
}
.media-body {
    h6 {
        font-size: 117%;
        margin-top: 0;
        margin-bottom: @small-margin;
    }
    p {
        margin-top: @small-margin;
    }
}
.comment-button {
    margin-right: 4px;
}
.comment-button-two {
    margin-right: 4px;
    margin-left: 4px;
}
.well {
    border-top: none;
    border-bottom: none;
    border-left: 8px solid;
    border-radius: 0;
    margin-bottom: 0;
}
.post-video {
    width: 100%;
    min-height: 422px;
    border: none;
}

/**********************************************************************/

/* Blog 3  */

/**********************************************************************/

.blog {

    .blog-posts {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: -50px;
            top: 0;
            bottom: 0;
            width: 1px;
            background: @border-default;
        }

        .blog-post {
            margin-bottom: @base-margin;
            padding-bottom: @base-margin;
            border-bottom: 1px solid @border-default;
            .clearfix;

            .post-thumb, .post-details {
                float: left;
            }

            .post-thumb {
                width: 35%;

                a {
                    img {
                        width: 100%;
                        .img-responsive
                    }
                }
            }

            .post-details {
                width: 65%;
                float: right;
                padding-left: @base-padding*2;
                .box-sizing(border-box);

                h3 {
                    margin-top: 0;
                }

                .post-meta {
                    margin-bottom: @base-padding;

                    .meta-info {
                        display: inline-block;
                        font-size: @font-size-base - 1;

                        + .meta-info {
                            margin-left: @base-margin/2;

                            &:before {
                                display: inline-block;
                                content: '';
                                height: 12px;
                                width: 1px;
                                background: @border-default;;
                                margin-right: @base-padding;
                            }
                        }
                    }
                }

                p {

                    &:before {
                        content: '\2014 \00A0';
                        display: block;
                        line-height: 1;
                        margin-bottom: @base-padding/2;
                        .opacity(.5);
                    }
                }
            }
        }
    }

    .comments-list {
        @thumb-width: 10%;

        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: @large-margin;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: @thumb-width;

            li {
                margin-top: @base-margin;
            }
        }

        li {
            margin-bottom: @base-margin;
        }
    }

    .sidebar {
        position: relative;
        margin-left: @large-margin;
        margin-bottom: @large-margin;

        h3 {
            font-size: @font-size-h4 + 2;
            margin-bottom: @base-padding;
            border-bottom: 1px solid @border-default;
            padding-bottom: @base-margin/2;
        }

        .sidebar-content {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    padding: @base-padding @base-padding;

                    a {
                        .transall;

                        span {
                            .opacity(.5);
                            margin-left: @base-padding/2;
                        }
                    }
                }

                > li {
                    border-bottom: 1px solid @border-default;

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            .discussion-list {

                li {
                    .clearfix;


                    a {
                        padding-left: 0;
                        padding-right: 0;

                        &:before {
                            display: none;
                        }
                    }


                    .thumb {
                        float: left;
                        width: 20%;
                        .box-sizing(border-box);
                    }

                    .details {
                        float: right;
                        width: 80%;
                        padding-left: @base-margin/2;
                        .box-sizing(border-box);

                        a {
                            font-weight: bold;
                        }

                        p {
                            font-size: @font-size-base - 1;
                            margin-top: @base-padding/2;
                        }
                    }
                }
            }
        }
    }
}