/************************************************************************************************************************/

/* Blog Options (Elements) */

/************************************************************************************************************************/

/* Big Title */

.big-title {
  padding-top: 0;
  padding-bottom: @large-padding;
}
.big-title h1 {
  text-transform: uppercase;
  font-weight: 400;
}

/* Blog Info & Icon */

.blog-info {
  margin-top: @base-margin;
  margin-bottom: @base-margin;
  padding-top: @small-padding;
  padding-right: 0;
  padding-bottom: @base-padding;
  padding-left: @large-padding;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.blog-mini-icon {
  margin-right: @small-margin;
}
.blog-mini-icon-two {
  margin-right: @small-margin;
  margin-left: @small-margin;
}

/* Blog Sidebar */

.sidebar {
    margin-top: -@base-margin;
    padding: 0;
    margin-bottom: @large-margin;
    h6 {
        margin-bottom: @base-margin;
    }
}
.sidebar-icon {
    margin-right: @small-margin;
}
.sidebar-categories {
    padding: @large-padding;
    border: 2px solid;
}
.sidebar-categories-two {
    padding: @large-padding;
    border: 2px solid;
}
.vote-button {
    margin-top: @base-margin;
}
.hero-widget {
    text-align: center;
    padding: @large-padding;
    border-radius: 0;
    border: 2px solid;
    margin-bottom: @large-margin;
    .icon {
        display: block;
        font-size: @large-margin;
        line-height: @base-margin;
        margin-bottom: @small-margin;
        text-align: center;
    }
    var {
        display: block;
        font-size: @large-padding;
        line-height: @large-padding;
        font-style: normal;
    }
    label {
        font-size: 14px;
    }
    .options {
        margin-top: @small-margin;
    }
}
.tag-cloud {
    text-align: center;
    li {
        float: left;
        margin-right: @base-margin;
        padding-bottom: @small-padding;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

/* Single Post */

.post-detail {
    text-align: justify;
}
.post-page-list {
    h1 {
        margin-top: 0;
        margin-left: -@small-margin;
    }
}
.alignleft {
    margin-top: @small-margin;
    margin-right: @base-margin;
    margin-bottom: @base-margin;
}
.alignright {
    margin-top: @small-margin;
    margin-left: @base-margin;
    margin-bottom: @base-margin;
}
.post-editor-rating {
    margin-top: @base-margin;
    margin-bottom: @base-margin;
}
.post-share {
    margin-top: @small-margin;
    margin-bottom: @base-margin;
}
.share-post {
    margin-top: 0;
    width: 50px;
    margin-right: @small-margin;
}
.related-post {
    margin-top: @base-margin;
}
.related-button {
    position: relative;
    margin-top: -104px;
    margin-right: -8px;
}
.comment-list {
    margin-top: -@base-margin;
    ul {
        li {
            padding-top: @large-padding;
            padding-bottom: @small-padding;
            border-bottom: 1px solid;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.comment-img {
    border: 8px solid;
    margin-right: @base-margin;
}
.comment-forms {
    margin-top: @base-margin;
}
.media-body {
    h6 {
        font-size: 117%;
        margin-top: 0;
        margin-bottom: @small-margin;
    }
    p {
        margin-top: @small-margin;
    }
}
.comment-button {
    margin-right: 4px;
}
.comment-button-two {
    margin-right: 4px;
    margin-left: 4px;
}
.well {
    border-top: none;
    border-bottom: none;
    border-left: 8px solid;
    border-radius: 0;
    margin-bottom: 0;
}
.post-video {
    width: 100%;
    min-height: 422px;
    border: none;
}