/************************************************************************************************************************/

/* Footer */

/************************************************************************************************************************/

/* Footer One */

.footer-logo {
    margin-bottom: 34px;
}
.footer-one {
    p {
        margin-bottom: 36px;
        text-align: justify;
    }
}
.btn-footer {
    min-width: 50px;
    border: 2px solid;
    margin-right: 8px;
    margin-bottom: 14px;
}

/* Footer Two*/

.footer-two {
    h6 {
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 2px solid;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 22px;
            img {
                float: left;
                width: 80px;
                height: 80px;
                margin-right: 20px;
                border: 8px solid;
            }
            small {
                font-style: italic;
            }
            p {
                margin-bottom: 2px;
            }
        }
    }
}
.footer-icon {
    margin-right: 4px;
}
.footer-icon-two {
    margin-right: 5px;
    margin-left: 8px;
}

/* Footer Three*/

.footer-three {
    text-align: justify;
    h6 {
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 2px solid;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 110%;
        li {
            margin-bottom: 22px;
            img {
                float: left;
                width: 74px;
                height: 74px;
                margin-right: 20px;
                margin-bottom: 20px;
                border: 8px solid;
            }
            small {
                font-style: italic;
            }
            p {
                margin-bottom: 4px;
            }
        }
    }
}
.bottom-links {
    margin-top: 13px;
    margin-bottom: 0px;
    margin-right: -16px;
}
@media (max-width: 979px) {
  .footer-one {
      margin-bottom: 52px;
  }
  .footer-two {
      margin-bottom: 66px;
  }
}
