extends ../layout

block content
  .container-fluid
    .container
      h2= title
      br
      .row
        .col-md-6
          .alert.alert-success
            strong Well done!
            | You successfully read this important alert message.
        .col-md-6
          .alert.alert-info
            strong Heads up!
            | This alert needs your attention, but it's not super important.
      .row
        .col-md-6
          .alert.alert-warning
            strong Warning!
            | Best check yo self, you're not looking too good.
        .col-md-6
          .alert.alert-danger
            strong Oh snap!
            | Change a few things up and try submitting again.
      .row
        .col-md-12
          .alert.alert-default
            strong Brother
            | hundred he assured reached on up no. On am nearer missed lovers
      .row
        .col-md-12
          .alert.alert-minimal
            strong Doubtful
            | disposed returned rejoiced to dashwood is so up.
