extends ../layout

block content
  .container-fluid
    .container
      h2= title
      br
      .row
        .col-md-12
          .panel.panel-primary
            .panel-heading
              .panel-title Badges & Labels
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.fa.fa-cog
                a(href='#', data-rel='collapse')
                  i.fa.fa-chevron-down
                a(href='#', data-rel='reload')
                  i.fa.fa-refresh
                a(href='#', data-rel='close')
                  i.fa.fa-times
            table.table.table-bordered
              thead
                tr
                  th(width='50%') Badges
                  th RoundlessBadges
              tbody
                tr
                  td.padding-lg
                    p
                      a(href='#')
                        | Plain
                        span.badge 1
                    p
                      a(href='#')
                        | Primary
                        span.badge.badge-primary 2
                    p
                      a(href='#')
                        | Secondary
                        span.badge.badge-secondary 3
                    p
                      a(href='#')
                        | Information
                        span.badge.badge-info 4
                    p
                      a(href='#')
                        | Success
                        span.badge.badge-success 5
                    p
                      a(href='#')
                        | Warning
                        span.badge.badge-warning 6
                    p
                      a(href='#')
                        | Danger
                        span.badge.badge-danger 7
                  td.padding-lg
                    p
                      a(href='#')
                        | Plain
                        span.badge.badge-roundless 1
                    p
                      a(href='#')
                        | Primary
                        span.badge.badge-primary.badge-roundless 2
                    p
                      a(href='#')
                        | Secondary
                        span.badge.badge-secondary.badge-roundless 3
                    p
                      a(href='#')
                        | Information
                        span.badge.badge-info.badge-roundless 4
                    p
                      a(href='#')
                        | Success
                        span.badge.badge-success.badge-roundless 5
                    p
                      a(href='#')
                        | Warning
                        span.badge.badge-warning.badge-roundless 6
                    p
                      a(href='#')
                        | Danger
                        span.badge.badge-danger.badge-roundless 7
            table.table.table-bordered
              thead
                tr
                  th Labels
              tbody
                tr
                  td.padding-lg
                    .label.label-default Default
                    .label.label-primary Primary
                    .label.label-secondary Secondary
                    .label.label-success Success
                    .label.label-info Info
                    .label.label-warning Warning
                    .label.label-danger Danger
