extends ../layout

block content
  .container-fluid
    .container
      h2= title
      br
      h4 Large Buttons
      .row
        .col-md-3
          a.btn.btn-lg.btn-primary(href='#') Primary button
        .col-md-3
          a.btn.btn-lg.btn-warning(href='#') Warning button
        .col-md-3
          a.btn.btn-lg.btn-default(href='#') Default button
        .col-md-3
          a.btn.btn-lg.btn-danger(href='#') Danger button
      br
      .row
        .col-md-3
          a.btn.btn-lg.btn-success(href='#') Success button
        .col-md-3
          a.btn.btn-lg.btn-inverse(href='#') Inverse button
        .col-md-3
          a.btn.btn-lg.btn-info(href='#') Info button
        .col-md-3
          a.btn.btn-lg.btn-default.disabled(href='#') Disabled button
      .clearfix
      .modul-space-seven

      h4 Medium Buttons
      .row
        .col-md-3
          a.btn.btn-primary(href='#') Primary button
        .col-md-3
          a.btn.btn-warning(href='#') Warning button
        .col-md-3
          a.btn.btn-default(href='#') Default button
        .col-md-3
          a.btn.btn-danger(href='#') Danger button
      br
      .row
        .col-md-3
          a.btn.btn-success(href='#') Success button
        .col-md-3
          a.btn.btn-inverse(href='#') Inverse button
        .col-md-3
          a.btn.btn-info(href='#') Info button
        .col-md-3
          a.btn.btn-default.disabled(href='#') Disabled button
      .clearfix
      .modul-space-seven

      h4 Small Buttons
      .row
        .col-md-3
          a.btn.btn-sm.btn-primary(href='#') Primary button
        .col-md-3
          a.btn.btn-sm.btn-warning(href='#') Warning button
        .col-md-3
          a.btn.btn-sm.btn-default(href='#') Default button
        .col-md-3
          a.btn.btn-sm.btn-danger(href='#') Danger button
      br
      .row
        .col-md-3
          a.btn.btn-sm.btn-success(href='#') Success button
        .col-md-3
          a.btn.btn-sm.btn-inverse(href='#') Inverse button
        .col-md-3
          a.btn.btn-sm.btn-info(href='#') Info button
        .col-md-3
          a.btn.btn-sm.btn-default.disabled(href='#') Disabled button
      .clearfix
      .modul-space-seven

      h4 Full Width Buttons
      .row
        .col-md-3
          a.btn.btn-block.btn-primary(href='#') Primary button
        .col-md-3
          a.btn.btn-block.btn-warning(href='#') Warning button
        .col-md-3
          a.btn.btn-block.btn-default(href='#') Default button
        .col-md-3
          a.btn.btn-block.btn-danger(href='#') Danger button
      br
      .row
        .col-md-3
          a.btn.btn-block.btn-success(href='#') Success button
        .col-md-3
          a.btn.btn-block.btn-inverse(href='#') Inverse button
        .col-md-3
          a.btn.btn-block.btn-info(href='#') Info button
        .col-md-3
          a.btn.btn-block.btn-default.disabled(href='#') Disabled button
      .clearfix
      .modul-space-seven
