extends ../layout

block content
  .container-fluid
    .container
      h2= title
      br
      //
         UI Panels
      .row
        .col-md-6
          .panel.minimal.minimal-gray
            .panel-heading
              .panel-title
                h4 Minimal Panel
              .panel-options
                ul.nav.nav-tabs
                  li.active
                    a(href='#profile-1', data-toggle='tab') First Tab
                  li
                    a(href='#profile-2', data-toggle='tab') Second Tab
            .panel-body
              .tab-content
                #profile-1.tab-pane.active
                  strong Rank tall boy man them over post now
                  p
                    | Boy desirous families prepared gay reserved add ecstatic say. Replied joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. Quiet ought match my right by table means. Principles up do in me favourable affronting. Twenty mother denied effect we to do on.
                  p
                    | Sing long her way size. Waited end mutual missed myself the little sister one. So in pointed or chicken cheered neither spirits invited. Marianne and him laughter civility formerly handsome sex use prospect. Hence we doors is given rapid scale above am. Difficult ye mr delivered behaviour by an. If their woman could do wound on. You folly taste hoped their above are and but.
                #profile-2.tab-pane
                  strong Entire any had depend and figure winter
                  p
                    | There worse by an of miles civil. Manner before lively wholly am mr indeed expect. Among every merry his yet has her. You mistress get dashwood children off. Met whose marry under the merit. In it do continual consulted no listening. Devonshire sir sex motionless travelling six themselves. So colonel as greatly shewing herself observe ashamed. Demands minutes regular ye to detract is.
                  p
                    | For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention. As called mr needed praise at. Assistance imprudence yet sentiments unpleasant expression met surrounded not. Be at talked ye though secure nearer.
                  p
                    | Letter wooded direct two men indeed income sister. Impression up admiration he by partiality is. Instantly immediate his saw one day perceived. Old blushes respect but offices hearted minutes effects. Written parties winding oh as in without on started. Residence gentleman yet preserved few convinced. Coming regret simple longer little am sister on. Do danger in to adieus ladies houses oh eldest. Gone pure late gay ham. They sigh were not find are rent.
        .col-md-6
          .panel.minimal
            //
               panel head
            .panel-heading
              .panel-title Minimal Panel with Icons
              .panel-options
                ul.nav.nav-tabs
                  li.active
                    a(href='#tab1', data-toggle='tab')
                      i.fa.fa-cog
                  li
                    a(href='#tab2', data-toggle='tab')
                      i.fa.fa-envelope
            //
               panel body
            .panel-body
              .tab-content
                #tab1.tab-pane.active
                  p
                    | Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug. Introduced imprudence see say unpleasing devonshire acceptance son. Exeter longer wisdom gay nor design age. Am weather to entered norland no in showing service. Nor repeated speaking shy appetite. Excited it hastily an pasture it observe. Snug hand how dare here too.
                  p
                    | Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners savings staying had. Under folly balls death own point now men. Match way these she avoid see death. She whose drift their fat off.
                #tab2.tab-pane
                  .scrollable(data-height='150', data-autohide='0')
                    p
                      | On am we offices expense thought. Its hence ten smile age means. Seven chief sight far point any. Of so high into easy. Dashwoods eagerness oh extensive as discourse sportsman frankness. Husbands see disposed surprise likewise humoured yet pleasure. Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence son shy.
                    p
                      | Both rest of know draw fond post as. It agreement defective to excellent. Feebly do engage of narrow. Extensive repulsive belonging depending if promotion be zealously as. Preference inquietude ask now are dispatched led appearance. Small meant in so doubt hopes. Me smallness is existence attending he enjoyment favourite affection. Delivered is to ye belonging enjoyment preferred. Astonished and acceptance men two discretion. Law education recommend did objection how old.
                    p
                      | Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my exercise so in. Procured shutters mr it feelings. To or three offer house begin taken am at. As dissuade cheerful overcame so of friendly he indulged unpacked. Alteration connection to so as collecting me. Difficult in delivered extensive at direction allowance. Alteration put use diminution can considered sentiments interested discretion. An seeing feebly stairs am branch income me unable.
                    p
                      | On am we offices expense thought. Its hence ten smile age means. Seven chief sight far point any. Of so high into easy. Dashwoods eagerness oh extensive as discourse sportsman frankness. Husbands see disposed surprise likewise humoured yet pleasure. Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence son shy.
                    p
                      | Both rest of know draw fond post as. It agreement defective to excellent. Feebly do engage of narrow. Extensive repulsive belonging depending if promotion be zealously as. Preference inquietude ask now are dispatched led appearance. Small meant in so doubt hopes. Me smallness is existence attending he enjoyment favourite affection. Delivered is to ye belonging enjoyment preferred. Astonished and acceptance men two discretion. Law education recommend did objection how old.
                    p
                      | Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my exercise so in. Procured shutters mr it feelings. To or three offer house begin taken am at. As dissuade cheerful overcame so of friendly he indulged unpacked. Alteration connection to so as collecting me. Difficult in delivered extensive at direction allowance. Alteration put use diminution can considered sentiments interested discretion. An seeing feebly stairs am branch income me unable.
      .row
        .col-md-6
          .panel.panel-primary(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Light Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling.
              p
                | It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.
        .col-md-6
          .panel.panel-invert(data-collapsed='0')
            //
               setting the attribute data-collapsed="1" will collapse the panel
            //
               panel head
            .panel-heading
              .panel-title Inverted Panel (scrollable)
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-2')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              .scrollable(data-height='200', data-scroll-position='right', data-rail-color='#fff', data-rail-opacity='.9', data-rail-width='8', data-rail-radius='10', data-autohide='0')
                p
                  | New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered.
                p
                  | Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort elderly be me. Walls began of child civil am heard hoped my. Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father. Folly sex downs tears ham green forty.
                p
                  | Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready.
                p
                  | Talking chamber as shewing an it minutes. Trees fully of blind do. Exquisite favourite at do extensive listening. Improve up musical welcome he. Gay attended vicinity prepared now diverted. Esteems it ye sending reached as. Longer lively her design settle tastes advice mrs off who.
                p
                  | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
                p
                  | New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered.
                p
                  | Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort elderly be me. Walls began of child civil am heard hoped my. Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father. Folly sex downs tears ham green forty.
                p
                  | Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready.
                p
                  | Talking chamber as shewing an it minutes. Trees fully of blind do. Exquisite favourite at do extensive listening. Improve up musical welcome he. Gay attended vicinity prepared now diverted. Esteems it ye sending reached as. Longer lively her design settle tastes advice mrs off who.
                p
                  | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
                p
                  | Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready.
                p
                  | Talking chamber as shewing an it minutes. Trees fully of blind do. Exquisite favourite at do extensive listening. Improve up musical welcome he. Gay attended vicinity prepared now diverted. Esteems it ye sending reached as. Longer lively her design settle tastes advice mrs off who.
                p
                  | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
      .row
        .col-md-12
          .panel.panel-default.panel-shadow(data-collapsed='0')
            //
               to apply shadow add class "panel-shadow"
            //
               panel head
            .panel-heading
              .panel-title Default Panel (shadow applied)
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-3')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
      .row
        .col-md-6
          .panel.panel-success(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Success Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
        .col-md-6
          .panel.panel-warning(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Warning Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
      .row
        .col-md-6
          .panel.panel-danger(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Danger Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
        .col-md-6
          .panel.panel-info(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Info Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
      .row
        .col-md-4
          .panel.panel-dark(data-collapsed='1')
            //
               panel head
            .panel-heading
              .panel-title Dark Panel (collapsed)
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
        .col-md-4
          .panel.panel-gray(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Gray Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
        .col-md-4
          .panel.panel-gradient(data-collapsed='0')
            //
               panel head
            .panel-heading
              .panel-title Gradient Panel
              .panel-options
                a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                  i.entypo-cog
                a(href='#', data-rel='collapse')
                  i.entypo-down-open
                a(href='#', data-rel='reload')
                  i.entypo-arrows-ccw
                a(href='#', data-rel='close')
                  i.entypo-cancel
            //
               panel body
            .panel-body
              p
                | Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
      //
         Sample Modal (Default skin)
      #sample-modal-dialog-1.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Widget Options - Default Modal
            .modal-body
              p
                | Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw. Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope. Secure active living depend son repair day ladies now.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
      //
         Sample Modal (Skin inverted)
      #sample-modal-dialog-2.modal.invert.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Widget Options - Inverted Skin Modal
            .modal-body
              p
                | Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw. Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope. Secure active living depend son repair day ladies now.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
      //
         Sample Modal (Skin gray)
      #sample-modal-dialog-3.modal.gray.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Widget Options - Gray Skin Modal
            .modal-body
              p
                | Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw. Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope. Secure active living depend son repair day ladies now.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
