extends ../layout

block content
    .bg-light.lter.b-b.wrapper-md
      h1.m-n.font-thin.h3 ListView
    .wrapper-md
      .row
        .col-sm-6.connected
          .panel.panel-info
            .panel-heading
              | Quick link
            .list-group.bg-white
              a.list-group-item(href='')
                i.fa.fa-fw.fa-envelope
                |  Inbox
              a.list-group-item(href='')
                i.fa.fa-fw.fa-eye
                |  Profile visits
              a.list-group-item(href='')
                i.fa.fa-fw.fa-phone
                |  Call
              a.list-group-item(href='')
                i.fa.fa-fw.fa-comments-o
                |  Messages
              a.list-group-item(href='')
                i.fa.fa-fw.fa-bookmark
                |  Bookmarks
              a.list-group-item(href='')
                i.fa.fa-fw.fa-bell
                |  Notifications
          .panel.panel-default
            .panel-heading
              | News 
              span.badge 32
            .panel-body
              article.media
                .pull-left
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-bold.fa-stack-1x.text-white
                .media-body
                  a.h4(href='') Bootstrap 3: What you need to know
                  small.block.m-t-xs
                    | Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.
                  em.text-xs
                    | Posted on 
                    span.text-danger Feb 23, 2013
              .line.pull-in
              article.media
                .pull-left
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x.text-info
                    i.fa.fa-file-o.fa-stack-1x.text-white
                .media-body
                  a.h4(href='') Bootstrap documents
                  small.block.m-t-xs
                    | There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
                  em.text-xs
                    | Posted on 
                    span.text-danger Feb 12, 2013
              .line.pull-in
              article.media
                .pull-left
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-mobile.fa-stack-1x.text-white
                .media-body
                  a.h4.text-success(href='') Mobile first html/css framework
                  small.block.m-t-xs Bootstrap, Ratchet
                  em.text-xs
                    | Posted on 
                    span.text-danger Feb 05, 2013
        .col-sm-6.connected
          .panel.panel-success
            .panel-heading
              | Connection
            ul.list-group.alt
              li.list-group-item
                .media
                  span.pull-left.thumb-sm
                    img.img-circle(src='img/a1.jpg', alt='...')
                  .pull-right.text-success.m-t-sm
                    i.fa.fa-circle
                  .media-body
                    div
                      a(href='') Chris Fox
                    small.text-muted about 2 minutes ago
              li.list-group-item
                .media
                  span.pull-left.thumb-sm
                    img.img-circle(src='img/a2.jpg', alt='...')
                  .pull-right.text-muted.m-t-sm
                    i.fa.fa-circle
                  .media-body
                    div
                      a(href='') Amanda Conlan
                    small.text-muted about 2 hours ago
              li.list-group-item
                .media
                  span.pull-left.thumb-sm
                    img.img-circle(src='img/a3.jpg', alt='...')
                  .pull-right.text-warning.m-t-sm
                    i.fa.fa-circle
                  .media-body
                    div
                      a(href='') Dan Doorack
                    small.text-muted 3 days ago
              li.list-group-item
                .media
                  span.pull-left.thumb-sm
                    img.img-circle(src='img/a4.jpg', alt='...')
                  .pull-right.text-danger.m-t-sm
                    i.fa.fa-circle
                  .media-body
                    div
                      a(href='') Lauren Taylor
                    small.text-muted about 2 minutes ago
          .panel.panel-default
            .panel-heading
              span.label.bg-dark 15
              |  Inbox
            .panel-body
              article.media
                span.pull-left.thumb-sm
                  img.img-circle(src='img/a1.jpg', alt='...')
                .media-body
                  .pull-right.text-center.text-muted
                    strong.h4 12:18
                    br
                    small.label.bg-light pm
                  a.h4(href='') Bootstrap 3 released
                  small.block
                    a(href='') John Smith
                    span.label.label-success Circle
                  small.block.m-t-sm
                    | Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.
              .line.pull-in
              article.media
                span.pull-left.thumb-sm
                  i.fa.fa-file-o.fa-3x
                .media-body
                  .pull-right.text-center.text-muted
                    strong.h4 17
                    br
                    small.label.bg-light feb
                  a.h4(href='') Bootstrap documents
                  small.block
                    a(href='') John Smith
                    span.label.label-info Friends
                  small.block.m-t-sm
                    | There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
              .line.pull-in
              article.media
                .media-body
                  .pull-right.text-center.text-muted
                    strong.h4 09
                    br
                    small.label.bg-light jan
                  a.h4.text-success(href='') Mobile first html/css framework
                  small.block.m-t-sm Bootstrap, Ratchet



append scripts
  script(type='text/javascript').
    $(function() {
      
    });
