extends ../layout

block content
    .hbox.hbox-auto-xs.hbox-auto-sm
      // .col
      #aside.col.w-lg.bg-light.dk.b-r.bg-auto
        .wrapper.bg.b-b
          button#centerBtn.btn.btn-sm.btn-success.pull-right Center
          h3.m-n.font-thin Timeline
        .wrapper
          form
            .form-group
              label Name
              input.input-sm.form-control(type='text', placeholder='Event name')
            .form-group
              label Date
              input.input-sm.form-control(type='text', placeholder='Event name')
            .form-group
              label Time
              input.input-sm.form-control(type='text', placeholder='eg. 3:00 pm')
            .form-group
              label Type
              div
                .btn-group.dropdown(dropdown='')
                  button.btn.btn-sm.btn-default.dropdown-toggle(data-toggle='dropdown')
                    span.dropdown-label Choose a type
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='') Travel
                    li
                      a(href='') Phone
                    li
                      a(href='') Meeting
                    li
                      a(href='') Appointment
            .m-t-md.m-b-md
              button.btn.btn-sm.btn-primary Add an event
      // /.col
      // .col
      .col
        .wrapper
          ul.timeline
            li.tl-header
              .btn.btn-info Now
            li.tl-item
              .tl-wrap.b-info
                span.tl-date 5s ago
                .tl-content
                  | Just a title
            li.tl-item
              .tl-wrap
                span.tl-date 2h ago
                .tl-content.panel.padder.b-a
                  span.arrow.left.pull-up
                  div Content in a panel
            li.tl-item.tl-left
              .tl-wrap.b-success
                span.tl-date 7:30 am
                .tl-content.panel.bg-success.padder
                  span.arrow.arrow-success.left.pull-up.hidden-left
                  span.arrow.arrow-success.right.pull-up.visible-left
                  .text-lt Oh! Colorful
            li.tl-item
              .tl-wrap.b-primary
                span.tl-date 04.2014
                .tl-content.panel.padder.b-a.w-md.w-auto-xs
                  span.arrow.left.pull-up
                  .text-lt.m-b-sm With Title
                  .panel-body.pull-in.b-t.b-light
                    a.thumb.pull-right.m-l.m-t-xs.avatar(href='')
                      img(src='img/a4.jpg', alt='...')
                      i.on.md.b-white.bottom
                    .clear
                      a.text-primary.block.m-b-xs(href='')
                        | @Mike Mcalidek 
                        i.icon-twitter
                      a.btn.btn-addon.btn-sm.btn-primary.m-t-xs(href='')
                        i.fa.fa-eye
                        |  Follow
            li.tl-item.tl-left
              .tl-wrap.b-primary
                span.tl-date 04.2014
                .tl-content.panel.padder.b-a.block
                  span.arrow.left.pull-up.hidden-left
                  span.arrow.right.pull-up.visible-left
                  .text-lt.m-b-sm Block
                  .panel-body.pull-in.b-t.b-light
                    p
                      | I'm working on a realy amazing application, It will be available soon. here is a little tease.
                    .m-b.m-t
                      a.avatar.thumb-xs.m-r-xs(href='')
                        img(src='img/a7.jpg', alt='...')
                        i.on.b-white.left
                      a.avatar.thumb-xs.m-r-xs(href='')
                        img(src='img/a8.jpg', alt='...')
                        i.busy.b-white.left
                      a.avatar.thumb-xs.m-r-xs(href='')
                        img(src='img/a9.jpg', alt='...')
                        i.away.b-white.left
                      a.avatar.thumb-xs.m-r-xs(href='')
                        img(src='img/a10.jpg', alt='...')
                        i.on.b-white.left
                      a.btn.btn-success.btn-rounded.font-bold(href='')  +152 
                      span.h5.m-l-sm Liked
                    .panel.panel-default.m-t-md.m-b-n-sm.pos-rlt
                      span.arrow.top.pull-left
                      form
                        textarea.form-control.no-border(rows='3', placeholder='Your comment...')
                      .panel-footer.bg-light.lter
                        button.btn.btn-info.pull-right.btn-sm Comment
                        ul.nav.nav-pills.nav-sm
                          li
                            a(href='')
                              i.fa.fa-camera.text-muted
                          li
                            a(href='')
                              i.fa.fa-video-camera.text-muted
            li.tl-header
              .btn.btn-sm.btn-default.btn-rounded 2014
            li.tl-item
              .tl-wrap
                span.tl-date 10.08.2013
                .tl-content.panel.padder.b-a
                  span.arrow.left.pull-up.hidden-left
                  span.arrow.right.pull-up.visible-left
                  .text-lt A good story to hear.
            li.tl-header
              .btn.btn-icon.btn-rounded.btn-default
                i.fa.fa-twitter
            li.tl-item.tl-left
              .tl-wrap.b-white
                span.tl-date 5.07.2013
                .tl-content.panel.padder.b-a
                  span.arrow.left.pull-up.hidden-left
                  span.arrow.right.pull-up.visible-left
                  .text-lt Yesterday is History
            li.tl-header
              .btn.btn-sm.btn-default.btn-rounded more
      // /.col

append scripts
  script(type='text/javascript').
    $(function() {
      $('#centerBtn').click(function(){
        $('.timeline').toggleClass('timeline-center');
        })
    });
