extends ../layout

block content
    .bg-light.lter.b-b.wrapper-md
      h1.m-n.font-thin.h3 Widgets
    .wrapper-md
      .row
        .col-lg-8
          .row
            .col-sm-6
              .panel.panel-default
                .panel-heading
                  .clearfix
                    a.pull-left.thumb-md.avatar.b-3x.m-r(href='')
                      img(src='img/a2.jpg', alt='...')
                    .clear
                      .h3.m-t-xs.m-b-xs
                        | John.Smith
                        i.fa.fa-circle.text-success.pull-right.text-xs.m-t-sm
                      small.text-muted Art director
                .list-group.no-radius.alt
                  a.list-group-item(href='')
                    span.badge.bg-success 25
                    i.fa.fa-comment.fa-fw.text-muted
                    |                 Messages
                  a.list-group-item(href='')
                    span.badge.bg-info 16
                    i.fa.fa-envelope.fa-fw.text-muted
                    |                 Inbox
                  a.list-group-item(href='')
                    span.badge.bg-light 5
                    i.fa.fa-eye.fa-fw.text-muted
                    |                 Profile visits
              .panel.panel-info
                .panel-body
                  a.thumb.pull-right.m-l.m-t-xs.avatar(href='')
                    img(src='img/a4.jpg', alt='...')
                    i.on.md.b-white.bottom
                  .clear
                    a.text-info.block.m-b-xs(href='')
                      | @Mike Mcalidek 
                      i.icon-twitter
                    a.btn.btn-addon.btn-sm.btn-info.m-t-xs(href='')
                      i.fa.fa-eye
                      |  Follow
            .col-sm-6
              .panel.panel-default
                a.text-muted.m-t-sm.m-l.inline(href='', ng-click='data=[40, 40, 20]')
                  i.icon-pie-chart
                .text-center.wrapper.m-b-sm
                  
                ul.list-group.no-radius
                  li.list-group-item
                    span.pull-right 45,000
                    span.label.bg-primary 1
                    |                 .inc company
                  li.list-group-item
                    span.pull-right 23,200
                    span.label.bg-info 2
                    |                 Gamecorp
                  li.list-group-item
                    span.pull-right 21,000
                    span.label.bg-warning 3
                    |                 Starup
        .col-lg-4
          .panel.panel-default
            .panel-body
              .clearfix.text-center.m-t
                .inline
                  .thumb-xl
                    img.img-circle(src='img/to-top.png', alt='...')
                  .h4.m-t.m-b-xs John.Smith
                  small.text-muted.m-b Art director
            footer.panel-footer.bg-info.text-center.no-padder
              .row.no-gutter
                .col-xs-4
                  .wrapper
                    span.m-b-xs.h3.block.text-white 245
                    small.text-muted Followers
                .col-xs-4.dk
                  .wrapper
                    span.m-b-xs.h3.block.text-white 55
                    small.text-muted Following
                .col-xs-4
                  .wrapper
                    span.m-b-xs.h3.block.text-white 2,035
                    small.text-muted Tweets
      .row
        .col-lg-6
          // chat
          .panel.panel-default
            .panel-heading Chat
            .panel-body
              .m-b
                a.pull-left.thumb-sm.avatar(href='')
                  img(src='img/a2.jpg', alt='...')
                .m-l-xxl
                  .pos-rlt.wrapper.b.b-light.r.r-2x
                    span.arrow.left.pull-up
                    p.m-b-none Hi John, What's up...
                  small.text-muted
                    i.fa.fa-ok.text-success
                    |  2 minutes ago
              .m-b
                a.pull-right.thumb-sm.avatar(href='')
                  img.img-circle(src='img/a3.jpg', alt='...')
                .m-r-xxl
                  .pos-rlt.wrapper.bg-primary.r.r-2x
                    span.arrow.right.pull-up.arrow-primary
                    p.m-b-none
                      | Lorem ipsum dolor sit amet, conse 
                      br
                      | adipiscing eli...
                      br
                      | :)
                  small.text-muted 1 minutes ago
            footer.panel-footer
              // chat form
              div
                a.pull-left.thumb-xs.avatar
                  img.img-circle(src='img/a3.jpg', alt='...')
                form.m-b-none.m-l-xl
                  .input-group
                    input.form-control(type='text', placeholder='Say something')
                    span.input-group-btn
                      button.btn.btn-default(type='button') SEND
          // /chat
          .panel.panel-default
            .panel-heading
              span.label.bg-dark 15
              |  News
            .panel-body(ui-jq='slimScroll', ui-options="{height:'250px', size:'8px'}")
              .media
                span.pull-left.thumb-sm
                  img(src='img/a2.jpg', alt='...')
                .media-body
                  .pull-right.text-center.text-muted
                    strong.h4 12:18
                    br
                    small.label.bg-light pm
                  a.h4(href='') Bootstrap 3 released
                  small.block
                    a(href='') John Smith
                    span.label.label-success Circle
                  small.block.m-t-sm
                    | Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.
              .line.pull-in
              .media
                span.pull-left.thumb-sm
                  i.fa.fa-file-o.fa-3x.text-muted
                .media-body
                  .pull-right.text-center.text-muted
                    strong.h4 17
                    br
                    small.label.bg-light feb
                  a.h4(href='') Bootstrap documents
                  small.block
                    a(href='') John Smith
                    span.label.label-info Friends
                  small.block.m-t-sm
                    | There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
              .line.pull-in
              .media
                .media-body
                  .pull-right.text-center.text-muted
                    strong.h4 09
                    br
                    small.label.bg-light jan
                  a.h4.text-success(href='') Mobile first html/css framework
                  small.block.m-t-sm Bootstrap, Ratchet
        .col-lg-6
          // .comment-list
          .m-b.b-l.m-l-md.streamline
            div
              a.pull-left.thumb-sm.avatar.m-l-n-md
                img.img-circle(src='img/a1.jpg', alt='...')
              .m-l-lg.panel.b-a
                .panel-heading.pos-rlt.b-b.b-light
                  span.arrow.left
                  a(href='') John smith
                  label.label.bg-info.m-l-xs Editor
                  span.text-muted.m-l-sm.pull-right
                    i.fa.fa-clock-o
                    |                 Just now
                .panel-body
                  div
                    | Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                  .m-t-sm
                    a.btn.btn-default.btn-xs.active(href='', ui-toggle-class='')
                      i.fa.fa-star-o.text-muted.text
                      i.fa.fa-star.text-danger.text-active
                      |                   Like
                    a.btn.btn-default.btn-xs(href='')
                      i.fa.fa-mail-reply.text-muted
                      |  Reply
            // .comment-reply
            .m-l-lg
              a.pull-left.thumb-sm.avatar
                img(src='img/a8.jpg', alt='...')
              .m-l-xxl.panel.b-a
                .panel-heading.pos-rlt
                  span.arrow.left.pull-up
                  span.text-muted.m-l-sm.pull-right
                    i.fa.fa-clock-o
                    |                 10m ago
                  a(href='') Mika Sam
                  |               Report this comment is helpful
            // / .comment-reply
            div
              a.pull-left.thumb-sm.avatar.m-l-n-md
                img(src='img/a9.jpg', alt='...')
              .m-l-lg.panel.b-a
                .panel-heading.pos-rlt.b-b.b-light
                  span.arrow.left
                  a(href='') By me
                  label.label.bg-success.m-l-xs User
                  span.text-muted.m-l-sm.pull-right
                    i.fa.fa-clock-o
                    |                 1h ago
                .panel-body
                  div This comment was posted by you.
            div
              a.pull-left.thumb-sm.avatar.m-l-n-md
                img(src='img/a5.jpg', alt='...')
              .m-l-lg.panel.b-a
                .panel-heading.pos-rlt.b-b.b-light
                  span.arrow.left
                  a(href='') Peter
                  label.label.bg-primary.m-l-xs Vip
                  span.text-muted.m-l-sm.pull-right
                    i.fa.fa-clock-o
                    |                 2hs ago
                .panel-body
                  blockquote
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    small
                      | Someone famous in 
                      cite(title='Source Title') Source Title
                  div Lorem ipsum dolor sit amet, consecteter adipiscing elit...
                  .m-t-sm
                    a.btn.btn-default.btn-xs(href='', data-toggle='class')
                      i.fa.fa-star-o.text-muted.text
                      i.fa.fa-star.text-danger.text-active
                      |                   Like
                    a.btn.btn-default.btn-xs(href='')
                      i.fa.fa-mail-reply.text-muted
                      |  Reply
          .clearfix.m-b-lg
            a.pull-left.thumb-sm.avatar
              img(src='img/a6.jpg', alt='...')
            .m-l-xxl
              form.m-b-none
                .input-group
                  input.form-control.input-lg(type='text', placeholder='Input your comment here')
                  span.input-group-btn
                    button.btn.btn-info.btn-lg(type='button') POST
      .row
        .col-sm-6
          .list-group
            a.list-group-item(href='')
              span.badge.badge-empty 201
              i.fa.fa-envelope.fa-fw.m-r-xs
              |  Inbox
            a.list-group-item(href='')
              span.badge.bg-info 5021
              i.fa.fa-eye.fa-fw.m-r-xs
              |  Profile visits
            a.list-group-item(href='')
              i.fa.fa-chevron-right.text-muted
              span.badge.bg-success 14
              i.fa.fa-phone.fa-fw.m-r-xs
              |  Call
            a.list-group-item(href='')
              span.badge.bg-dark 20
              i.fa.fa-comments-o.fa-fw.m-r-xs
              |  Messages
            a.list-group-item(href='')
              span.badge.bg-warning 14
              i.fa.fa-bookmark.fa-fw.m-r-xs
              |  Bookmarks
            a.list-group-item(href='')
              span.badge.bg-info 30
              i.fa.fa-bell.fa-fw.m-r-xs
              |  Notifications
            a.list-group-item(href='')
              span.badge.bg-danger 10
              i.fa.fa-clock-o.fa-fw.m-r-xs
              |  Watch
          .m-b.m-t-lg
            a.avatar.thumb-xs.m-r-xs(href='')
              img(src='img/a7.jpg', alt='...')
              i.on.b-white
            a.avatar.thumb-xs.m-r-xs(href='')
              img(src='img/a8.jpg', alt='...')
              i.busy.b-white
            a.avatar.thumb-xs.m-r-xs(href='')
              img(src='img/a9.jpg', alt='...')
              i.away.b-white
            a.avatar.thumb-xs.m-r-xs(href='')
              img(src='img/a10.jpg', alt='...')
              i.on.b-white
            a.btn.btn-success.btn-rounded.font-bold(href='')  +152 
        .col-sm-6
          .panel.b-a
            .panel-heading.b-b.b-light
              span.badge.bg-warning.pull-right 10
              a.font-bold(href='') Messages
            ul.list-group.list-group-lg.no-bg.auto
              li.list-group-item.clearfix
                span.pull-left.thumb-sm.avatar.m-r
                  img(src='img/a4.jpg', alt='...')
                  i.on.b-white.bottom
                span.clear
                  span Chris Fox
                  small.text-muted.clear.text-ellipsis What's up, buddy
              li.list-group-item.clearfix
                span.pull-left.thumb-sm.avatar.m-r
                  img(src='img/a5.jpg', alt='...')
                  i.on.b-white.bottom
                span.clear
                  span Amanda Conlan
                  small.text-muted.clear.text-ellipsis Come online and we need talk about the plans that we have discussed
              li.list-group-item.clearfix
                span.pull-left.thumb-sm.avatar.m-r
                  img(src='img/a6.jpg', alt='...')
                  i.busy.b-white.bottom
                span.clear
                  span Dan Doorack
                  small.text-muted.clear.text-ellipsis Hey, Some good news
              li.list-group-item.clearfix
                span.pull-left.thumb-sm.avatar.m-r
                  img(src='img/a7.jpg', alt='...')
                  i.away.b-white.bottom
                span.clear
                  span Lauren Taylor
                  small.text-muted.clear.text-ellipsis Nice to talk with you.
            .clearfix.panel-footer
              .input-group
                input.form-control.input-sm.btn-rounded(type='text', placeholder='Search')
                span.input-group-btn
                  button.btn.btn-default.btn-sm.btn-rounded(type='submit')
                    i.fa.fa-search


append scripts
  script(type='text/javascript').
    $(function() {

    });
